{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% include 'DaVinciTaxiBundle::breadcrumbs.html.twig' %}
<div class="wrapper-content"><div class="content">
    {% if error %}
    <div>{{ error|trans }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="uk-form uk-form-horizontal fos_user_registration_register  authorizat">
        <h3>{{ 'Login or Register'|trans}}</h3>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.emailmobile'|trans }}" />
            <input type="password" id="password" name="_password" required="required" placeholder ="{{ 'security.login.password'|trans }}" />
            <div class="clear"></div>
            <p class="blue"><a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot your password?'|trans }}</a></p>
            <input class="uk-button nextbutt" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

            <input type="button" class="uk-button float_left nextbutt btn-red" onclick="location.href = '{{ path("fos_user_registration_register") }}';" value="Sign Up"  />
			

			<a class="loginfb" href="#"> </a>
			<a class="logintw" href="#"> </a>

			</form>
</div></div>

{% endblock fos_user_content %}
