<div id="about_class_cars" class="uk-modal cars-class">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        	<h3>Calculation price</h3>
        	<table>
        		<thead>
        			<tr>
        				<td>#</td>
        				<td>{{'Class'|trans}}</td>
        				<td>
        					<i class="mp-icon-person"></i>
        				</td>
        				<td>
        					<i class="mp-icon-bug"></i>
        				</td>
        				<td>
        					<i class="mp-icon-door"></i>
        				</td>
        				<td>{{'Price'|trans}} ($)</td>
        				<td>{{'Tips'|trans}} ($)</td>
        				<td>{{'Sum'|trans}} ($)</td>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td>1</td>
        				<td>{{'Economy'|trans}}</td>
        				<td>5</td>
        				<td>2</td>
        				<td>2/4</td>
        				<td>18</td>
        				<td>2</td>
        				<td>20</td>
        			</tr>
        			<tr>
        				<td>2</td>
        				<td>{{'Compact'|trans}}</td>
        				<td>5</td>
        				<td>2</td>
        				<td>2/4</td>
        				<td>19</td>
        				<td>2</td>
        				<td>21</td>
        			</tr>
        			<tr>
        				<td>3</td>
        				<td>{{'Midsize'|trans}}</td>
        				<td>5</td>
        				<td>3</td>
        				<td>2/4</td>
        				<td>21</td>
        				<td>2</td>
        				<td>25</td>
        			</tr>
        			<tr>
        				<td>4</td>
        				<td>{{'Standart'|trans}}</td>
        				<td>5</td>
        				<td>3/4</td>
        				<td>2/4</td>
        				<td>25</td>
        				<td>3</td>
        				<td>28</td>
        			</tr>
        			<tr>
        				<td>5</td>
        				<td>{{'Full size'|trans}}</td>
        				<td>5</td>
        				<td>4/5</td>
        				<td>2/4</td>
        				<td>27</td>
        				<td>3</td>
        				<td>30</td>
        			</tr>
        			<tr>
        				<td>6</td>
        				<td>{{'Van'|trans}}</td>
        				<td>7</td>
        				<td>4/5</td>
        				<td>2/4</td>
        				<td>36</td>
        				<td>4</td>
        				<td>40</td>
        			</tr>
        			<tr>
        				<td>7</td>
        				<td>{{'Pickup'|trans}}</td>
        				<td>2</td>
        				<td>5</td>
        				<td>2</td>
        				<td>39</td>
        				<td>4</td>
        				<td>43</td>
        			</tr>
        			<tr>
        				<td>8</td>
        				<td>{{'SUV'|trans}}</td>
        				<td>5</td>
        				<td>2</td>
        				<td>4</td>
        				<td>50</td>
        				<td>5</td>
        				<td>55</td>
        			</tr>
        			<tr>
        				<td>9</td>
        				<td>{{'Convertible'|trans}}</td>
        				<td>4</td>
        				<td>2</td>
        				<td>2/4</td>
        				<td>76</td>
        				<td>8</td>
        				<td>84</td>
        			</tr>
        			<tr>
        				<td>10</td>
        				<td>{{'Premium'|trans}}</td>
        				<td>5</td>
        				<td>2/4</td>
        				<td>2/4</td>
        				<td>88</td>
        				<td>9</td>
        				<td>97</td>
        			</tr>
        			<tr>
        				<td>11</td>
        				<td>{{'Luxury'|trans}}</td>
        				<td>5</td>
        				<td>4/5</td>
        				<td>2/4</td>
        				<td>91</td>
        				<td>9</td>
        				<td>100</td>
        			</tr>
        			<tr>
        				<td>12</td>
        				<td>{{'Special med car'|trans}}</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        			</tr>
        			<tr>
        				<td>13</td>
        				<td>{{'Special cargo car'|trans}}</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        				<td>?</td>
        			</tr>
        		</tbody>
        	</table>
        	<a href="#" class="uk-button uk-button-success uk-modal-close">{{'I understand'|trans}}</a>
    </div>
</div>