<<<<<<< HEAD
{{ form_widget(form.edit_passenger_request) }}
{% include 'DaVinciTaxiBundle:Home:editBlock1.html.twig' %}
{% include 'DaVinciTaxiBundle:Home:editBlock2.html.twig' %}
{% include 'DaVinciTaxiBundle:Home:editBlock3.html.twig' %}
<div class="confirmation uk-margin-top">
    <button id="back_passenger_request_button" class="uk-button uk-button-warning uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-3" value="">Back</futton>
    <button id="confirm_passenger_request_button" class="uk-button uk-button-danger uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-3">Finish</futton>
</div>
=======
{% macro editRequest(request, form, name) %}
    {# Modal window #}
    <div id="route_{{ name }}_{{ request.id }}" class="uk-modal pop-up route-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="popup-head">{{ request.routePoints[0].place }} {% for point in request.routePoints %}{% if loop.index > 1 %} - {{ point.place }}{% endif %}{% endfor %}</div>
            <div class="order-step-four">
                <div id="steps" class="order-details-over">
                    <div class="check-order">
                        <div class="passenger-info">
                            <div class="wrap-left">
                                <dl class="quantity">
                                    <h1 class="labels">{{'Passenger info'|trans}}</h1>
                                    <hr>
                                    <dt>{{'Quantity'|trans}}:</dt><dd>{{'Adults'|trans}} ({{ request.passengerDetail.adult }}), {{'children'|trans}} ({{ request.passengerDetail.children }}), {{'seniors'|trans}} ({{ request.passengerDetail.seniors }})</dd>
                                    {% if request.passengerDetail.notMySelf == true %}
                                        <dd class="uk-width-1-1">{{"I am making this booking on anofer\'s behalf."|trans}}</dd>
                                    {% else %}
                                        <dd class="uk-hidden">&nbsp;</dd>	
                                    {% endif %}
                                    {% if request.passengerDetail.picture.path is defined %}
                                        <dt class="photo">
                                            <img src="{{ request.passengerDetail.picture.path|imagine_filter('passenger_avatar') }}" height="{{ request.passengerDetail.picture.height }}" width="{{ request.passengerDetail.picture.width }}" />
                                        </dt>
                                    {% endif %}	
                                    <dd class="personal">
                                        <dl>
                                            <dt>{{'Name'|trans}}:</dt><dd>{{ request.passengerDetail.name }}</dd>
                                            <dt>{{'E-mail'|trans}}:</dt><dd>{{ request.passengerDetail.email }}</dd>
                                            {% if request.passengerDetail.skype != '' %}
                                                <dt>{{'Skype'|trans}}:</dt><dd>{{ request.passengerDetail.skype }}</dd>
                                            {% endif %}	
                                            <dt>{{'Mobile'|trans}}:</dt><dd>+{{ request.passengerDetail.mobileCode }} {{ request.passengerDetail.mobilePhone }}</dd>
                                            {% if request.passengerDetail.mobileHasWifi == true or request.passengerDetail.mobileHasWhatsapp == true %}
                                                <dt>{{'Your mobile have'|trans}}:</dt><dd>{% if request.passengerDetail.mobileHasWifi %}wi-fi{% endif %}&nbsp;{% if request.passengerDetail.mobileHasWhatsapp %}whatsapp{% endif %}</dd>
                                            {% endif %}	
                                        </dl>
                                    </dd>
                                    {% if request.passengerDetail.about != '' %}
                                        <dt class="about">{{'About passenger'|trans}}</dt>
                                        <dd class="about">{{ request.passengerDetail.about }}</dd>
                                    {% endif %}
                                </dl>
                                <div class="tariff">
                                <h1 class="labels">{{'Fare'|trans}}</h1>
                                <hr>
                                    <dl class="price">
                                        <dt>{{'Price'|trans}}:</dt><dd> ${{ request.tariff.price }}</dd>
                                        <dt>{{'Tips'|trans}}:</dt><dd> ${{ request.tariff.tips }}</dd>
                                    </dl>
                                    <dl class="payment">
                                        <dt>{{'Payment'|trans}}:</dt><dd>{{ request.tariff.pricePaymentMethod }}</dd>
                                        <dt>{{'Payment'|trans}}:</dt><dd>{{ request.tariff.tipsPaymentMethod }}</dd>
                                    </dl>
                                </div>
                                <div class="route-info">
                                <h1 class="labels">{{'Route info'|trans}}
                                    </h1>
                                <hr>
                                {#
                                <div class="desticlone">
                                    {% for point in request.routePoints %}
                                        <div class="form-block-wrap">	
                                            <div class="labels{% if loop.index0 > 1 %} new-point-icon{% endif %}">
                                                <label for="createPassengerRequestRouteInfo_routePoints_{{ loop.index0 }}_place"><i class="mp-icon-point-a"></i>
                                                    {% if loop.index == 1 %} From{% else %} To{% endif %}:
                                                </label><i class="uk-icon-asterisk"></i>
                                            </div>
                                            <div class="inputs">
                                                <div class="uk-form-icon">
                                                    <i class="mp-icon-nord-star"></i>
                                                    <input type="text" id="createPassengerRequestRouteInfo[routePoints][{{ loop.index0 }}}][place]" name="createPassengerRequestRouteInfo[routePoints][{{ loop.index0 }}}][place]" value="{{ point.place }}" />
                                                </div>
                                            </div>
                                        </div>
                                     {% endfor %}
                                </div>
                                #}
                                <input type="hidden" id="createPassengerRequestRouteInfo[distance]" name="createPassengerRequestRouteInfo[distance]" value="{{ request.distance }}" />
                                <input type="hidden" id="createPassengerRequestRouteInfo[duration]" name="createPassengerRequestRouteInfo[duration]" value="{{ request.duration }}" />
                                <dl>
                                    {% for point in request.routePoints %}
                                        {% if loop.index > 1 %}
                                            <dt>{{'To'|trans}}:</dt>
                                        {% else %}    
                                            <dt>{{'From'|trans}}:</dt>
                                        {% endif %}
                                        <dd>
                                            <input type="text" id="createPassengerRequestRouteInfo[routePoints][{{ loop.index0 }}}][place]" name="createPassengerRequestRouteInfo[routePoints][{{ loop.index0 }}}][place]" value="{{ point.place }}" />
                                        </dd>
                                    {% endfor %}
                                    <dt>{{'Pick up'|trans}}:</dt><dd>{{ request.pickUpDate|date("d M Y") }}, {{ request.pickUpTime|date("H:i") }}</dd>
                                    {% if request.roundTrip %}
                                        <dt>{{'Return'|trans}}:</dt><dd>{{ request.returnDate|date("d M Y") }}, {{ request.returnTime|date("H:i") }}</dd>
                                    {% endif %}	
                                </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-details-over disloc">
                    <div class="check-order">
                        <div class="passenger-info">
                            <div class="wrap-left">
                                <div class="vechicle">
                                    <h1 class="labels">{{'Vehicle'|trans}}</h1>
                                    <hr/>
                                    <dl>
                                        <dt>{{'Class'|trans}}:</dt><dd><span>{{ request.vehicle.getVehicleClassName() }}</span><i class="mp-icon-person"></i>5<i class="mp-icon-bug"></i>5<i class="mp-icon-door"></i>5</dd>
                                    </dl>
                                </div>
                                <div class="other-passenger-details">
                                    <div class="order-details">
                                        <div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon"><span class="uk-parent">{{'For kids, pets and baggage'|trans}}</span></div>
                                        <div class="kid-pat-bag" id="toggle12">
                                            <dl class="child-pet">
                                                {% for childSeat in request.vehicleOptions.childSeats %}
                                                    {% if childSeat.childSeatNumber > 0 %}
                                                        <dt>{{'child seat'|trans}}</dt><dd>{{ childSeat.childSeatNumber }} ({{ childSeat.getChildSeatTypeName() }})</dd>
                                                    {% endif %} 
                                                {% endfor %}
                                                {% for petCage in request.vehicleOptions.petCages %}
                                                    {% if petCage.petCageNumber > 0 %}
                                                        <dt>{{'pet cage'|trans}}</dt><dd>{{ petCage.petCageNumber }} ({{ petCage.getPetCageTypeName() }})</dd>
                                                    {% endif %} 
                                                {% endfor %}
                                            </dl>
                                          <dl class="rack-left">
                                            {% if request.vehicleOptions.cycleRack > 0 %}
                                                <dt>{{'cycle rack'|trans}}</dt><dd>{{ request.vehicleOptions.cycleRack }}</dd>
                                            {% endif %}
                                            {% if request.vehicleOptions.strollerPlace > 0 %}   
                                                <dt>{{'place for strollers'|trans}}</dt><dd>{{ request.vehicleOptions.strollerPlace }}</dd>
                                            {% endif %} 
                                            {% if request.vehicleOptions.roofRack == true %}
                                                <dt>{{'roof rack'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                            {% endif %}
                                          </dl>
                                          <dl class="rack-right">
                                            {% if request.vehicleOptions.skiRack > 0 %}
                                                <dt>{{'cycle rack'|trans}}</dt><dd>{{ request.vehicleOptions.skiRack }}</dd>
                                            {% endif %}
                                            {% if request.vehicleOptions.wheelChairPlace > 0 %} 
                                                <dt>{{'place for strollers'|trans}}</dt><dd>{{ request.vehicleOptions.wheelChairPlace }}</dd>
                                            {% endif %} 
                                            {% if request.vehicleOptions.trailer == true %}
                                                <dt>{{'roof rack'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                            {% endif %}
                                          </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-details">
                                    <div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon"><span class="uk-parent">{{'Additional services'|trans}}</span></div>							
                                        <div class="more-details" id="toggle11">
                                          <div class="message">{{'All this items are optional. You should ask driver about the price'|trans}}.</div>
                                          <dl class="cheks1">
                                            {% if request.vehicleServices.wifi == true %}
                                                <dt>{{'wi-fi'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleServices.airConditioner == true %}
                                                <dt>{{'air conditioner'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleServices.nonSmokers == true %}
                                                <dt>{{'car for none smokers'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                          </dl>
                                          <dl class="cheks2">
                                            {% if request.vehicleServices.gps == true %}
                                                <dt>{{'GPS'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleServices.sunRoof == true %}
                                                <dt>{{'sunroof'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleServices.firstAidKit == true %}
                                                <dt>{{'first aid kid'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                          </dl>
                                          <dl class="comfort">
                                            {% if request.vehicleServices.coolDrinks != '' %}
                                                <dt class="uk-width-1-1">{{'cool drinks'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicleServices.coolDrinks }}</dd>
                                            {% endif %}
                                            {% if request.vehicleServices.snacks != '' %}
                                                <dt class="uk-width-1-1">{{'snacks'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicleServices.snacks }}</dd>
                                            {% endif %}
                                            {% if request.vehicleServices.dvd != '' %}
                                                <dt class="uk-width-1-1">{{'DVD'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicleServices.dvd }}</dd>
                                            {% endif %}
                                            {% if request.vehicleServices.gadgets != '' %}
                                                <dt class="uk-width-1-1">{{'gadgets'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicleServices.gadgets }}</dd>
                                            {% endif %}
                                            {% if request.vehicleServices.toolsForDisabled != '' %}
                                                <dt class="uk-width-1-1">{{'tools for disabled'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicleServices.toolsForDisabled }}</dd>
                                            {% endif %}
                                            {% if request.vehicleServices.disease != '' %}
                                                <dt class="uk-width-1-1">{{'passenger has a disease'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicleServices.disease }}</dd>
                                            {% endif %}
                                          </dl>
                                    </div>
                                    <div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon"><span class="uk-parent">{{'Additional driver`s services'|trans}}</span></div>
                                        <div class="more-details" id="toggle10">
                                          {% if request.vehicleDriverConditions.interpreterLang != '' %}
                                            <dl class="interpreter">
                                                <dt>{{'interpreter'|trans}}</dt><dd>{{ request.vehicleDriverConditions.interpreterLang }}</dd>
                                            </dl>		
                                          {% endif %}
                                        <dl class="cheks1">
                                            {% if request.vehicleDriverConditions.educator == true %}
                                                <dt>{{'educator'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleDriverConditions.bodyguard == true %}
                                                <dt>{{'bodyguard'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleDriverConditions.carrier == true %}
                                                <dt>{{'carrier'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                         </dl>
                                        <dl class="cheks2">
                                            {% if request.vehicleDriverConditions.medicalLicense == true %}
                                                <dt>{{'medical license'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleDriverConditions.animalTrainer == true %}
                                                <dt>{{'animal trainer'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                            {% if request.vehicleDriverConditions.guide == true %}
                                                <dt>{{'guide'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>	
                                            {% endif %}
                                        </dl>
                                        {% if request.vehicle.specialRequirements != '' %}
                                            <dl class="special">
                                                <dt class="uk-width-1-1">{{'Special requirements'|trans}}</dt>
                                                <dd class="uk-width-1-1">{{ request.vehicle.specialRequirements }}</dd>
                                            </dl>	
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="disloc bottom">
                <div id="calculate_route">
                    <div id="route_result">
                        <div>
                            <i class="mp-icon-timer uk-text-danger"></i>
                            <span id="duration_route">{{ request.getFormattedDuration() }} mins</span>
                        </div>
                        <div>
                            <i class="mp-icon-direction uk-text-danger"></i>
                            <span id="distance_route">{{ request.getFormattedDistance() }} km / {{ request.getDistanceInMiles() }} mi</span>
                        </div>
                        <div><i class="mp-icon-calculate uk-text-danger"></i><span id="price_route">${{ request.tariff.price }}</span></div>
                    </div>
                </div>
                <div id="map-canvas" style="height: 500px;"></div>
            </div>
            <div class="confirmation uk-margin-top">
                <button class="uk-button uk-button-danger uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-3">Buy</button>
            </div>
        </div>
    </div>
{% endmacro %}
>>>>>>> a24e8f82609708ef5169a7abc4f8f8a29955fb78
