{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'main_driver' %}
{% block title %}
    {% include 'DaVinciTaxiBundle:Banners:banner1.html.twig' %}
{% endblock %}

{% block body %}
<div class="home">
	<div class="shadow-main whitebg">
		<div class="tabtaxi">
			<ul class="uk-tab uk-tab-grid">
				<li class="uk-width-1-2 red-drive">
					<a href="{{ url('da_vinci_taxi_homepage') }}" class="child"><span>{{'Book your trip'|trans}}</span></a>
				</li>
				<li class="uk-width-1-2 current blue-drive">
					<a href="#" class="child"><span>{{'Choose best passenger'|trans}}</span></a>
				</li>
			</ul>
		</div>
		{#<div class="message">
			 <span class="uk-text-danger">{{ 'Внимание'|trans }}! </span>{{ 'Не забывайте подтвердит вашу готовность выполнить заказ'|trans }}! 
		</div>#}
	</div>	
	    {% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var liphone_utils_path = "{{ asset('bundles/davincitaxi/js/intl-tel-input-master/lib/libphonenumber/build/utils.js') }}";
    </script>
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/offices/office.driver.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}