<div class="wrap-left">
    <div class="order-details-over">
        <h1 class="labels">{{'Vehicle'|trans}} <i class="uk-icon-question-circle uk-primary" data-uk-tooltip="{pos:'right'}"  title="{{'Choose car for individual or group trip'|trans}}"></i></h1>
		<div class="order-details  select-group">
			<div class="kids-pats-line top-group">
				<label for="createPassengerRequestStepVehicleInfo_vehicle_vehicle_class" class="label-header">{{'Class:'|trans}}</label>
				<div class="object">
                    {{ form_widget(form.vehicle.vehicle_class, {'attr': {'class': 'chosen'}}) }}
                </div>
				<div class="errors">
                    {{ form_errors(form.vehicle.vehicle_class) }}
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon" data-uk-toggle="{target:'#baggage'}"><span class="uk-parent">{{'For kids, pats and baggage'|trans}}<a href=""></a> <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Talk to driver via Skype about conditions'|trans}}"></span></span></div>
			<div class="uk-hidden kids-pats-wrap" id="baggage">
				<div class="kids-pats-group">
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStepVehicleInfo_vehicle_options_child_seats_0_child_seat_number">
							<span class="uk-form-controls">{{'child seat'|trans}} </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStepVehicleInfo[vehicle_options][child_seats][0][child_seat_number]">
								<option selected="selected" value="0">0</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.child_seats[0].child_seat_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStepVehicleInfo_vehicle_options_child_seats_1_child_seat_number">
							<span class="uk-form-controls">{{'child seat'|trans}} </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStepVehicleInfo[vehicle_options][child_seats][1][child_seat_number]">
								<option selected="selected" value="0">0</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
						</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.child_seats[1].child_seat_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStepVehicleInfo_vehicle_options_child_seats_2_child_seat_number">
							<span class="uk-form-controls">{{'child seat'|trans}} </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStepVehicleInfo[vehicle_options][child_seats][2][child_seat_number]">
								<option selected="selected" value="0">0</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
						</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.child_seats[2].child_seat_type) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-group">
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStepVehicleInfo_vehicle_options_pet_cages_0_pet_cage_number">
							<span class="uk-form-controls">{{'pet cage'|trans}} </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStepVehicleInfo[vehicle_options][pet_cages][0][pet_cage_number]">
								<option selected="selected" value="0">0</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.pet_cages[0].pet_cage_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStepVehicleInfo_vehicle_options_pet_cages_1_pet_cage_number">
							<span class="uk-form-controls">{{'pet cage'|trans}} </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStepVehicleInfo[vehicle_options][pet_cages][1][pet_cage_number]">
								<option selected="selected" value="0">0</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.pet_cages[1].pet_cage_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStepVehicleInfo_vehicle_options_pet_cages_2_pet_cage_number">
							<span class="uk-form-controls">{{'pet cage'|trans}} </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStepVehicleInfo[vehicle_options][pet_cages][2][pet_cage_number]">
								<option selected="selected" value="0">0</option>
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.pet_cages[2].pet_cage_type) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-group">
					<div class="kids-pats-line">
						<div class="left-group">
							<label for="createPassengerRequestStepVehicleInfo_vehicle_options_cycle_rack">
								<span class="uk-form-controls">{{'cycle rack'|trans}} </span>
							</label>
							<div class="amount">
								<select id="createPassengerRequestStepVehicleInfo_vehicle_options_cycle_rack" name="createPassengerRequestStepVehicleInfo[vehicle_options][cycle_rack]">
									<option selected="selected" value="0">0</option>
		                            <option value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
						<div class="right-group">
							<label for="createPassengerRequestStepVehicleInfo_vehicle_options_ski_rack">
								<span class="uk-form-controls">{{'cycle rack'|trans}} </span>
							</label>
							<div class="amount">
								<select id="createPassengerRequestStepVehicleInfo_vehicle_options_ski_rack" name="createPassengerRequestStepVehicleInfo[vehicle_options][ski_rack]">
									<option selected="selected" value="0">0</option>
		                            <option value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
					</div>
					<div class="kids-pats-line">
						<div class="left-group">
							<label for="createPassengerRequestStepVehicleInfo_vehicle_options_stroller_place">
								<span class="uk-form-controls">{{'place for strollers'|trans}} </span>
							</label>
							<div class="amount">
								<select name="createPassengerRequestStepVehicleInfo[vehicle_options][stroller_place]">
									<option selected="selected" value="0">0</option>
		                            <option value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
						<div class="right-group">
							<label for="createPassengerRequestStepVehicleInfo_vehicle_options_wheel_chair_place">
								<span class="uk-form-controls">{{'wheelchairs place'|trans}} </span>
							</label>
							<div class="amount">
								<select name="createPassengerRequestStepVehicleInfo[vehicle_options][wheel_chair_place]">
									<option selected="selected" value="0">0</option>
		                            <option value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
					</div>
					<div class="kids-pats-line">
						<div class="left-group">
							<label for="createPassengerRequestStepVehicleInfo_vehicle_options_roof_rack">
								<input name="createPassengerRequestStepVehicleInfo[vehicle_options][roof_rack]" type="checkbox" />
								<span class="uk-form-controls">&nbsp;&nbsp;{{'roof rack'|trans}}</span>
							</label>
						</div>
						<div class="right-group">
							<label for="createPassengerRequestStepVehicleInfo_vehicle_options_trailer">
								<input name="createPassengerRequestStepVehicleInfo[vehicle_options][trailer]" type="checkbox" />
								<span class="uk-form-controls">&nbsp;&nbsp;{{'trailer'|trans}}</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon" data-uk-toggle="{target:'#additional'}"><span class="uk-parent">{{'Additional services'|trans}} <a href=""></a><span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Set price and conditions with driver'|trans}}"></span></span></div>
			<div class="kids-pats-group additional uk-hidden kids-pats-wrap" id="additional">
				<div class="kids-pats-line">
					<div class="left-group">
						<label for="createPassengerRequestStepVehicleInfo_vehicle_services_wifi">
							<input name="createPassengerRequestStepVehicleInfo[vehicle_services][wifi]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'wi-fi'|trans}}</span>
						</label>
					</div>
					<div class="right-group">
						<label for="createPassengerRequestStepVehicleInfo[vehicle_services][gps]">
							<input name="createPassengerRequestStepVehicleInfo_vehicle_services_gps" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'GPS'|trans}}</span>
						</label>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<div class="errors">
							{{ form_errors(form.vehicle_services.air_conditioner) }}
						</div>
						<label for="createPassengerRequestStepVehicleInfo[vehicle_services][air_conditioner]">
							<input name="createPassengerRequestStepVehicleInfo_vehicle_services_air_conditioner" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'air conditioner'|trans}}</span>
						</label>
					</div>
					<div class="right-group">
						<label for="createPassengerRequestStepVehicleInfo_vehicle_services_sun_roof">
							<input name="createPassengerRequestStepVehicleInfo[vehicle_services][sun_roof]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'sunroof'|trans}}</span>
						</label>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label for="createPassengerRequestStepVehicleInfo_vehicle_services_non_smokers">
							<input name="createPassengerRequestStepVehicleInfo[vehicle_services][non_smokers]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'car for non smokers'|trans}}</span>
						</label>
					</div>
					<div class="right-group">
						<label for="createPassengerRequestStepVehicleInfo_vehicle_services_first_aid_kit">
							<input name="createPassengerRequestStepVehicleInfo[vehicle_services][first_aid_kit]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'first aid kit'|trans}}</span>
						</label>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label>
						<span class="uk-form-controls">&nbsp;&nbsp;{{'cool drinks'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Tell your preferences'|trans}}"></span></span>
					</label>
					<div id="cool_drinks" class="wishes-1">
						{{ form_widget(form.vehicle_services.cool_drinks, {'attr': {'placeholder': "For example: аллергия на шерсть или диабет.",  'class': "charcount", 'maxlength' : "200"}}) }}
					<h6 class="precounter">{{'symbols left:'|trans}}</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label>
						<span class="uk-form-controls">&nbsp;&nbsp;{{'snacks'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Tell your dietary needs'|trans}}"></span></span>
					</label>
					<div id="snacks_textarea" class="wishes-1">
						{{ form_widget(form.vehicle_services.snacks, {'attr': {'placeholder': "For example: ",  'class': "charcount", 'maxlength' : "200"}}) }}
					<h6 class="precounter">{{'symbols left:'|trans}}</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label>
						<span class="uk-form-controls">&nbsp;&nbsp;{{'dvd'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Tell your preferences'|trans}}"></span></span>
					</label>
					<div id="dvd_textarea" class="wishes-1">
						{{ form_widget(form.vehicle_services.dvd, {'attr': {'placeholder': "For example: ",  'class': "charcount", 'maxlength' : "200"}}) }}
					<h6 class="precounter">{{'symbols left:'|trans}}</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label>
						<span class="uk-form-controls">&nbsp;&nbsp;{{'gadgets chargers'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Tell type and brand'|trans}}"></span></span>
					</label>
					<div id="gadgets_chargers" class="wishes-1">
						{{ form_widget(form.vehicle_services.gadgets, {'attr': {'placeholder': "For example: ",  'class': "charcount", 'maxlength' : "200"}}) }}
					<h6 class="precounter">{{'symbols left:'|trans}}</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label>
						<span class="uk-form-controls">&nbsp;&nbsp;{{'disabled transportation tools'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Indicate special stuff'|trans}}"></span></span>
					</label>
					<div id="disabled_transportation_tools" class="wishes-1">
						{{ form_widget(form.vehicle_services.tools_for_disabled, {'attr': {'placeholder': "For example: ",  'class': "charcount", 'maxlength' : "200"}}) }}
					<h6 class="precounter">{{'symbols left:'|trans}}</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label>
						<span class="uk-form-controls">&nbsp;&nbsp;{{'passenger has disease'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Notify driver'|trans}}"></span></span>
					</label>
					<div id="passenger_has_an_disease" class="wishes-1">
						{{ form_widget(form.vehicle_services.disease, {'attr': {'placeholder': "For example: ",  'class': "charcount", 'maxlength' : "200"}}) }}
					<h6 class="precounter">{{'symbols left:'|trans}}</h6>
						<div class="errors">
							{{ form_errors(form.vehicle_services.disease) }}
						</div>
					</div>
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon" data-uk-toggle="{target:'#drivers-conditions'}"><span class="uk-parent">{{'Additional drivers conditions'|trans}} <a href=""></a><span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Choose driver to assist your trip'|trans}}"></span></span></div>
			<div class="kids-pats-group uk-hidden aditional-driver" id="drivers-conditions">
				<div class="kids-pats-line">
					<input type="checkbox" />
					<label class="interp">
						<span class="uk-form-controls">&nbsp;&nbsp;{{'interpreter'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Choosing the driver as a translator select required language'|trans}}"></span></span>
					</label>
					<!--div class="uk-button uk-form-select select choose-lang"-->
					<div class="wishes-1">
						{{ form_widget(form.vehicle_driver_conditions.interpreter_lang, {'attr': {'placeholder': "Choose a language"}}) }}
					</div>
					<div class="errors">
						{{ form_errors(form.vehicle_driver_conditions.interpreter_lang) }}
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label>
							<input name="createPassengerRequestStepVehicleInfo[vehicle_driver_conditions][educator]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'educator'|trans}}</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.educator) }}
						</div>
					</div>
					<div class="right-group">
						<label>
							<input name="createPassengerRequestStepVehicleInfo[vehicle_driver_conditions][medical_liscence]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'medical liscence'|trans}}</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.medical_license) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label>
							<input name="createPassengerRequestStepVehicleInfo[vehicle_driver_conditions][body_guard]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'bodyguard'|trans}}</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.body_guard) }}
						</div>
					</div>
					<div class="right-group">
						<label>
							<input name="createPassengerRequestStepVehicleInfo[vehicle_driver_conditions][animal_trainer]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'animal trainer'|trans}}</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.animal_trainer) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label>
							<input name="createPassengerRequestStepVehicleInfo[vehicle_driver_conditions][carrier]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'carrier'|trans}}</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.carrier) }}
						</div>
					</div>
					<div class="right-group">
						<label>
							<input name="createPassengerRequestStepVehicleInfo[vehicle_driver_conditions][guide]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;{{'guide'|trans}}</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.guide) }}
						</div>
					</div>
				</div>
			</div>
			<div class="wishes-2">
				<h4>Special requirements</h4>
				{{ form_widget(form.vehicle.special_requirements, {'attr': {'placeholder': 'For example: ',  'class': "charcount", 'maxlength' : "200"}}) }}
				<h6 class="precounter">{{'symbols left:'|trans}}</h6>
			</div>
<!-- 			<div class="uk-button-group uk-width-1-1">
	button class="uk-button uk-button-warning float_left">&lt; Back</button>
	<button class="uk-button uk-button-danger float_right">Next &gt;</button
</div> -->
		</div>
    </div>
</div>
