	<div class="destination">
		<div class="desticlone">
			{% for routePoints in form.routePoints %}
				<div class="form-block-wrap">	
					<div class="labels">
						<label for="createPassengerRequestRouteInfo_routePoints_0_place"><i class="mp-icon-point-a"></i> From:</label>
					</div>
					<div class="inputs">
						<div class="uk-form-icon">
							<i class="mp-icon-nord-star"></i>
							{{ form_widget(routePoints.place, {'attr': {'class': 'flex-input date-pick', 'placeholder': "Enter postcode, Venue or Place"}}) }}
							{{ form_errors(routePoints.place) }}
						</div>
					</div>
				</div>	       
            {% endfor %}
		</div>
		
		<div class="clr"></div>	
        
        <div class="nav-over add-lang">    
     		<div class="uk-button-large uk-button uk-width-1-1 add-another"><span class="mp-icon-point-plus uk-text-danger"></span><span class="caption">&nbsp; Add destination</span></div>
			<hr />
		</div>
		
		<div class="form-block-wrap">
			<div class="labels">
				{{ form_label(form.pickUpDate, 'Pick up:') }}
			</div>
			<div class="inputs">
				<div class="uk-form-controls">
					{{ form_widget(form.pickUpDate, {'attr': {'class': 'date-input date-pick', 'placeholder': 'mm-dd-yy', 'id': 'datepicker'}}) }}
					&nbsp;
					{{ form_widget(form.pickUpTime) }}
					<br/>
					{{ form_errors(form.pickUpDate) }}
					<br/>
					{{ form_errors(form.pickUpTime) }}
	            </div>
				<div class="check-box">
					<input id="createPassengerRequestRouteInfo_roundTrip" name="createPassengerRequestRouteInfo[roundTrip]" type="checkbox" /><label for="createPassengerRequestRouteInfo_roundTrip"><span class="uk-form-controls">&nbsp;Round trip </span> </label>&nbsp;<i class="uk-icon-question-circle uk-primary" data-uk-tooltip="{pos:'right'}" title="{% trans %}Return to pick-up place{% endtrans %}"></i>
				</div>
			</div>
		</div>
		
		<div class="clr"></div>	
       	   
		<div class="form-block-wrap last">
			<div class="labels">
				{{ form_label(form.returnDate, 'Return:') }}
			</div>
			<div class="inputs">
				<div class="uk-form-controls">
					{{ form_widget(form.returnDate, {'attr': {'class': 'date-input date-pick', 'placeholder': 'mm-dd-yy', 'id': 'datepicker'}}) }}
					&nbsp;
					{{ form_widget(form.returnTime) }}
					<br/>
					{{ form_errors(form.returnDate) }}
					<br/>
					{{ form_errors(form.returnTime) }}
				</div>
			</div>
		</div>
	        
<!-- 		<div class="nav-over">
	button class="uk-button-group uk-width-1-1 uk-button-large uk-button uk-button-danger nextbutt">
	            Next &gt; 
	        </button
</div> -->
	</div>