	<div class="wrap-left">
		 <div class="order-details-over">
			<h1>Tariff <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}"  data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></h1>
			<div class="order-details padding-top">
				<p class="note">
					<span>Note!</span> Increase interest in his warrant
				</p>
				<div class="pers-data select-group">
					<div class="tarif-line">
							<div class="tarif-line-group first">
								<label for="createPassengerRequestStep3_tariff_market_price" class="tarif-line-adapt-wrap">
									<span class="uk-form-controls">Price&nbsp;</span>
								</label>		
									<input id="createPassengerRequestStep3[tariff][market_price]" name="createPassengerRequestStep3[tariff][market_price]" type="radio" checked="checked" />
								<span class="recommend"> Market $100.00</span>
							</div>
							<div class="tarif-line-group second">
								<input type="radio" name="createPassengerRequestStep3[tariff][market_price]">
								<label class="tarif-line-adapt-wrap">
									<span class="uk-form-controls">Your</span>
								</label>
								<span class="overinput">
									<span class="dollar">$</span>
									<input id="createPassengerRequestStep3[tariff][your_price]" name="createPassengerRequestStep3[tariff][your_price]" type="text" placeholder="0.00"/>
								</span>
							</div>
							<div class="tarif-line-group third">
								<label for="createPassengerRequestStep3_tariff_tips_payment_method" class="tarif-line-adapt-wrap">
									<span class="uk-form-controls">Payment:</span>
								</label>
								<div class="choose-lang">
									{{ form_widget(form.tariff.price_payment_method) }}
								</div>
							</div>
					</div>
					<div class="tarif-line">
							<div class="tarif-line-group first">
								<label for="createPassengerRequestStep3_tariff_market_tips" class="tarif-line-adapt-wrap">
									<span class="uk-form-controls">Tips &nbsp;</span>
								</label>
								<input id="createPassengerRequestStep3[tariff][market_tips]" name="createPassengerRequestStep3[tariff][market_tips]" type="radio" checked="checked" /> 
								<span class="recommend">Market $10.00</span>
							</div>
							<div class="tarif-line-group second">
								<input type="radio" name="createPassengerRequestStep3[tariff][market_tips]">
								<label class="tarif-line-adapt-wrap">
									<span class="uk-form-controls">Your</span>
								</label>
								<span class="overinput">
									<span class="dollar">$</span>
									<input id="createPassengerRequestStep3[tariff][your_tips]" name="createPassengerRequestStep3[tariff][your_tips]" type="text" placeholder="0.00" />
								</span>
							</div>
							<div class="tarif-line-group third">
								<label for="createPassengerRequestStep3_tariff_payment_method" class="tarif-line-adapt-wrap">
									<span class="uk-form-controls">Payment:</span>
								</label>
								<div class="choose-lang">
									{{ form_widget(form.tariff.tips_payment_method) }}
								</div>
							</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="order-details-over">
			<h1 class="pass-info">Passenger info <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></h1>
			<div class="order-details">
				<p class="quantity-header">Quantity</p>
				<div class="quantity-over">
					<div class="tarif-line">
						<div class="tarif-line-group">
							<div class="spin-1">
								<label for="createPassengerRequestStep3_passenger_detail_adult">Adult</label>
								<div class="spinner" id="spin-1" data-trigger="spinner">
									<input id="createPassengerRequestStep3[passenger_detail][adult]" name="createPassengerRequestStep3[passenger_detail][adult]" type="text" data-rule="quantity" value="1" data-max="12">
								  	<div class="arrows">
										<a class="up" data-spin="up" href="javascript:;">▲</a>
										<a class="down" data-spin="down" href="javascript:;">▼</a>
									</div>
								</div>
							</div>
						</div>
						<div class="tarif-line-group center-group">
							<div class="spin-3">
								<label for="createPassengerRequestStep3_passenger_detail_children">Children</label>
								<div class="spinner" id="spin-3" data-trigger="spinner">
									<input id="createPassengerRequestStep3[passenger_detail][children]" name="createPassengerRequestStep3[passenger_detail][children]" type="text" data-rule="quantity" value="1" data-max="12">
								 	<div class="arrows">
								 		<a class="up" data-spin="up" href="javascript:;">▲</a>
								  		<a class="down" data-spin="down" href="javascript:;">▼</a>
								  	</div>
								</div>
							</div>
						</div>
						<div class="tarif-line-group right-group">
							<div class="spin-2">
								<label for="createPassengerRequestStep3_passenger_detail_seniors">Seniors</label>
								<div class="spinner" id="spin-2" data-trigger="spinner">
									<input id="createPassengerRequestStep3[passenger_detail][seniors]" name="createPassengerRequestStep3[passenger_detail][seniors]" type="text" data-rule="quantity" value="1" data-max="12">
									<div class="arrows">
										<a class="up" data-spin="up" href="javascript:;">▲</a>
										<a class="down" data-spin="down" href="javascript:;">▼</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="contactpassenger">
					<div class="nottravel">
						<label for="createPassengerRequestStep3_passenger_detail_not_my_self">
							<input id="createPassengerRequestStep3_passenger_detail_not_my_self" name="createPassengerRequestStep3[passenger_detail][not_my_self]" type="checkbox" />
							<span class="book-for-another">I'm making this booking on another's behalf.</span>
							<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span>
						</label>
					</div>
					<div class="another-wrap">
						<div class="pers-data">
							<div class="left">
								<label for="createPassengerRequestStep3_passenger_detail_name">Name:</label>
							</div> 
							<div class="right">
								{{ form_widget(form.passenger_detail.name, {'attr': {'placeholder': 'Not completed'}}) }}
							</div>
						</div>
						<!--div class="pers-data">
							<div class="left">
								<label>Photo:</label>
							</div> 
							<div class="right">
								<button class="uk-button uk-button-primary">Add image</button>
								<p class="photo">file formats: JPG, PNG, GIF, BMP (up to 2mb)</p>
							</div>
						</div-->
						<div class="pers-data">
							<div class="left">
								<label for="createPassengerRequestStep3_passenger_detail_email">E-mail:</label>
							</div>
							<div class="right">
								{{ form_widget(form.passenger_detail.email, {'attr': {'placeholder': 'Not completed'}}) }}
							</div>
						</div>
						<div class="pers-data">
							<div class="left">
								<label for="createPassengerRequestStep3_passenger_detail_skype">Skype:</label>
							</div>
							<div class="right">
								{{ form_widget(form.passenger_detail.skype, {'attr': {'placeholder': 'Not completed'}}) }}
							</div>
						</div> 
						<div class="pers-data">
							<div class="left">
								<label>Mobile</label>
							</div>
							<div class="right forphoneinput">
								{{ form_widget(form.passenger_detail.mobile_phone, {'attr': {'tabindex':'5', 'class':'mobile-phone'}}) }}
								{{ form_widget(form.passenger_detail.mobile_code, {'attr': {'placeholder': '1', 'class':'mobile-code'}}) }}
								<span>+</span>  
							</div>
						</div> 
						<div class="pers-data"><div class="left">
								<span class="uk-form-controls">Your mobile has:</span>
							</div>
							<div class="right">
								<label for="createPassengerRequestStep3_passenger_detail_mobile_has_wifi">
									<input id="createPassengerRequestStep3_passenger_detail_mobile_has_wifi" name="createPassengerRequestStep3[passenger_detail][mobile_has_wifi]" type="checkbox" />
									<span class="uk-form-controls">&nbsp;&nbsp;wi-fi <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span>
									</span>
								</label>
								<label for="createPassengerRequestStep3_passenger_detail_mobile_has_whatsapp" class="right-group">
									<input id="createPassengerRequestStep3_passenger_detail_mobile_has_whatsapp" name="createPassengerRequestStep3[passenger_detail][mobile_has_whatsapp]" type="checkbox" />
									<span class="right-group">
										<span class="uk-form-controls">&nbsp;&nbsp;whatsapp <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
									</span>
								</label>
							</div>
						</div>
						<div class="about-passenger">
							<p>About passenger <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></p>
							{{ form_widget(form.passenger_detail.about, {'attr': {'placeholder': 'For example: woman, 25 years old, dressed in red jacket',  'class': 'charcount'}}) }}
							<h6 class="precounter">simbols left:</h6>
						</div>
					</div>
				</div>

<!-- 				<div class="uk-button-group uk-width-1-1">
	a href="#" class="uk-button uk-button-warning float_left">&lt; Back</a>
	<a href="#" class="uk-button uk-button-danger float_right">Submit &gt;</a
</div> -->
			</div>
		</div>
    </div>

		



