<div class="wrap-left">
    <div class="order-details-over">
        <h1 class="labels">Vehicle <i class="uk-icon-question-circle uk-primary" data-uk-tooltip="{pos:'right'}"  title="{% trans %}Write correct  information{% endtrans %}"></i></h1>
		<div class="order-details  select-group">
			<div class="kids-pats-line top-group">
				<label for="createPassengerRequestStep2_vehicle_vehicle_class" class="label-header">Class:</label>
				<div class="object">
                    {{ form_widget(form.vehicle.vehicle_class, {'attr': {'class': 'chosen'}}) }}
                </div>
				<div class="errors">
                    {{ form_errors(form.vehicle.vehicle_class) }}
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon" data-uk-toggle="{target:'#baggage'}"><span class="uk-parent">For kids, pats and baggage<a href=""></a> <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span></div>
			<div class="uk-hidden kids-pats-wrap" id="baggage">
				<div class="kids-pats-group">
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStep2_vehicle_options_child_seats_0_child_seat_number">
							<span class="uk-form-controls">child seat </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStep2[vehicle_options][child_seats][0][child_seat_number]">
								<option value="0">0</option>
	                            <option selected="selected" value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.child_seats[0].child_seat_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStep2_vehicle_options_child_seats_1_child_seat_number">
							<span class="uk-form-controls">child seat </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStep2[vehicle_options][child_seats][1][child_seat_number]">
								<option value="0">0</option>
	                            <option selected="selected" value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
						</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.child_seats[1].child_seat_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStep2_vehicle_options_child_seats_2_child_seat_number">
							<span class="uk-form-controls">child seat </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStep2[vehicle_options][child_seats][2][child_seat_number]">
								<option value="0">0</option>
	                            <option selected="selected" value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
						</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.child_seats[2].child_seat_type) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-group">
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStep2_vehicle_options_pet_cages_0_pet_cage_number">
							<span class="uk-form-controls">pet cage </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStep2[vehicle_options][pet_cages][0][pet_cage_number]">
								<option value="0">0</option>
	                            <option selected="selected" value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.pet_cages[0].pet_cage_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStep2_vehicle_options_pet_cages_1_pet_cage_number">
							<span class="uk-form-controls">pet cage </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStep2[vehicle_options][pet_cages][1][pet_cage_number]">
								<option value="0">0</option>
	                            <option selected="selected" value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.pet_cages[1].pet_cage_type) }}
						</div>
					</div>
					<div class="kids-pats-line">
						<label class="hold" for="createPassengerRequestStep2_vehicle_options_pet_cages_2_pet_cage_number">
							<span class="uk-form-controls">pet cage </span>
						</label>
						<div class="amount">
							<select name="createPassengerRequestStep2[vehicle_options][pet_cages][2][pet_cage_number]">
								<option value="0">0</option>
	                            <option selected="selected" value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                        </select>
	       				</div>
						<div class="object">
							{{ form_widget(form.vehicle_options.pet_cages[2].pet_cage_type) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-group">
					<div class="kids-pats-line">
						<div class="left-group">
							<label for="createPassengerRequestStep2_vehicle_options_cycle_rack">
								<span class="uk-form-controls">cycle rack </span>
							</label>
							<div class="amount">
								<select id="createPassengerRequestStep2_vehicle_options_cycle_rack" name="createPassengerRequestStep2[vehicle_options][cycle_rack]">
									<option value="0">0</option>
		                            <option selected="selected" value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
						<div class="right-group">
							<label for="createPassengerRequestStep2_vehicle_options_ski_rack">
								<span class="uk-form-controls">ski rack </span>
							</label>
							<div class="amount">
								<select id="createPassengerRequestStep2_vehicle_options_ski_rack" name="createPassengerRequestStep2[vehicle_options][ski_rack]">
									<option value="0">0</option>
		                            <option selected="selected" value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
					</div>
					<div class="kids-pats-line">
						<div class="left-group">
							<label for="createPassengerRequestStep2_vehicle_options_stroller_place">
								<span class="uk-form-controls">place for strollers </span>
							</label>
							<div class="amount">
								<select name="createPassengerRequestStep2[vehicle_options][stroller_place]">
									<option value="0">0</option>
		                            <option selected="selected" value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
						<div class="right-group">
							<label for="createPassengerRequestStep2_vehicle_options_wheel_chair_place">
								<span class="uk-form-controls">wheelchairs place </span>
							</label>
							<div class="amount">
								<select name="createPassengerRequestStep2[vehicle_options][wheel_chair_place]">
									<option value="0">0</option>
		                            <option selected="selected" value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                        </select>
							</div>
						</div>
					</div>
					<div class="kids-pats-line">
						<div class="left-group">
							<label for="createPassengerRequestStep2_vehicle_options_roof_rack">
								<input name="createPassengerRequestStep2[vehicle_options][roof_rack]" type="checkbox" />
								<span class="uk-form-controls">&nbsp;&nbsp;roof rack</span>
							</label>
						</div>
						<div class="right-group">
							<label for="createPassengerRequestStep2_vehicle_options_trailer">
								<input name="createPassengerRequestStep2[vehicle_options][trailer]" type="checkbox" />
								<span class="uk-form-controls">&nbsp;&nbsp;trailer</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon" data-uk-toggle="{target:'#additional'}"><span class="uk-parent">Additional services <a href=""></a><span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span></div>
			<div class="kids-pats-group additional uk-hidden kids-pats-wrap" id="additional">
				<div class="kids-pats-line">
					<div class="left-group">
						<label for="createPassengerRequestStep2_vehicle_services_wifi">
							<input name="createPassengerRequestStep2[vehicle_services][wifi]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;wi-fi</span>
						</label>
					</div>
					<div class="right-group">
						<label for="createPassengerRequestStep2[vehicle_services][gps]">
							<input name="createPassengerRequestStep2_vehicle_services_gps" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;GPS</span>
						</label>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<div class="errors">
							{{ form_errors(form.vehicle_services.air_conditioner) }}
						</div>
						<label for="createPassengerRequestStep2[vehicle_services][air_conditioner]">
							<input name="createPassengerRequestStep2_vehicle_services_air_conditioner" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;air conditioner</span>
						</label>
					</div>
					<div class="right-group">
						<label for="createPassengerRequestStep2_vehicle_services_sun_roof">
							<input name="createPassengerRequestStep2[vehicle_services][sun_roof]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;sunroof</span>
						</label>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label for="createPassengerRequestStep2_vehicle_services_non_smokers">
							<input name="createPassengerRequestStep2[vehicle_services][non_smokers]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;car for non smokers</span>
						</label>
					</div>
					<div class="right-group">
						<label for="createPassengerRequestStep2_vehicle_services_first_aid_kit">
							<input name="createPassengerRequestStep2[vehicle_services][first_aid_kit]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;first aid kit</span>
						</label>
					</div>
				</div>
				<div class="kids-pats-line">
					<label>
						<a class="textarea-toggle" data-uk-toggle="{target:'#cool_drinks'}"><input type="checkbox" /></a>
						<span class="uk-form-controls">&nbsp;&nbsp;cool drinks <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<div id="cool_drinks" class="wishes-1 uk-hidden">
						{{ form_widget(form.vehicle_services.cool_drinks, {'attr': {'placeholder': "For example: аллергия на шерсть или диабет.",  'class': "charcount"}}) }}
					<h6 class="precounter">simbols left:</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<label>
						<a class="textarea-toggle" data-uk-toggle="{target:'#snacks_textarea'}"><input type="checkbox" /></a>
						<span class="uk-form-controls">&nbsp;&nbsp;snacks <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<div id="snacks_textarea" class="wishes-1 uk-hidden">
						{{ form_widget(form.vehicle_services.snacks, {'attr': {'placeholder': "For example: ",  'class': "charcount"}}) }}
					<h6 class="precounter">simbols left:</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<label>
						<a class="textarea-toggle" data-uk-toggle="{target:'#dvd_textarea'}"><input type="checkbox" /></a>
						<span class="uk-form-controls">&nbsp;&nbsp;dvd <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<div id="dvd_textarea" class="wishes-1 uk-hidden">
						{{ form_widget(form.vehicle_services.dvd, {'attr': {'placeholder': "For example: ",  'class': "charcount"}}) }}
					<h6 class="precounter">simbols left:</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<label>
						<a class="textarea-toggle" data-uk-toggle="{target:'#gadgets_chargers'}"><input type="checkbox" /></a>
						<span class="uk-form-controls">&nbsp;&nbsp;gadgets chargers <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<div id="gadgets_chargers" class="wishes-1 uk-hidden">
						{{ form_widget(form.vehicle_services.gadgets, {'attr': {'placeholder': "For example: ",  'class': "charcount"}}) }}
					<h6 class="precounter">simbols left:</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<label>
						<a class="textarea-toggle" data-uk-toggle="{target:'#disabled_transportation_tools'}"><input type="checkbox" /></a>
						<span class="uk-form-controls">&nbsp;&nbsp;disabled transportation tools <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<div id="disabled_transportation_tools" class="wishes-1 uk-hidden">
						{{ form_widget(form.vehicle_services.tools_for_disabled, {'attr': {'placeholder': "For example: ",  'class': "charcount"}}) }}
						<h6 class="precounter">simbols left:</h6>
					</div>
				</div>
				<div class="kids-pats-line">
					<label>
						<a class="textarea-toggle" data-uk-toggle="{target:'#passenger_has_an_disease'}"><input type="checkbox" /></a>
						<span class="uk-form-controls">&nbsp;&nbsp;passenger has an disease <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<div id="passenger_has_an_disease" class="wishes-1 uk-hidden">
						{{ form_widget(form.vehicle_services.disease, {'attr': {'placeholder': "For example: ",  'class': "charcount"}}) }}
						<h6 class="precounter">simbols left:</h6>
						<div class="errors">
							{{ form_errors(form.vehicle_services.disease) }}
						</div>
					</div>
				</div>
			</div>
			<div class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon" data-uk-toggle="{target:'#drivers-conditions'}"><span class="uk-parent">Additional drivers conditions <a href=""></a><span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span></div>
			<div class="kids-pats-group uk-hidden aditional-driver" id="drivers-conditions">
				<div class="kids-pats-line">
					<label class="interp">
						<input type="checkbox" />
						<span class="uk-form-controls">&nbsp;&nbsp;interpreter <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span></span>
					</label>
					<!--div class="uk-button uk-form-select select choose-lang"-->
					<div class="wishes-1">
						{{ form_widget(form.vehicle_driver_conditions.interpreter_lang, {'attr': {'placeholder': "Choose a language"}}) }}
					</div>
					<div class="errors">
						{{ form_errors(form.vehicle_driver_conditions.interpreter_lang) }}
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label>
							<input name="createPassengerRequestStep2[vehicle_driver_conditions][educator]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;educator</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.educator) }}
						</div>
					</div>
					<div class="right-group">
						<label>
							<input name="createPassengerRequestStep2[vehicle_driver_conditions][medical_liscence]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;medical liscence</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.medical_license) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label>
							<input name="createPassengerRequestStep2[vehicle_driver_conditions][body_guard]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;bodyguard</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.body_guard) }}
						</div>
					</div>
					<div class="right-group">
						<label>
							<input name="createPassengerRequestStep2[vehicle_driver_conditions][animal_trainer]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;animal trainer</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.animal_trainer) }}
						</div>
					</div>
				</div>
				<div class="kids-pats-line">
					<div class="left-group">
						<label>
							<input name="createPassengerRequestStep2[vehicle_driver_conditions][carrier]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;carrier</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.carrier) }}
						</div>
					</div>
					<div class="right-group">
						<label>
							<input name="createPassengerRequestStep2[vehicle_driver_conditions][guide]" type="checkbox" />
							<span class="uk-form-controls">&nbsp;&nbsp;guide</span>
						</label>
						<div class="errors">
							{{ form_errors(form.vehicle_driver_conditions.guide) }}
						</div>
					</div>
				</div>
			</div>
			<div class="wishes-2">
				<h4>Special requirements</h4>
				{{ form_widget(form.vehicle.special_requirements, {'attr': {'placeholder': 'For example: ',  'class': "charcount"}}) }}
				<h6 class="precounter">simbols left:</h6>
			</div>
<!-- 			<div class="uk-button-group uk-width-1-1">
	button class="uk-button uk-button-warning float_left">&lt; Back</button>
	<button class="uk-button uk-button-danger float_right">Next &gt;</button
</div> -->
		</div>
    </div>
</div>
