	<input type="hidden" id="createPassengerRequestStepPassengerInfo[tariff][market_price]" name="createPassengerRequestStepPassengerInfo[tariff][market_price]" value="{{ marketPrice }}" />
	<input type="hidden" id="createPassengerRequestStepPassengerInfo[tariff][market_tips]" name="createPassengerRequestStepPassengerInfo[tariff][market_tips]" value="{{ marketTips }}" />
	<div class="wrap-left">
		 <div class="order-details-over">
			<h1>{{'Tariff'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}"  data-uk-tooltip="{pos:'right'}" title="{{'Write your taxi fare'|trans}}"></span></h1>
			<div class="order-details">
				<p class="note">
					<span>{{'Note!'|trans}}</span> {{'Increase interest in his warrant'|trans}}
				</p>
				<div class="pers-data">
					<div class="tarif-line">
						<div class="tarif-line-group first">
							<label for="createPassengerRequestStepPassengerInfo_tariff_price_type" class="tarif-line-adapt-wrap">
								<span class="uk-form-controls">{{'Price'|trans}}&nbsp;</span>
							</label>		
							<input type="radio" id="createPassengerRequestStepPassengerInfo[tariff][price_type]" name="createPassengerRequestStepPassengerInfo[tariff][price_type]" value="1"{% if flow.formData.tariff.priceType is defined and flow.formData.tariff.priceType == 1 %} checked="checked"{% endif %} />
							<span class="recommend"> {{'Market'|trans}} ${{ marketPrice }}</span>
						</div>
						<div class="tarif-line-group second">
							<input type="radio" id="createPassengerRequestStepPassengerInfo[tariff][price_type]" name="createPassengerRequestStepPassengerInfo[tariff][price_type]" value="0"{% if flow.formData.tariff.priceType is defined and flow.formData.tariff.priceType == 0 %} checked="checked"{% endif %} />
							<label class="tarif-line-adapt-wrap">
								<span class="uk-form-controls">{{'Your'|trans}}</span>
							</label>
							<span class="overinput">
								<span class="dollar">$</span>
								<input id="createPassengerRequestStepPassengerInfo[tariff][your_price]" name="createPassengerRequestStepPassengerInfo[tariff][your_price]" type="text" placeholder="0" value="{% if flow.formData.tariff.yourPrice is defined and flow.formData.tariff.yourPrice > 0 %}{{ flow.formData.tariff.yourPrice }}{% else %}0{% endif %}" />
							</span>
						</div>
						<div class="tarif-line-group third">
							<label for="createPassengerRequestStepPassengerInfo_tariff_price_payment_method" class="tarif-line-adapt-wrap">
								<span class="uk-form-controls">{{'Payment'|trans}}:</span>
							</label>
							<div class="choose-lang">
								{{ form_widget(form.tariff.price_payment_method) }}
							</div>
						</div>
					</div>
					<div class="tarif-line">
						<div class="tarif-line-group first">
							<label for="createPassengerRequestStepPassengerInfo_tariff_tips_type" class="tarif-line-adapt-wrap">
								<span class="uk-form-controls">{{'Tips'|trans}} &nbsp;</span>
							</label>
							<input type="radio" id="createPassengerRequestStepPassengerInfo[tariff][tips_type]" name="createPassengerRequestStepPassengerInfo[tariff][tips_type]" value="1"{% if flow.formData.tariff.tipsType is defined and flow.formData.tariff.tipsType == 1 %} checked="checked"{% endif %} /> 
							<span class="recommend">{{'Market'|trans}} ${{ marketTips }}</span>
						</div>
						<div class="tarif-line-group second">
							<input type="radio" id="createPassengerRequestStepPassengerInfo[tariff][tips_type]" name="createPassengerRequestStepPassengerInfo[tariff][tips_type]" value="0"{% if flow.formData.tariff.tipsType is defined and flow.formData.tariff.tipsType == 0 %} checked="checked"{% endif %} /> 
							<label class="tarif-line-adapt-wrap">
								<span class="uk-form-controls">{{'Your'|trans}}</span>
							</label>
							<span class="overinput">
								<span class="dollar">$</span>
								<input id="createPassengerRequestStepPassengerInfo[tariff][your_tips]" name="createPassengerRequestStepPassengerInfo[tariff][your_tips]" type="text" placeholder="0" value="{% if flow.formData.tariff.yourPrice is defined and flow.formData.tariff.yourTips > 0 %}{{ flow.formData.tariff.yourTips }}{% else %}0{% endif %}" />
							</span>
						</div>
						<div class="tarif-line-group third">
							<label for="createPassengerRequestStepPassengerInfo_tariff_payment_method" class="tarif-line-adapt-wrap">
								<span class="uk-form-controls">{{'Payment'|trans}}:</span>
							</label>
							<div class="choose-lang">
								{{ form_widget(form.tariff.tips_payment_method) }}
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="order-details-over">
			<h1 class="pass-info">{{'Passenger info'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'The information we’ll need to know is as follows'|trans}}"></span></h1>
			<div class="order-details">
				<p class="quantity-header">{{'Quantity'|trans}}</p>
				<div class="quantity-over">
					<div class="tarif-line">
						<div class="tarif-line-group">
							<div>
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_adult">{{'Adult'|trans}}</label>
								<div class="spinner">
									<input id="createPassengerRequestStepPassengerInfo[passenger_detail][adult]" name="createPassengerRequestStepPassengerInfo[passenger_detail][adult]" type="text" step="1" min="0" max="10" value="{% if flow.formData.passengerDetail.adult > 1 %}{{ flow.formData.passengerDetail.adult }}{% else %}1{% endif %}">
									<span class="plus uk-icon-caret-up"></span>
									<span class="minus uk-icon-caret-down"></span>
								</div>
							</div>
						</div>
						<div class="tarif-line-group center-group">
							<div>
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_children">{{'Children'|trans}}</label>
								<div class="spinner">
									<input class="limited" id="createPassengerRequestStepPassengerInfo[passenger_detail][children]" name="createPassengerRequestStepPassengerInfo[passenger_detail][children]" type="text" step="1" min="0" max="10" value="{{ flow.formData.passengerDetail.children }}" />
									<span class="plus uk-icon-caret-up"></span>
									<span class="minus uk-icon-caret-down"></span>
								</div>
							</div>
						</div>
						<div class="tarif-line-group right-group">
							<div>
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_seniors">{{'Seniors'|trans}}</label>
								<div class="spinner">
									<input class="limited" id="createPassengerRequestStepPassengerInfo[passenger_detail][seniors]" name="createPassengerRequestStepPassengerInfo[passenger_detail][seniors]" type="text" step="1" min="0" max="10" value="{{ flow.formData.passengerDetail.seniors }}" />
									<span class="plus uk-icon-caret-up"></span>
									<span class="minus uk-icon-caret-down"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="contactpassenger">
					<div class="nottravel">
						<label for="createPassengerRequestStepPassengerInfo_passenger_detail_not_my_self">
							<input id="createPassengerRequestStepPassengerInfo_passenger_detail_not_my_self" name="createPassengerRequestStepPassengerInfo[passenger_detail][not_my_self]" type="checkbox"{% if flow.formData.passengerDetail.notMySelf is defined and flow.formData.passengerDetail.notMySelf == true %} checked="checked"{% endif %} />
							<span class="book-for-another">{{"I'm making this booking on another's behalf"|trans}}.</span>
							<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Make reservation for others'|trans}}"></span>
						</label>
					</div>
					<div class="another-wrap opder_personal_info">
						<div class="pers-data">
							<div class="left">
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_name">{{'Name'|trans}}:</label>
							</div> 
							<div class="right">
								{{ form_widget(form.passenger_detail.name, {'attr': {'placeholder': 'Not completed'}}) }}
								<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{'Write your First and Last name!'|trans}}"></span>
							</div>
						</div>
						<!--div class="pers-data">
							<div class="left">
								<label>Photo:</label>
							</div> 
							<div class="right">
								<button class="uk-button uk-button-primary">Add image</button>
								<p class="photo">file formats: JPG, PNG, GIF, BMP (up to 2mb)</p>
							</div>
						</div-->
						<div class="pers-data">
							<div class="left">
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_email">E-mail:</label>
							</div>
							<div class="right">
								{{ form_widget(form.passenger_detail.email, {'attr': {'placeholder': 'Not completed'}}) }}
								<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{'Your email address'|trans}}"></span>
							</div>
						</div>
						<div class="pers-data">
							<div class="left">
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_skype">Skype:</label>
							</div>
							<div class="right">
								{{ form_widget(form.passenger_detail.skype, {'attr': {'placeholder': 'Not completed'}}) }}
								<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{'Your Skype name'|trans}}"></span>
							</div>
						</div> 
						<div class="pers-data">
							<div class="left">
								<label>{{'Mobile'|trans}}</label>
							</div>
							<div class="right forphoneinput">
								{{ form_widget(form.passenger_detail.mobile_phone, {'attr': {'placeholder': '111-222-3333', 'tabindex':'5', 'class':'mobile-phone'}}) }}
								{{ form_widget(form.passenger_detail.mobile_code, {'attr': {'placeholder': '1', 'class':'mobile-code'}}) }}
								<span>+</span> 
								<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{'777-777-7777'|trans}}"></span>
							</div>
						</div> 
						<div class="pers-data"><div class="left">
								<span class="uk-form-controls">{{'Your mobile has'|trans}}:</span>
							</div>
							<div class="right">
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_mobile_has_wifi">
									<input id="createPassengerRequestStepPassengerInfo_passenger_detail_mobile_has_wifi" name="createPassengerRequestStepPassengerInfo[passenger_detail][mobile_has_wifi]" type="checkbox"{% if flow.formData.passengerDetail.mobileHasWifi is defined and flow.formData.passengerDetail.mobileHasWifi == true %} checked="checked"{% endif %} />
									<span class="uk-form-controls">&nbsp;&nbsp;wi-fi <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Any kind of connection'|trans}}"></span>
									</span>
								</label>
								<label for="createPassengerRequestStepPassengerInfo_passenger_detail_mobile_has_whatsapp" class="right-group">
									<input id="createPassengerRequestStepPassengerInfo_passenger_detail_mobile_has_whatsapp" name="createPassengerRequestStepPassengerInfo[passenger_detail][mobile_has_whatsapp]" type="checkbox"{% if flow.formData.passengerDetail.mobileHasWhatsapp is defined and flow.formData.passengerDetail.mobileHasWhatsapp == true %} checked="checked"{% endif %} />
									<span>
										<span class="uk-form-controls">&nbsp;&nbsp;whatsapp <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Free communication program'|trans}}"></span></span>
									</span>
								</label>
							</div>
						</div>
						<div class="about-passenger">
							<p>{{'About passenger'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Describe yourself. Help  driver to recognize you'|trans}}"></span></p>
							{{ form_widget(form.passenger_detail.about, {'attr': {'placeholder': '25 years old tall lady, wearing green coat and red hat',  'class': 'charcount', 'maxlength' : "200"}}) }}
							<h6 class="precounter">{{'symbols left:'|trans}}</h6>
						</div>
					</div>
				</div>

<!--div class="uk-button-group uk-width-1-1">
	a href="#" class="uk-button uk-button-warning float_left">&lt; Back</a>
	<a href="#" class="uk-button uk-button-danger float_right">Submit &gt;</a
</div-->
			</div>
		</div>
    </div>

		



