	<div class="whitebg">
			<div class="message"><span class="uk-text-danger">{{ 'Внимание'|trans }}! </span>{{ 'Не забывайте подтвердит вашу готовность выполнить заказ'|trans }}!</div>

		<div class="profit-driver">
			<div class="buttom-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#profdriver'}">
				<div class="uk-panel">
					<button class="uk-width-1-1 uk-button">{{'Daily profit! '|trans}}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-width-1-1 uk-button">{{'Weekly profit!'|trans}}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-width-1-1 uk-button">{{'$5000 profit '|trans}}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-width-1-1 uk-button">{{'Extra money for kind service'|trans}}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-width-1-1 uk-button">{{'Extra money for smart service'|trans}}</button>
				</div>
			</div>
			<ul id="profdriver" class="uk-switcher">
{# ==== Block 1 ===== #}
				<li class="uk-active">
					<div class="content">
						<div class="left">
							<h2>Daily profit!</h2>
							<ul class="uk-width-1-1">
								<li>Feel  free making money any time for any day!
								</li>
							</ul>
						</div>
						<div class="center">
							<h3 class="uk-button-danger">
						        <i class="mp-icon-good"></i>
						        <span>Calculate how much you can make!</span>
						  	</h3>
						  	<ol class="uk-width-1-1">
						        <li>Take passenger: average fee $60</li>
   					    	    <li>Additional tips: $10</li>
						        <li>Site service: $3 (you pay per deal)</li>
						        <li>Your average income: $60 + $10 - $3 = $67 per deal</li>
						        <li>You take more deal and make more money</li>
						  	</ol>
						</div>
						<div class="right">
							<div class="videoWrapper">
								<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
							</div>
							<button class="book-ride uk-button uk-button-success">Choose best passenger</button>
						</div>
					</div>
				</li>
{# ==== Block 2 ===== #}
				<li>
					<div class="content">
						<div class="left">
							<h2>Weekly profit!</h2>
							<ul class="uk-width-1-1">
								<li>Be your own schedule and income boss!</li>
							</ul>
						</div>
						<div class="center">
							<h3 class="uk-button-danger">
						        <i class="mp-icon-good"></i>
						        <span>In general drivers make $400 - $1200 driving just for 5 - 6 days a week</span>
						  	</h3>
						  	<ol class="uk-width-1-1">
						        <li>Average 3 deals give you around $200 a day</li>
   					    	    <li>Just 15 deals give you around $1000 a week</li>
						        <li>You take more deal and make more money</li>
						  	</ol>
						</div>
						<div class="right">
							<div class="videoWrapper">
								<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
							</div>
							<button class="book-ride uk-button uk-button-success">Choose best passenger</button>
						</div>
					</div>
				</li>
{# ==== Block 3 ===== #}
				<li>
					<div class="content">
						<div class="left">
							<h2>$5000 profit</h2>
							<ul class="uk-width-1-1">
								<li>Good rating from passengers increases chance for big income!</li>
							</ul>
						</div>
						<div class="center">
							<h3 class="uk-button-danger">
						        <i class="mp-icon-good"></i>
						        <span>TMP is good place to reach more deals and make more money!</span>
						  	</h3>
						  	<ol class="uk-width-1-1">
						        <li>Average 4 deals per day give you around $268</li>
   					    	    <li>Just 5 days per week (4 deals per day) possibly give you $1340</li>
						        <li>If you hold this rythms for 4 weeks you can make over $5000 per month</li>
						        <li>Take best TMP open deals to reach this goal</li>
						  	</ol>
						</div>
						<div class="right">
							<div class="videoWrapper">
								<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
							</div>
							<button class="book-ride uk-button uk-button-success">Choose best passenger</button>
						</div>
					</div>
				</li>
{# ==== Block 4 ===== #}
				<li>
					<div class="content">
						<div class="left">
							<h2>Extra money for kind service</h2>
							<ul class="uk-width-1-1">
								<li>Care this stuff and make money!</li>
								<li>Pet cage</li>
								<li>Child seat</li>
								<li>Place for wheelchair</li>
								<li>Place for baby stroller</li>
								<li>Place for box</li>
								<li>Roof rack</li>
								<li>Trailer</li>
								<li>Stuff carrying</li>
							</ul>
						</div>
						<div class="center">
							<h3 class="uk-button-danger">
						        <i class="mp-icon-good"></i>
						        <span>Special attention for kids, baggage and pets give you extra money!</span>
						  	</h3>
						  	<ol class="uk-width-1-1">
						        <li>Talk to passenger via Skype about his needs.</li>
   					    	    <li>Set price with passenger.</li>
						        <li>Provide comfortable trip.</li>
						  	</ol>
						</div>
						<div class="right">
							<div class="videoWrapper">
								<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
							</div>
							<button class="book-ride uk-button uk-button-success">Choose best passenger</button>
						</div>
					</div>
				</li>
{# ==== Block 5 ===== #}
				<li>
					<div class="content">
						<div class="left">
							<h2>Extra money for smart service</h2>
							<ul class="uk-width-1-1">
								<li>Offer your special skills for extra money!</li>
								<li>Translator</li>
								<li>Doctor</li>
								<li>Teacher</li>
								<li>Vet</li>
								<li>Bodyguard</li>
								<li>Local guide</li>
							</ul>
						</div>
						<div class="center">
							<h3 class="uk-button-danger">
						        <i class="mp-icon-good"></i><span>Be better than just driver and make extra money!</span>
						    </h3>
						  	<ol class="uk-width-1-1">
						        <li>Talk to passenger via Skype about his needs.</li>
   					    	    <li>Set price with passenger.</li>
						        <li>Provide comfortable trip.</li>
						  	</ol>
						</div>
						<div class="right">
							<div class="videoWrapper">
								<iframe width="420" height="315" src="//www.youtube.com/embed/LGfRfYz1VYA?rel=0;controls=1;showinfo=0;autoplay=0;vq=hd720"></iframe>
							</div>
							<button class="book-ride uk-button uk-button-success">Choose best passenger</button>
						</div>
					</div>
				</li>
{# ==== End blocks ===== #}
			</ul>
		</div>
	</div>
