{% macro showRequest(request, actualUser, name) %}
    {# Modal window #}
    <div id="route_{{ name }}_{{ request.id }}" class="uk-modal pop-up route-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            {#<div class="popup-head">{{ request.routePoints[0].place }}{% for point in request.routePoints %}{% if loop.index > 1 %} - {{ point.place }}{% endif %}{% endfor %}</div>#}
            <div class="route__id">
                TMP order <span>ID {{ request.id }}</span>
            </div>
            <div class="order-step-four">
                <div id="steps" class="order-details-over">
                    <div class="check-order">
                        <div class="passenger-info">
                            <div class="wrap-left">
                                {# Route info ========================== #}
                                <div class="route-info">
                                <h1 class="labels">{{'Route info'|trans}}
                                    </h1>
                                <hr>
                                    <dl>
                                        <dt>{{'From'|trans}}:</dt><dd>{{ request.routePoints[0].place }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>{{'Pick up'|trans}}:</dt><dd>{{ request.pickUpDate|date("d M Y") }}, {{ request.pickUpTime|date("H:i") }}</dd>
                                    </dl>
                                    <dl>
                                        {% for point in request.routePoints %}
                                            {% if loop.index > 1 %}
                                                <dt>{{'To'|trans}}:</dt><dd>{{ point.place }}</dd>
                                            {% endif %}
                                        {% endfor %}
                                    </dl>
                                    <dl>
                                        {% if request.roundTrip %}
                                            <dt>{{'Return'|trans}}:</dt><dd>{{ request.returnDate|date("d M Y") }}, {{ request.returnTime|date("H:i") }}</dd>
                                        {% endif %} 
                                    </dl>
                                </div>

                                {# Fare ================================= #}
                                <div class="tariff">
                                <h1 class="labels">{{'Fare'|trans}}</h1>
                                <hr>
                                    <dl>
                                        <dt>{{'Price'|trans}}:</dt><dd> ${{ request.tariff.price }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>{{'Payment'|trans}}:</dt><dd>{{ request.tariff.pricePaymentMethod }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>{{'Tips'|trans}}:</dt><dd> ${{ request.tariff.tips }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>{{'Payment'|trans}}:</dt><dd>{{ request.tariff.tipsPaymentMethod }}</dd>
                                    </dl>
                                </div>

                                {# Passenger info ========================== #}
                                <div class="quantity">
                                    <h1 class="labels">{{'Passenger info'|trans}}</h1>
                                    <hr>
                                    <dl>
                                        <dt>{{'Quantity'|trans}}:</dt>
                                        <dd>{{'Adults'|trans}} ({{ request.passengerDetail.adult }}), {{ 'children'|trans }} ({{ request.passengerDetail.children }}), {{'seniors'|trans}} ({{ request.passengerDetail.seniors }})</dd>
                                    </dl>
                                {% 
                                    if (is_granted('ROLE_TAXIDRIVER') and actualUser is not null and request.driver.id is defined and request.driver.id == actualUser.id)
                                    or (is_granted('ROLE_USER') and not is_granted('ROLE_TAXIDRIVER') and request.user.id is defined and request.user.id == actualUser.id)
                                %}
                                        {% if request.passengerDetail.notMySelf == true %}
                                            <div class="message">{{"I am making this booking on anofer\'s behalf."|trans}}</div>
                                        {% else %}
                                            <div class="uk-hidden">&nbsp;</div>   
                                        {% endif %}
                                        {% if request.passengerDetail.picture.path is defined %}
                                            <div class="photo">
                                                <img src="{{ request.passengerDetail.picture.path|imagine_filter('passenger_avatar') }}" height="{{ request.passengerDetail.picture.height }}" width="{{ request.passengerDetail.picture.width }}" />
                                            </div>
                                        {% endif %} 
                                        <div class="personal">
                                            <dl>
                                                <dt>{{'Name'|trans}}:</dt><dd>{{ request.passengerDetail.name }}</dd>
                                            </dl>
                                            <dl>
                                                <dt>{{'E-mail'|trans}}:</dt><dd>{{ request.passengerDetail.email }}</dd>
                                            </dl>
                                                {% if request.passengerDetail.skype != '' %}
                                                    <dl>
                                                        <dt>{{'Skype'|trans}}:</dt><dd>{{ request.passengerDetail.skype }}</dd>
                                                    </dl>
                                                {% endif %} 
                                            <dl>
                                                <dt>{{'Mobile'|trans}}:</dt><dd>+{{ request.passengerDetail.mobileCode }} {{ request.passengerDetail.mobilePhone }}</dd>
                                                {% if request.passengerDetail.mobileHasWifi == true or request.passengerDetail.mobileHasWhatsapp == true %}
                                            </dl>
                                            <dl>
                                                <dt>{{'Your mobile have'|trans}}:</dt><dd>{% if request.passengerDetail.mobileHasWifi %}wi-fi{% endif %}&nbsp;{% if request.passengerDetail.mobileHasWhatsapp %}whatsapp{% endif %}</dd>
                                            </dl>
                                                {% endif %} 
                                            {% if request.passengerDetail.about != '' %}
                                            <dl>
                                                <dt class="about">{{'About passenger'|trans}}:</dt>
                                                <dd class="about">{{ request.passengerDetail.about }}</dd>
                                            </dl>
                                            {% endif %}
                                        </div>
                                {% endif %}
                                </div>

                                {# Vehicle ================================= #}
                                <div class="vechicle">
                                    <h1 class="labels">{{'Vehicle'|trans}}</h1>
                                    <hr/>
                                    <dl>
                                        <dt>{{'Class'|trans}}:</dt><dd><span>{{ request.vehicle.getVehicleClassName() }}</span><i class="mp-icon-person"></i>5<i class="mp-icon-bug"></i>5<i class="mp-icon-door"></i>5</dd>
                                    </dl>
                                </div>

                                <ul class="other-passenger-details uk-nav uk-nav-parent-icon" data-uk-nav="{multiple:true}"> <!--  data-uk-nav="{multiple:true}" -->
                                {# For kids, pets and baggage ================== #}
                                    <li class="order-details uk-parent">
                                        <a href="#" class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon">{{'For kids, pets and baggage'|trans}}</a>
                                        <ul class="kid-pat-bag uk-nav-sub" id="toggle12">
                                            <li>
                                                {% for childSeat in request.vehicleOptions.childSeats %}
                                                <dl>
                                                    {% if childSeat.childSeatNumber > 0 %}
                                                        <dt>{{'child seat'|trans}}</dt><dd>{{ childSeat.childSeatNumber }} ({{ childSeat.getChildSeatTypeName() }})</dd>
                                                    {% endif %} 
                                                </dl>
                                                {% endfor %}
                                                {% for petCage in request.vehicleOptions.petCages %}
                                                <dl>
                                                    {% if petCage.petCageNumber > 0 %}
                                                        <dt>{{'pet cage'|trans}}</dt><dd>{{ petCage.petCageNumber }} ({{ petCage.getPetCageTypeName() }})</dd>
                                                    {% endif %} 
                                                </dl>
                                                {% endfor %}
                                                {% if request.vehicleOptions.cycleRack > 0 %}
                                                <dl>
                                                    <dt>{{'cycle rack'|trans}}</dt><dd>{{ request.vehicleOptions.cycleRack }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleOptions.strollerPlace > 0 %}   
                                                <dl>
                                                    <dt>{{'place for strollers'|trans}}</dt><dd>{{ request.vehicleOptions.strollerPlace }}</dd>
                                                </dl>
                                                {% endif %} 
                                                {% if request.vehicleOptions.roofRack == true %}
                                                <dl>
                                                    <dt>{{'roof rack'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleOptions.skiRack > 0 %}
                                                <dl>
                                                    <dt>{{'cycle rack'|trans}}</dt><dd>{{ request.vehicleOptions.skiRack }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleOptions.wheelChairPlace > 0 %} 
                                                <dl>
                                                    <dt>{{'place for strollers'|trans}}</dt><dd>{{ request.vehicleOptions.wheelChairPlace }}</dd>
                                                </dl>
                                                {% endif %} 
                                                {% if request.vehicleOptions.trailer == true %}
                                                <dl>
                                                    <dt>{{'trailer'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>  
                                                </dl>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="order-details uk-parent">
                                        {# Additional services ======================= #}
                                        <a href="#" class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon">{{'Additional services'|trans}}</a>                            
                                        <ul class="more-details uk-nav-sub" id="toggle11">
                                            <li>
                                                <div class="message">{{'All this items are optional. You should ask driver about the price'|trans}}.</div>
                                                {% if request.vehicleServices.wifi == true %}
                                                <dl>
                                                    <dt>{{'wi-fi'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.airConditioner == true %}
                                                <dl>
                                                    <dt>{{'air conditioner'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>  
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.nonSmokers == true %}
                                                <dl>
                                                    <dt>{{'car for none smokers'|trans}}</dt><dd><i class="uk-icon-check"></i></dd> 
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.gps == true %}
                                                <dl>
                                                    <dt>{{'GPS'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>  
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.sunRoof == true %}
                                                <dl>
                                                    <dt>{{'sunroof'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>  
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.firstAidKit == true %}
                                                <dl>
                                                    <dt>{{'first aid kid'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.coolDrinks != '' %}
                                                <dl>
                                                    <dt class="uk-width-1-1">{{'cool drinks'|trans}}</dt>
                                                    <dd class="uk-width-1-1">{{ request.vehicleServices.coolDrinks }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.snacks != '' %}
                                                <dl>
                                                    <dt class="uk-width-1-1">{{'snacks'|trans}}</dt>
                                                    <dd class="uk-width-1-1">{{ request.vehicleServices.snacks }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.dvd != '' %}
                                                <dl>
                                                    <dt class="uk-width-1-1">{{'DVD'|trans}}</dt>
                                                    <dd class="uk-width-1-1">{{ request.vehicleServices.dvd }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.gadgets != '' %}
                                                <dl>
                                                    <dt class="uk-width-1-1">{{'gadgets'|trans}}</dt>
                                                    <dd class="uk-width-1-1">{{ request.vehicleServices.gadgets }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.toolsForDisabled != '' %}
                                                <dl>
                                                    <dt class="uk-width-1-1">{{'tools for disabled'|trans}}</dt>
                                                    <dd class="uk-width-1-1">{{ request.vehicleServices.toolsForDisabled }}</dd>
                                                </dl>
                                                {% endif %}
                                                {% if request.vehicleServices.disease != '' %}
                                                <dl>
                                                    <dt class="uk-width-1-1">{{'passenger has a disease'|trans}}</dt>
                                                    <dd class="uk-width-1-1">{{ request.vehicleServices.disease }}</dd>
                                                </dl>
                                                {% endif %}
                                            </li>
                                        </ul>

                                    </li>
                                    <li class="order-details uk-parent">

                                        {# Additional driver`s services ================= #}
                                        <a href="#" class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon">{{'Additional driver`s services'|trans}}</a>
                                            <ul class="more-details uk-nav-sub" id="toggle10">
                                                <li>
                                                    {% if request.vehicleDriverConditions.interpreterLang != '' %}
                                                    <dl class="interpreter">
                                                        <dt>{{'interpreter'|trans}}</dt><dd>{{ request.vehicleDriverConditions.interpreterLang }}</dd>
                                                    </dl>       
                                                    {% endif %}
                                                    {% if request.vehicleDriverConditions.educator == true %}
                                                    <dl>
                                                        <dt>{{'educator'|trans}}</dt><dd><i class="uk-icon-check"></i></dd> 
                                                    </dl>
                                                    {% endif %}
                                                    {% if request.vehicleDriverConditions.bodyguard == true %}
                                                    <dl>
                                                        <dt>{{'bodyguard'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                                    </dl>
                                                    {% endif %}
                                                    {% if request.vehicleDriverConditions.carrier == true %}
                                                    <dl>
                                                        <dt>{{'carrier'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>  
                                                    </dl>
                                                    {% endif %}
                                                    {% if request.vehicleDriverConditions.medicalLicense == true %}
                                                    <dl>
                                                        <dt>{{'medical license'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>  
                                                    </dl>
                                                    {% endif %}
                                                    {% if request.vehicleDriverConditions.animalTrainer == true %}
                                                    <dl>
                                                        <dt>{{'animal trainer'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>   
                                                    </dl>
                                                    {% endif %}
                                                    {% if request.vehicleDriverConditions.guide == true %}
                                                    <dl>
                                                        <dt>{{'guide'|trans}}</dt><dd><i class="uk-icon-check"></i></dd>    
                                                    </dl>
                                                    {% endif %}
                                                {% if request.vehicle.specialRequirements != '' %}
                                                    <dl class="special">
                                                        <dt class="uk-width-1-1">{{'Special requirements'|trans}}</dt>
                                                        <dd class="uk-width-1-1">{{ request.vehicle.specialRequirements }}</dd>
                                                    </dl>   
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="order-details uk-parent">
                                        {# Additional driver`s services ================= #}
                                        <a href="#" class="uk-button-large uk-button uk-width-1-1 spec-request uk-nav-parent-icon">{{'Additional driver`s services'|trans}}</a>

                                        <div id="calculate_route">
                                            <div id="route_result">
                                                <div>
                                                    <i class="mp-icon-timer uk-text-danger"></i>
                                                    <span id="duration_route">{{ request.getFormattedDuration() }} mins</span>
                                                </div>
                                                <div>
                                                    <i class="mp-icon-direction uk-text-danger"></i>
                                                    <span id="distance_route">{{ request.getFormattedDistance() }} km / {{ request.getDistanceInMiles() }} mi</span>
                                                </div>
                                                <div><i class="mp-icon-calculate uk-text-danger"></i><span id="price_route">${{ request.tariff.price }}</span></div>
                                            </div>
                                        </div>
                                        <ul class="more-details uk-nav-sub" id="toggle10">
                                            <li>
                                                <div class="disloc bottom">
                                                    <div id="map-canvas" style="height: 500px;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-details-over disloc">
                    <div class="check-order">
                        <div class="passenger-info">
                            <div class="wrap-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_TAXIDRIVER') and actualUser is not null and not request.isDriverInList(actualUser.id) %}
                <div class="confirmation uk-margin-top">
                    <button class="uk-button uk-button-danger uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-3">Buy</button>
                </div>
            {% endif %}    
        </div>
    </div>
{% endmacro %}