{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div id="buttons">
    <div id="insidebuttonwrapper">
{%- if flow.getCurrentStepNumber() == 1 -%}
        <input class="submit nextbutt" type="submit" value="{{ 'form.gotonextstep'|trans({}, 'FOSUserBundle') }}"/>
{%- elseif flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
        <input class="submit nextbutt twobuttnext" type="submit" value="{{ 'form.gotonextstep'|trans({}, 'FOSUserBundle') }}"/>
{%- else -%}
        <input class="submit nextbutt twobuttnext" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
{%- endif -%}

{% if renderBackButton %}
        <button type="submit" class="nextbutt backbutt" id="backbutton" name = "{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
            {{- 'form.back' | trans({}, 'FOSUserBundle') -}}
        </button>
{% endif %}

    </div>
</div>