<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
      {#  <script src="{{ asset('bundles/davincitaxi/js/pace.min.js') }}"></script>#}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#ff4d61">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {% block stylesheets %}
            {% stylesheets 'bundles/davincitaxi/css/uikit.css'
					'bundles/davincitaxi/css/addons/uikit.addons.css'
					'bundles/davincitaxi/css/flick/jquery-ui-1.10.4.custom.min.css' 
					'bundles/davincitaxi/css/styles.css' 
                    'bundles/davincitaxi/js/intl-tel-input-master/css/intlTelInput.css' filter='cssrewrite' 
            %}

            <link media="all" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/davincitaxi/images/favicon.ico') }}" />
    </head>
    <body class="{% block theme %}default{% endblock %}">
        <div class="wrap-content">
            {% block header %}

                <header  class="header-wrapper">
                    <div class="header-top">
                        <div class="header-top-in">
<nav class="nav-head">
    <a href="{{ url('da_vinci_taxi_homepage') }}" class="logo">
        <img src="{{ asset('bundles/davincitaxi/images/logo.png') }}" alt="{{ 'Taxi My Price'|trans}}">
    </a>
    <ul class="main-menu">
        <li><a href="{{ url('about') }}">{{ 'About'|trans }}</a></li>
        <li><a href="{{ url('help') }}">{{ 'Help'|trans }}</a></li>
        <li>
            <a class="uk-button-danger mp-icon-person"></a>
            <a href="{{ url('profit') }}">{{ 'Profit'|trans }}</a>
            <a class="uk-button-primary mp-icon-taxi"></a>
        </li>
    </ul>
    <ul class="sigin"> 
        <li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div data-uk-dropdown="" class="uk-button-dropdown">
                    <div class="uk-button  uk-button-link autorized loading">
                        <span class="caption">{{ 'My account'|trans }}</span> 
                        <i class="uk-icon-caret-down uk-margin-small-left"></i>
                        <br/>
                        <span class="ownship">passenger</span>
                        <div class="throb-group">
                            <i class="fa fa-square"></i>
                            <i class="fa fa-square"></i>
                            <i class="fa fa-square"></i>
                        </div>
                    </div>
                    <div class="uk-dropdown uk-dropdown-width-3 shadow-main">
                        <div class="myaccount-drop">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="uk-nav-header">{{ 'My account'|trans }}</li>
                                <li><a href="{{ url('office_passenger')}}"><i class="mp-icon-person"></i> {{ 'My profile'|trans }}</a></li>
                                <li><a href=""><i class="mp-icon-message"></i> {{ 'Notification'|trans }}</a></li>
                                <li><a href="{{ url('fos_user_security_logout') }}"><i class="mp-icon-logout"></i> {{ 'Log Out'|trans }}</a></li>
                            </ul>
                        </div>
                        <div class="myoffice-drop">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="uk-nav-header">My office</li>
                                <li><span>
                                        {% if is_granted('ROLE_USER') %}
                                        <a href="{{ url('office_passenger')}}">{{ 'Passenger'|trans }}</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_TAXIDRIVER') %}
                                        <a href="{{ url('office_driver')}}">{{ 'Independent driver'|trans }}</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_COMPANYDRIVER') %}
                                        {{ 'Company driver'|trans }}
                                        {% endif %}
                                        {% if is_granted('ROLE_TAXIMANAGER') %}
                                        {{ 'Manager'|trans }}
                                        {% endif %}
                                        {% if is_granted('ROLE_TAXICOMPANY') %}
                                        {{ 'Company'|trans }}
                                        {% endif %}
                                    </span>
                                </li>
                            </ul>
                            <a href="{{ url('fos_user_registration_confirmed') }}" class="uk-button uk-button-success">Get new office</a>
                        </div>
                        <div class="myid-drop">
                            <div class="myid-drop-top">
                                <div class="img">
                                    {% if app.user.photo.path is defined %}
                                        <img src="{{ app.user.photo.path| imagine_filter('menu_avatar') }}" alt="{% if app.user %}{{ app.user.firstname }} {{ app.user.lastname }}{% endif %} avatar" />
                                    {% else %}
                                        <img src="{{ asset('/bundles/davincitaxi/images/profile-photo2x.png') }}" alt="blank avatar" />
                                    {% endif %}
                                </div>
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li>
                                        <div class="clientid">My ID: <span class="data">{{ app.user.id }}</span></div>
                                    </li>
                                    <li>
                                        <div class="clientid">Name: <span class="data">{{ app.user.firstname }} {{ app.user.lastname }}</span></div>
                                    </li>
                                    <li>
                                        <div class="clientid">My balance: <span class="data">$0.00</span></div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="uk-grid  menu-bord">
                                <li><a href="">$Add</a></li>
                                <li><a href="">$Withdraw</a></li>
                                <li><a href="">$Transfer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ url('fos_user_security_login') }}" class="uk-button  uk-button-link nonautorized">{{ 'Hello, Sign in'|trans }}</a>
            {% endif %}
        </li>
    </ul>
    <ul class="info-menu">
        <li class="uk-button-danger"><a href="#">{{ 'Book'|trans }}</a></li>
            <div class="thumb">
                <i class="mp-icon-good"></i>
            </div>
        <li class="uk-button-primary"><a href="#">{{ 'Store'|trans }}</a></li>
    </ul>
</nav>

<!--                             <nav class="topmenu">
    <ul class="uk-subnav uk-subnav-pill topmenu-in">
        <li>
            <a href="{{ url('da_vinci_taxi_homepage') }}">
                <img src="{{ asset('bundles/davincitaxi/images/logo.png') }}" alt="{{ 'Taxi My Price'|trans}}" />
            </a>
        </li>
        <li></li>
        <li class="nest">
            <a href="{{ url('about') }}" class="texst-item">{{ 'About'|trans }}</a>
            <a href="{{ url('help') }}" class="texst-item">{{ 'Help'|trans }}</a>
            <a href="{{ url('profit') }}" class="nest-item">
                <span class="uk-button-danger figur-item"><i class="mp-icon-person"></i></span>
                <span>{{ 'Profit'|trans }}</span>
                <span class="uk-button-primary figur-item"><i class="mp-icon-taxi"></i></span>
            </a>
        </li>
        <li>
            <div class="book-store">
                <a class="book uk-button-danger" href="#">{{ 'Book'|trans }}</a>
                <a href="#" class="uk-button-primary">{{ 'Store'|trans }}</a>
                <div class="thumb">
                    <i class="mp-icon-good"></i>
                </div>
            </div>
        </li>
        <li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div data-uk-dropdown="" class="uk-button-dropdown">
                    <div class="uk-button  uk-button-link autorized loading">
                        <span class="caption">{{ 'My account'|trans }}</span> 
                        <i class="uk-icon-caret-down uk-margin-small-left"></i>
                        <br/>
                        <span class="ownship">passenger</span>
                        <div class="throb-group">
                            <i class="fa fa-square"></i>
                            <i class="fa fa-square"></i>
                            <i class="fa fa-square"></i>
                        </div>
                    </div>
                    <div class="uk-dropdown uk-dropdown-width-3 shadow-main">
                        <div class="myaccount-drop">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="uk-nav-header">{{ 'My account'|trans }}</li>
                                <li><a href="{{ url('office_passenger')}}"><i class="mp-icon-person"></i> {{ 'My profile'|trans }}</a></li>
                                <li><a href=""><i class="mp-icon-message"></i> {{ 'Notification'|trans }}</a></li>
                                <li><a href="{{ url('fos_user_security_logout') }}"><i class="mp-icon-logout"></i> {{ 'Log Out'|trans }}</a></li>
                            </ul>
                        </div>
                        <div class="myoffice-drop">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="uk-nav-header">My office</li>
                                <li><span>
                                        {% if is_granted('ROLE_USER') %}
                                        <a href="{{ url('office_passenger')}}">{{ 'Passenger'|trans }}</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_TAXIDRIVER') %}
                                        <a href="{{ url('office_driver')}}">{{ 'Independent driver'|trans }}</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_COMPANYDRIVER') %}
                                        {{ 'Company driver'|trans }}
                                        {% endif %}
                                        {% if is_granted('ROLE_TAXIMANAGER') %}
                                        {{ 'Manager'|trans }}
                                        {% endif %}
                                        {% if is_granted('ROLE_TAXICOMPANY') %}
                                        {{ 'Company'|trans }}
                                        {% endif %}
                                    </span>
                                </li>
                            </ul>
                            <a href="{{ url('fos_user_registration_confirmed') }}" class="uk-button uk-button-success">Get new office</a>
                        </div>
                        <div class="myid-drop">
                            <div class="myid-drop-top">
                                <div class="img">
                                    {% if app.user.photo.path is defined %}
                                        <img src="{{ app.user.photo.path| imagine_filter('menu_avatar') }}" alt="{% if app.user %}{{ app.user.firstname }} {{ app.user.lastname }}{% endif %} avatar" />
                                    {% else %}
                                        <img src="{{ asset('/bundles/davincitaxi/images/profile-photo2x.png') }}" alt="blank avatar" />
                                    {% endif %}
                                </div>
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li>
                                        <div class="clientid">My ID: <span class="data">{{ app.user.id }}</span></div>
                                    </li>
                                    <li>
                                        <div class="clientid">Name: <span class="data">{{ app.user.firstname }} {{ app.user.lastname }}</span></div>
                                    </li>
                                    <li>
                                        <div class="clientid">My balance: <span class="data">$0.00</span></div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="uk-grid  menu-bord">
                                <li><a href="">$Add</a></li>
                                <li><a href="">$Withdraw</a></li>
                                <li><a href="">$Transfer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ url('fos_user_security_login') }}" class="uk-button  uk-button-link nonautorized">{{ 'Hello, Sign in'|trans }}</a>
            {% endif %}

        </li>
    </ul>
</nav>
 -->
                            <a href="#" class="uk-navbar-toggle" data-uk-offcanvas="{target:'#offcanvas-nav'}"></a>
                        </div>
                    </div>
                    {% block breadcrumbs %}
                        <div class="header-bottom">
                            <nav class="header-bottom-in">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <div class="notif-button">
                                        <a class="link" href="{{ url('notifications') }}">
                                            <i class="mp-icon-message"></i>
                                                {{ 'Notification'|trans }}
                                            <b>5</b>
                                        </a>
                                        <a href="{{ url('notifications') }}" class="mobile-link">
                                            <i class="mp-icon-message"></i>
                                            <b>5</b>
                                        </a>
                                    </div>
                                {% endif %} 
                                {{ knp_menu_render('breadcrumb',{'currentAsLink':false} ) }}
                               {# <ul class="uk-subnav uk-subnav-pill lang">
                                    <li data-uk-dropdown>
                                        <a href="#" class="uk-button uk-button-link">

                                            {% if app.request.locale =='en' %} Eng {%elseif app.request.locale =='ru'%} Rus {% endif %}
{#!!!!!!!!!!!!!!!!!!!!{{ locale_switcher() }} #}
                                           {# <i class="uk-icon-caret-down"></i></a>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav uk-nav-dropdown">
                                                <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">Eng</a></li>
                                                {# <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ru'})) }}">Rus</a></li> #}
                                           {# </ul>
                                        </div>
                                    </li>
                                </ul>#}
                            </nav>
							<div class="clear"></div>
                        </div>
                    {% endblock %}
                </header>
            {% endblock %}
            
            {% block title %}
            {% endblock title %}
            
            <div class="main-content">
                {% block body %}
                {% endblock %}
            </div>

            <div id="offcanvas-nav" class="uk-offcanvas">
                <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:false}">
                        <li><div class="offcanvas-haed">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 
                                    {{ 'Hello!'|trans}} 
                                {% else %} 
                                    <a href="{{ url('fos_user_security_login') }}">{{ 'Sing Up '|trans}}<i class="uk-icon-sign-in"></i></a>
                                {% endif %}
                            </div></li>
                        
                        <li class="uk-parent"><a href="#">Your passanger</a>
                            <ul class="uk-nav-sub">
                                <li><a href="">Book</a></li>
                                <li><a href="{{ url('profit') }}">Profit</a></li>
                                <li><a href="{{ url('help') }}">Help</a></li>

                            </ul>
                        </li>
                        <li class="uk-parent"><a href="#">Your driver</a>
                            <ul class="uk-nav-sub">
                                <li><a href="">TMP market</a></li>
                                <li><a href="{{ url('profit') }}">Profit</a></li>
                                <li><a href="{{ url('help') }}">Help</a></li>                   

                            </ul>
                        </li>
                        <li class="uk-parent"><a href="#">Store</a>
                            <ul class="uk-nav-sub">
                                <li><a href="">For passanger</a></li>
                                <li><a href="">For driver</a></li>
                                <li><a href="">General</a></li>
                                <li><a href="{{ url('help') }}">Help</a></li>                   

                            </ul>
                        </li>
                        <li class="uk-active"><a href="{{ url('about') }}">About TMP</a></li>
                        <li class="uk-active"><a href="">TMP agreements</a></li>
                        <li class="uk-active"><a href="">Media</a></li>
                        <li class="uk-active"><a href="">Log out <i class="mp-icon-logout"></i></a></li>
                    </ul>
                </div>
            </div>

                <div class="mp-spinner"><div class="uk-icon-circle-o-notch uk-icon-spin"></div></div>
        </div>

        {% block footer %}

            <footer>
                <div class="footer-top">
                    <div class="footer-in">
                        <nav class="add-nav">
                            <ul class="uk-subnav uk-subnav-pill uk-list">
                                <li><a href="#">{{ 'Privacy policy'|trans }}</a></li>
                                <li><a href="#">{{ 'Reviews'|trans }}</a></li>
                                <li><a href="#">{{ 'Blog'|trans }}</a></li>
                            </ul>
                        </nav>

                        <ul class="uk-subnav uk-subnav-pill social uk-list">

                            <li><a class="twitter" href="#"><i class="uk-icon-twitter"></i></a></li>
                            <li><a class="google" href="#" title="google+"><i class="uk-icon-google-plus"></i></a></li>
                            <li><a class="facebook" href="#"><i class="uk-icon-facebook"></i></a></li>
                            <li><a class="youtube" href="#"><i class="uk-icon-youtube"></i></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>&copy; {{ "now"|date("Y") }}  TaxiMyPrice</p>
                </div>
            </footer>
        {% endblock %}

        <!--[if lt IE 10 ]>
            <style type="text/css">
                .placeholder { color: gray;}
            </style>
            <script src="{{ asset('bundles/davincitaxi/js/placeholder.js') }}"></script>
        <![endif]-->
        <!--[if lt IE 9 ]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {% block javascripts %}
       	    {% javascripts filter='?requirejs'
                '@DaVinciTaxiBundle/Resources/public/js/pages/just_page.js'
            %}
            {{ require_js_initialize({ 'main' : asset_url })}}
            {% endjavascripts %}
        {% endblock %}
        {% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}
    </body>
</html>
