<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="widht=device-width, initial-scale=1.0" />
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
			{% block stylesheets %}
				{% stylesheets 'bundles/davincitaxi/css/uikit.css'
					'bundles/davincitaxi/css/addons/uikit.addons.css'
					'bundles/davincitaxi/css/flick/jquery-ui-1.10.4.custom.min.css' filter='cssrewrite' 
					'bundles/davincitaxi/css/styles.css' %}
					<link media="all" rel="stylesheet" href="{{ asset_url }}" />
				{% endstylesheets %}
			{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/davincitaxi/images/favicon.ico') }}" />
    </head>
    <body class="{% block theme %}default{% endblock %}">
	   <div class="registerfix"></div>
       <div class="wrapper" >
			<div class="wrapper-in">
				{% block header %}
					<header id="header" class="wrapper-content"><div class="content">
						<table>
							<tr>
								<td><strong class="logo"><a href="{{ url('da_vinci_taxi_homepage') }}">TAXI MY PRICE</a></strong></td>
								<td>
								</td>
								<td>
									<nav id="main-nav">
										<ul class="uk-subnav uk-subnav-pill">
											<li><a href="#">About</a></li>
											<li><a href="#">Help</a></li>
											<li>
												<a href="#"><img src="{{ asset('bundles/davincitaxi/images/ico01.png') }}" alt="Passenger" width="27" height="27"></a>
												<a href="#">Profit</a>
												<a href="#"><img src="{{ asset('bundles/davincitaxi/images/ico02.png') }}" alt="Driver" width="27" height="27"></a>
											</li>
										</ul>
									</nav>
								</td>
								<td><div class="typevis"><a class="book" href="#">Book</a><a href="#">Store</a><div class="razd"></div></div></td>
								<td class="lastvis">
									{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
										<span class="signin"> Wellcome, {{ app.user.username[:10] }}..</span>
									{% else %}
										<ul class="uk-subnav uk-subnav-pill uk-button-group signin">
											<li data-uk-dropdown="{mode:'click'}" class="">
												<span class="uk-button uk-button-link">Hello, Sign in <i class="uk-icon-caret-down"></i></span>
												<div class="uk-dropdown uk-dropdown-medium">
													<ul class="uk-nav uk-nav-dropdown">
														<li><a href="{{ url('fos_user_registration_register') }}" class="uk-button uk-button-link">Register</a></li>
														<li><a class="uk-button uk-button-success" href="{{ url('fos_user_security_login') }}">Log in</a></li>
													</ul>
												</div>
											</li>
										</ul>
									{% endif %}
								</td>
								<td><a href="javascript://" class="uk-navbar-toggle" data-uk-offcanvas="{target:'#offcanvas-nav'}"></a><strong></strong></td>
							</tr>
						</table>
					</div></header>
				{% endblock %}
				{% block body %}{% endblock %}
				{% block javascripts %}
						<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
						{% javascripts
							'@DaVinciTaxiBundle/Resources/public/js/jquery.js'
							'@DaVinciTaxiBundle/Resources/public/js/jquery.mousewheel.js'
							'@DaVinciTaxiBundle/Resources/public/js/jquery-ui-1.10.4.custom.min.js'
							'@DaVinciTaxiBundle/Resources/public/js/uikit.min.js'
                            '@DaVinciTaxiBundle/Resources/public/js/addons/form-password.min.js'
							'@DaVinciTaxiBundle/Resources/public/js/timepicker.js'
							'@DaVinciTaxiBundle/Resources/public/js/custom-form-elements.js'
							'@DaVinciTaxiBundle/Resources/public/js/jquery.form.js'
							'@DaVinciTaxiBundle/Resources/public/js/jquery.validate.js'
							'@DaVinciTaxiBundle/Resources/public/js/all.js' %}
						<script src="{{ asset_url }}"></script>
						{% endjavascripts %}
				{% endblock %}



				<div id="offcanvas-nav" class="uk-offcanvas">
					<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
						<ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:false}">
							<li class="uk-nav-header offcanvas-footer">Index</li>
							<li><a href="#">About</a></li>
							<li><a href="#">Help</a></li>
							<li>
								<a href="#"><img src="{{ asset('bundles/davincitaxi/images/ico01.png') }}" alt="Passenger" width="27" height="27"></a>
								<a href="#">Profit</a>
								<a href="#"><img src="{{ asset('bundles/davincitaxi/images/ico02.png') }}" alt="Driver" width="27" height="27"></a>
							</li>
							<li><a class="book" href="#">Book</a></li>
							<li><a href="#">Store</a></li>
							<li class="uk-nav-header offcanvas-footer">Footer</li>
							<!--li class="offcanvas-footer"><a href="#">Info</a></li-->
							<li class="offcanvas-footer"><a href="#">Privacy Policy</a></li>
							<li class="offcanvas-footer">
								<a href="#"><i class="uk-icon-youtube-play"></i> YouTube</a>
								<a href="#"><i class="uk-icon-twitter"></i> Twitter</a>
								<a href="#"><i class="uk-icon-facebook-square"></i> Facebook</a>
								<a href="#"><i class="uk-icon-vk"></i> VK</a>
								<a href="#"><i class="uk-icon-instagram"></i> Instagram</a>
							</li>
							<!--li class="offcanvas-footer"><a class="youtube" href="#" title="youtube">youtube</a></li>
							<li class="offcanvas-footer"><a class="twitter" href="#">twitter</a></li>
							<li class="offcanvas-footer"><a class="facebook" href="#">facebook</a></li>
							<li class="offcanvas-footer"><a class="google" href="#" title="google+">google+</a></li>
							<li class="offcanvas-footer"><a class="linkedin" href="#">linkedin</a></li-->
						</ul>
					</div>
				</div>
			
			</div>
			{% block footer %}
				 <footer id="footer" class="wrapper-content">
					<div class="footer-block">
						<div class="content">
							<nav class="add-nav uk-grid">
								<ul class="uk-subnav uk-subnav-pill uk-list">
									<!--li><a href="#">Info</a></li-->
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</nav>

							<ul class="uk-subnav uk-subnav-pill social uk-list">
								<li><a class="youtube" href="#" title="youtube">youtube</a></li>
								<li><a class="twitter" href="#">twitter</a></li>
								<li><a class="facebook" href="#">facebook</a></li>
								<li><a class="google" href="#" title="google+">google+</a></li>
								<li><a class="linkedin" href="#">linkedin</a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="copy"><p class="w1 content">&copy; {{ "now"|date("Y") }}  TaxiMyPrice</p></div>
					<div class="clear"></div>
				</footer>
			{% endblock %}
		</div>
    </body></html>
