<div class="message">
    <span>Внимание!</span> Текстовая информация.
    <div class="message-drop uk-float-right">
        <span>LOCAL BLOGS</span>
    </div>
</div>
<div class="blog">
   	<div class="buttom-swicher">
        <ul class="uk-width-1-1 uk-width-large-2-3" data-uk-switcher="{connect:'#blog'}">
            <li class="uk-active"><a href="#">{{ 'Lasts posts' |trans }}</a></li>
            <li><a href="#">{{ 'News' |trans }}</a></li>
            <li><a href="#">{{ 'Savings' |trans }}</a></li>
            <li><a href="#">{{ 'Videos' |trans }}</a></li>
            <li><a href="#">{{ 'Passenger' |trans }}</a></li>
            <li><a href="#">{{ 'Driver' |trans }}</a></li>
            <li><a href="#">{{ 'Taxi company' |trans }}</a></li>
            <li><a href="#">{{ 'Special' |trans }}</a></li>
            <li><a href="#">{{ 'For partners' |trans }}</a></li>
        </ul>
    </div>
        <ul id="blog" class="uk-switcher">
            <li class="uk-active">
                <div class="block-help">
                    <div class="help-content">
                        <div class="uk-grid uk-grid-small top">
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog1.jpg') }}" alt="">
                                <h6>Membership «Optimum» - the best choice at the best price!</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog2.jpg') }}" alt="">
                                <h6>Membership «Maximum» - all features at a low price</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog3.jpg') }}" alt="">
                                <h6>Christmas bonuses and discounts for you!</h6>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="help-sidebar">
                        <form class="uk-search" data-uk-search="">
                            <input class="uk-search-field" type="search" placeholder="Поиск">
                        </form>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'News'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'Savings'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav demo">
                            <li class="head"><a href="#">{{'Videos'|trans}}</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как начать пользоваться сервисом Taxi My Price</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как настроить профиль пассажира в Taxi My Price</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">more demo</a></li>
                        </ul>
                    </div>
                    <button class="uk-button more">MORE <span>(245)</span></button>
                </div>
            </li>
            <li>
                <div class="block-help">
                    <div class="help-content">
                        <div class="uk-grid uk-grid-small top">
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog1.jpg') }}" alt="">
                                <h6>Membership «Optimum» - the best choice at the best price!</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog2.jpg') }}" alt="">
                                <h6>Membership «Maximum» - all features at a low price</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog3.jpg') }}" alt="">
                                <h6>Christmas bonuses and discounts for you!</h6>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="help-sidebar">
                        <form class="uk-search" data-uk-search="">
                            <input class="uk-search-field" type="search" placeholder="Поиск">
                        </form>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'News'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'Savings'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav demo">
                            <li class="head"><a href="#">{{'Videos'|trans}}</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как начать пользоваться сервисом Taxi My Price</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как настроить профиль пассажира в Taxi My Price</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">more demo</a></li>
                        </ul>
                    </div>
                    <button class="uk-button more">MORE <span>(245)</span></button>
                </div>
            </li>
            <li>
                <div class="block-help">
                    <div class="help-content">
                        <div class="uk-grid uk-grid-small top">
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog1.jpg') }}" alt="">
                                <h6>Membership «Optimum» - the best choice at the best price!</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog2.jpg') }}" alt="">
                                <h6>Membership «Maximum» - all features at a low price</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog3.jpg') }}" alt="">
                                <h6>Christmas bonuses and discounts for you!</h6>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="help-sidebar">
                        <form class="uk-search" data-uk-search="">
                            <input class="uk-search-field" type="search" placeholder="Поиск">
                        </form>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'News'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'Savings'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav demo">
                            <li class="head"><a href="#">{{'Videos'|trans}}</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как начать пользоваться сервисом Taxi My Price</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как настроить профиль пассажира в Taxi My Price</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">more demo</a></li>
                        </ul>
                    </div>
                    <button class="uk-button more">MORE <span>(245)</span></button>
                </div>
            </li>
            <li>
                <div class="block-help">
                    <div class="help-content">
                        <div class="uk-grid uk-grid-small top">
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog1.jpg') }}" alt="">
                                <h6>Membership «Optimum» - the best choice at the best price!</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog2.jpg') }}" alt="">
                                <h6>Membership «Maximum» - all features at a low price</h6>
                            </div>
                            <div class="uk-panel uk-width-1-3 tarif">
                                <img src="{{ asset('bundles/davincitaxi/images/blog3.jpg') }}" alt="">
                                <h6>Christmas bonuses and discounts for you!</h6>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small wide">
                            <div class="uk-panel uk-width-1-3">
                                <img src="{{ asset('bundles/davincitaxi/images/blog4.jpg') }}" alt="">
                            </div>
                            <div class="uk-panel uk-width-2-3">
                                <a href="">Video Message Truth or Dare with Skype Sci-Fi Ambassador</a>
                                <h5>11 MAR 14</h5>
                                <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. За 20 минут до отезда автомобиль уже стоял во дворе, водитель помог загрузить вещи, усадил детей и собаку. На место отдыха добрались без проблем ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="help-sidebar">
                        <form class="uk-search" data-uk-search="">
                            <input class="uk-search-field" type="search" placeholder="Поиск">
                        </form>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'News'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav">
                            <li class="head"><a href="#">{{'Savings'|trans}}</a></li>
                            <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
                            <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
                            <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
                        </ul>
                        <ul class="uk-nav demo">
                            <li class="head"><a href="#">{{'Videos'|trans}}</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как начать пользоваться сервисом Taxi My Price</a></li>
                            <li>
                                <a href="#" class="preview-video">
                                    <img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
                                </a>
                            </li>
                            <li class="link"><a href="#">Как настроить профиль пассажира в Taxi My Price</a></li>
                            <li><a class="uk-button uk-button-primary" href="#">more demo</a></li>
                        </ul>
                    </div>
                    <button class="uk-button more">MORE <span>(245)</span></button>
                </div>
            </li>
        </ul>
</div>