{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'instructions' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
{% endblock%}
{% block body %}
{# ======= Swicher button ========= #}
	<div class="shadow-main whitebg">
		<div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#help'}">
			<div class="uk-panel uk-width-1-2">
				<button class="uk-width-1-1 uk-button"><i class="mp-icon-person"></i> {{ 'Passenger help'|trans }}</button>
			</div>
			<div class="uk-panel uk-width-1-2">
				<button class="uk-width-1-1 uk-button"><i class="mp-icon-taxi"></i> {{'Driver help'|trans}}</button>
			</div>
		</div>
			<div class="message">
				<span class="uk-text-danger">{{'Внимание!'|trans}}</span> {{'Не забывайте подтвердить вашу готовность выполнить заказ.'|trans}}
			</div>
			<div class="search">
				<form class="uk-search" data-uk-search>
				    <input class="uk-search-field" type="search" placeholder="Search text">
				</form>
			</div>
		<ul id="help" class="uk-switcher">
			{# === Passenger === #}
			<li class="uk-active">
				<div class="block-help">
					<div class="help-content">
						<h3>{{'Guides:'|trans}}</h3>
							<ul class="uk-nav only-link">           
                                {% for g in guides %}
                                    {% if g.forPassenger %}
                                       <li><a href="{{ path(g) }}">{{ g.title }}</a></li> 
                                    {% endif %}
							    {% endfor %}
			                </ul>
				    	{# <a href="" class="uk-button uk-width-1-1 see-all">{{'See all '|trans}}(28)</a> #}
				    	<div class="support">
				    		<span>{{'Если вам не удалось решить проблему, то задайте вопрос в службу поддержки!'|trans}}</span>
				    		<a href="" class="uk-button uk-button-success">{{'GET TMP SUPPORT'|trans}}</a>
				    	</div>
					</div>
					<div class="help-sidebar">
						<ul class="uk-nav">
			                <li class="head"><a href="#">{{'FAQs'|trans}}</a></li>
	                        <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
	                        <li><a href="#">{{'Нужно ли подтверждать номер мобильного телефона?'|trans}}</a></li>
	                        <li><a href="#">{{'Я забыл свой пароль и хочу его восстановить'|trans}}</a></li>
	                        <li><a href="#">{{'Я хочу назначить цену на поездку но не знаю как'|trans}}</a></li>
	                        <li><a href="#">{{'Я хочу заказать поездку для моего родственника. Как это сделать?'|trans}}</a></li>
	                        <li><a href="#">{{'Я хочу назначить водителю чаевые. Как это сделать?'|trans}}</a></li>
	                        <li><a href="#">{{'Мне необходимо связаться с водителем принявшим мою заявку.'|trans}}</a></li>
	                        <li><a href="#">{{'Как начать пользоваться сервисом Taxi My Price?'|trans}}</a></li>
	                        <li><a class="uk-button uk-button-primary" href="#">{{'more questions'|trans}}</a></li>
	                    </ul>
						<ul class="uk-nav demo">
			                <li class="head"><a href="#">Demo</a></li>
	                        <li>
	                        	<a href="#" class="preview-video">
									<img src="{{ asset('bundles/davincitaxi/images/video1.jpg') }}" alt="{{ ''|trans}}" />
								</a>
							</li>
	                        <li class="link"><a href="#">Как начать пользоваться сервисом Taxi My Price</a></li>
	                        <li>
	                        	<a href="#" class="preview-video">
									<img src="{{ asset('bundles/davincitaxi/images/video2.jpg') }}" alt="{{ ''|trans}}" />
								</a>
	                        </li>
	                        <li class="link"><a href="#">Как настроить профиль пассажира в Taxi My Price</a></li>
	                        <li>
	                        	<a href="#" class="preview-video">
									<img src="{{ asset('bundles/davincitaxi/images/blog1.jpg') }}" alt="{{ ''|trans}}" />
								</a>
							</li>
	                        <li class="link"><a href="#">Как начать пользоваться сервисом Taxi My Price</a></li>
	                        <li>
	                        	<a href="#" class="preview-video">
									<img src="{{ asset('bundles/davincitaxi/images/blog2.jpg') }}" alt="{{ ''|trans}}" />
								</a>
	                        </li>
	                        <li class="link"><a href="#">Как настроить профиль пассажира в Taxi My Price</a></li>
	                        <li><a class="uk-button uk-button-primary" href="#">more demo</a></li>
	                    </ul>
	                </div>
				</div>
			</li>
			<li>
			<li class="uk-active">
				<div class="block-help">
					<div class="help-content">
						<h3>{{'Guides:'|trans}}</h3>
							<ul class="uk-nav only-link">
                                      {% for g in guides %}
                                    {% if not g.forPassenger %}
                                       <li><a href="{{ path(g) }}">{{ g.title }}</a></li> 
                                    {% endif %}
							    {% endfor %}
			                </ul>
				    	{# <a href="" class="uk-button uk-width-1-1 see-all">{{'See all '|trans}}(28)</a> #}
				    	<div class="support">
				    		<span>{{'Если вам не удалось решить проблему, то задайте вопрос в службу поддержки!'|trans}}</span>
				    		<a href="" class="uk-button uk-button-success">{{'GET TMP SUPPORT'|trans}}</a>
				    	</div>
					</div>
                </div>
			</li>
		</ul>
	</div>
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/help/guides.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}