<div class="whitebg">
    <div class="message"><span class="uk-text-danger">{{ 'Внимание'|trans }}! </span>{{ 'Не забывайте подтвердит вашу готовность выполнить заказ'|trans }}!</div>

    <div class="profit-driver">
        <div class="buttom-swicher">
            <ul class="uk-width-1-1 uk-width-large-2-3" data-uk-switcher="{connect:'#profdriver'}">
                {% for dt in driver_tabs %}
                    <li {% if loop.first %}class="uk-active" {% endif %}><a href="#">{{ dt.title }}</a></li>
                    {% endfor %}
            </ul>
        </div>            
        <ul id="profdriver" class="uk-switcher">
            {% for dt in driver_tabs %}

                <li class="uk-active">
                    <div class="content">
                        <div class="left">
                            {{ dt.block1|raw }}
                        </div>
                        <div class="center">
                            <h3 class="uk-button-danger">
                                <i class="mp-icon-good"></i>
                                <span>{{ dt.block2Title }}</span>
                            </h3>
                            {{ dt.block2|raw }}
                        </div>
                        <div class="right">
                            <div class="videoWrapper">
                                {% media dt.youtubeLink, 'small' %}
                            </div>
                            <a href="{{ url('main_driver') }}" class="book-ride uk-button uk-button-success">Choose best passenger</a>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>
</div>
