<div class="message">
    <span>Внимание!</span> Текстовая информация.
</div>
<div class="reviews">
   	<div class="buttom-swicher">
        <ul class="uk-width-1-1 uk-width-large-2-3">
            {# <li class="uk-active"><a href="#">{{ 'Stories' |trans }}</a></li> #}
            {% for key,column in reviewColumns %}
                <li{% if reviewColumn == key %} class="uk-active"{% endif %}>
                    <a href="{{ path('reviews', {'reviewColumn': key}) }}">{{ column|trans }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul id="reviews">
        {#
        <li class="uk-active">
            <div class="stories">
                <div class="first">
                    <div class="any-rev">
                        <div class="photo">
                            <img src="/bundles/davincitaxi/images/rev-photo.jpg" alt="">
                        </div>
                        <div class="one-rev">
                            <h3>Анна Семенович</h3>
                            <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. Через неделю будем возвращаться этим же способом. Кто еще не решился на использование TaxiMyPrice - рекомендую!</p>
                        </div>
                    </div>
                </div>
                <div class="second">
                    <div class="any-rev">
                        <div class="photo">
                            <img src="/bundles/davincitaxi/images/rev-photo.jpg" alt="">
                        </div>
                        <div class="one-rev">
                            <h3>Анна Семенович</h3>
                            <p>Хочу сказать огромное спасибо TaxiMyPrice! Пользовался данным сервисом впервые, сделал заявку за 2 недели до дня отезда, уже через час на заявку откликнулись 4 водителя, все показались одинаково хорошими потому выбирал по автомобилю. Через неделю будем возвращаться этим же способом. Кто еще не решился на использование TaxiMyPrice - рекомендую!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-help">
                <button class="uk-button more">MORE <span>(245)</span></button>
            </div>
        </li>
        #}
        <li> 
            <div class="block-help">
                {% for item in items %}
                    {% set actualUser = item.user %}
                    <div class="chat">
                        <div class="messagechat">
                            <div class="avatar"><img src="/bundles/davincitaxi/images/avatar.png" alt="" width="26" height="26"></div>
                                <div class="topchat">
                                    <a class="name">{{ actualUser.username  }}</a>
                                    <span>({{ item.createdAt|date('d M y H:i A') }})</span>
                                    <div class="textchat">{{ item.text }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {# <button class="uk-button more">MORE <span>(245)</span></button> #}
                <div class="new">
                    <h3>New review</h3>
                    {% if is_granted('ROLE_USER') %}
                        {% if created == true %}
                            <p>{{ 'Review has been sent'|trans }}</p>
                        {% else %}
                            {% set currentRoute = app.request.get('_route') %}
                            <form novalidate action="{{ path(currentRoute) }}" {{ form_enctype(form) }} method="POST">
                                <div class="errors for-steps">{{ form_errors(form) }}</div>
                                <p>{{'Please leave your review'|trans}}</p>
                                <dl class="fullsize">
                                    <dt>{{'Rate level'|trans}}:</dt>
                                    <dd>
                                        {{ form_errors(form.rateLevel) }}
                                        {{ form_widget(form.rateLevel) }}
                                    </dd>
                                    <dt>{{'Text review'|trans}}:</dt>
                                    <dd>
                                        {{ form_errors(form.text) }} 
                                        {{ form_widget(form.text) }} 
                                        <h6 class="precounter">{{'symbols left'|trans}}:</h6>
                                    </dd>
                                </dl>
                                <button class="uk-button">{{'Send Review'|trans}}</button>
                            </form>
                        {% endif %}    
                    {% else %}
                        <p>{{'Please %login% to write review.'|trans({'%login%': '<a href="'~url('fos_user_security_login')~'">login</a>'})|raw}}</p>
                    {% endif %}
                </div>
            </div>
        </li>
         
    </ul>
</div>