<div class="addcard">
    <div class="buttom-swicher">
        <ul class="uk-width-1-1 uk-width-large-2-3" data-uk-switcher="{connect:'#addcard'}">
        	<li class="uk-active"><a href="#"><img src="{{ asset('bundles/davincitaxi/images/visa.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/mcard.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/dclub.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/amerexp.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/discover.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/paypal.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/wu.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/mgramm.png') }}" alt=""></a></li>
        	<li><a href="#"><img src="{{ asset('bundles/davincitaxi/images/skrill.png') }}" alt=""></a></li>
        </ul>
    </div>
    <ul id="addcard" class="uk-switcher content-padding">
        <li class="uk-active">
            <h3>Пополнение счета с помощью VISA</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Persona:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Юридическое лицо</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Company name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row month">
                    <label class="uk-form-label" for="">Month:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row year">
                    <label class="uk-form-label" for="">Year:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row cwcvc">
                    <label class="uk-form-label" for="">CW/CVC:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Pay</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью MasterCard</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Persona:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Юридическое лицо</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Company name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row month">
                    <label class="uk-form-label" for="">Month:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row year">
                    <label class="uk-form-label" for="">Year:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row cwcvc">
                    <label class="uk-form-label" for="">CW/CVC:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Pay</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью DCL</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Persona:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Юридическое лицо</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Company name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row month">
                    <label class="uk-form-label" for="">Month:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row year">
                    <label class="uk-form-label" for="">Year:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row cwcvc">
                    <label class="uk-form-label" for="">CW/CVC:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Pay</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью AmericanExpress</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Persona:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Юридическое лицо</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Company name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row month">
                    <label class="uk-form-label" for="">Month:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row year">
                    <label class="uk-form-label" for="">Year:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row cwcvc">
                    <label class="uk-form-label" for="">CW/CVC:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Pay</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью DISCOVER</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Persona:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Юридическое лицо</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="utooltip" data-uk-tooltip="{pos:'left'}" title="" data-cached-title="{{ 'Write correct information'|trans }}">?</div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Company name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row month">
                    <label class="uk-form-label" for="">Month:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row year">
                    <label class="uk-form-label" for="">Year:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row cwcvc">
                    <label class="uk-form-label" for="">CW/CVC:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Pay</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью PayPal</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Persona:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Юридическое лицо</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Company name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Card number:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row month">
                    <label class="uk-form-label" for="">Month:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row year">
                    <label class="uk-form-label" for="">Year:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row cwcvc">
                    <label class="uk-form-label" for="">CW/CVC:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Pay</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью Western Union</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Middle:<span>(optional)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Country:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">City:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Next</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью Money Gramm</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">First name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Middle:<span>(optional)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Last name:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Country:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">City:</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                   </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Next</button>
            </form>
        </li>
        <li>
            <h3>Пополнение счета с помощью Skrill</h3>
            <form action="" class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">E-mail:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Subject:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row amount">
                    <label class="uk-form-label" for="">Amount:</label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <div class="uk-form-select select" data-uk-form-select select>
                            <span></span>
                            <i class="uk-icon-caret-down"></i>
                            <select name="" id="">
                                <option value="">Не выбрано</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="">Note:<span>(not necessarity)</span></label>
                    <div class="uk-form-controls">
                        <input type="text" id="" placeholder="">
                        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-danger">Next</button>
            </form>
        </li>
    </ul>
</div>