{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'financial-office' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
{% endblock%}
{% block body %}
{# ======= Swicher button ========= #}
<div class="client-account">
	<div class="client-panel-button">
		<div class="uk-grid uk-grid-small">
			<div class="uk-panel">
				<button class="uk-button uk-button-primary uk-button-profile" data-uk-modal="{target:'#Profile'}"><i class="mp-icon-person"></i>{{ 'My profile'|trans }}</button>
			</div>
			<div class="uk-panel">
				<button class="uk-button uk-button-success uk-button-profile"><i class="uk-icon-dollar"></i>{{'Take escrow '|trans}} </button>
			</div>
			<div class="uk-panel">
				<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-good"></i>{{ 'Buy Membership'|trans }}</button>
			</div>
			<div class="uk-panel">
				<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-gift"></i>{{ 'Gift Card'|trans }}</button>
			</div>
			<div class="uk-panel">
				<button class="uk-button uk-button-success uk-button-profile"><span class="icon-messages-n"><font>5</font></span><i class="mp-icon-message"></i>{{ 'Messages'|trans }}</button>
			</div>
		</div>
	</div>
	<div class="client-panel-list">
		<div class="uk-grid uk-grid-small uk-margin">
			<div class="uk-panel">
				<div class="clientid">
					<dl>
						<dt>{{'My ID:'|trans}}</dt><dd class="data">  7687796059662 </dd>
						<dt>{{' Name:'|trans}}</dt><dd class="data">  Boris Ivanov </dd>
						<dt> {{'Offices:'|trans}}</dt> <dd class="data"><span> 3 </span><a href="#">{{'view'|trans}}</a></dd>
					</dl>
				</div>
			</div>
			<div class="uk-panel">
				<div class="clientid">
					<dl>
						<dt class=""> {{'My balance:'|trans}}  </dt><dd id="balance" class="data"> $0.00</dd>
						<dd class="divider"><a href=""> {{'$Add'|trans}} </a><a href=""> {{'$Withdraw'|trans}} </a></dd>
						<dd class="divider"><a href=""> {{'$Transfer'|trans}} </a><a href=""> {{'$History'|trans}} </a></dd>
					</dl>
				</div>
			</div>
			<div class="uk-panel">
				<div class="clientid">
					<dl>
						<dt> {{'Membership:'|trans}}  </dt><dd id="status" class="data">  {{'Gold'|trans}} </dd>
						<dt> {{'Left time:'|trans}}  </dt><dd class="data">  11 {{'oct'|trans}} 14 </dd>
						<dt><a href=""> {{'Extend'|trans}}</a></dt>
					</dl>
				</div>
			</div>
			<div class="uk-panel">
				<div class="clientid">
					<dl>
						<dt> {{'Company offices:'|trans}}  </dt><dd id="" class="data"><span> 3 </span><a href="#">{{'view'|trans}}</a></dd>
						<dt> {{'Renew:'|trans}}  </dt><dd class="data">  11 {{'oct'|trans}} 14 </dd>
						<dt><a href=""> {{'Extend'|trans}}</a></dt>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
{# ======= Fin office ========= #}
<div class="shadow-main">
	<div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#finoffice'}">
		<div class="uk-panel uk-width-1-4">
			<button class="uk-width-1-1 uk-button">$ {{ 'Add'|trans }}</button>
		</div>
		<div class="uk-panel uk-width-1-4">
			<button class="uk-width-1-1 uk-button">$ {{'Withdraw'|trans}}</button>
		</div>
		<div class="uk-panel uk-width-1-4">
			<button class="uk-width-1-1 uk-button">$ {{'Transfer'|trans}}</button>
		</div>
		<div class="uk-panel uk-width-1-4">
			<button class="uk-width-1-1 uk-button">$ {{'History'|trans}}</button>
		</div>
	</div>
	<div class="whitebg">
		<div class="message">
			<span>Внимание!</span> Текстовая информация.
		</div>
		<ul id="finoffice" class="uk-switcher">
			<li class="uk-active">
				{% include 'DaVinciTaxiBundle:Finoffice:add.html.twig' %}
			</li>
			<li>
				{% include 'DaVinciTaxiBundle:Finoffice:withdraw.html.twig' %}
			</li>
			<li>
				{% include 'DaVinciTaxiBundle:Finoffice:transfer.html.twig' %}
			</li>
			<li>
				{% include 'DaVinciTaxiBundle:Finoffice:history.html.twig' %}
			</li>
		</ul>
	</div>
</div>

{% endblock %}
