{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'financial-office' %}
{% block title %}
    {% include 'DaVinciTaxiBundle:Banners:banner1.html.twig' %}
{% endblock%}
{% block body %}
{# ======= Swicher button ========= #}
<div class="client-account">
	{% include 'DaVinciUserBundle:Offices:account_financial_panel.html.twig' %}
</div>
{# ======= Fin office ========= #}
<div class="shadow-main">
	<div class="button-swicher uk-grid uk-grid-small uk-width-1-1">
		<div class="uk-panel uk-width-1-4{% if action == 'add' %} uk-active{% endif %}">
			<button class="uk-width-1-1 uk-button" onclick='location.href = "{{ path('financial_office_add') }}"'>$ {{ 'Add'|trans }}</button>
		</div>
		<div class="uk-panel uk-width-1-4{% if action == 'withdraw' %} uk-active{% endif %}">
			<button class="uk-width-1-1 uk-button" onclick='location.href = "{{ path('financial_office_withdraw') }}"'>$ {{'Withdraw'|trans}}</button>
		</div>
		<div class="uk-panel uk-width-1-4{% if action == 'transfer' %} uk-active{% endif %}">
			<button class="uk-width-1-1 uk-button" onclick='location.href = "{{ path('financial_office_transfer') }}"'>$ {{'Transfer'|trans}}</button>
		</div>
		<div class="uk-panel uk-width-1-4{% if action == 'history' %} uk-active{% endif %}">
			<button class="uk-width-1-1 uk-button" onclick='location.href = "{{ path('financial_office_history') }}"'>$ {{'History'|trans}}</button>
		</div>
	</div>
	<div class="whitebg">
		<div class="message">
			{#<span>Attention!</span> Information.#}
		</div>
		<ul id="finoffice" class="uk-switcher">
			<li class="uk-active">
				{% if action == 'add' %}
					{% include 'DaVinciTaxiBundle:Finoffice:add.html.twig' %}
				{% elseif action == 'withdraw' %}
					{% include 'DaVinciTaxiBundle:Finoffice:withdraw.html.twig' %}
				{% elseif action == 'transfer' %}
					{% include 'DaVinciTaxiBundle:Finoffice:transfer.html.twig' %}
				{% elseif action == 'history' %}
					{% include 'DaVinciTaxiBundle:Finoffice:history.html.twig' %}
				{% endif %}	
			</li>
		</ul>
	</div>
</div>

{% endblock %}

{% block javascripts %}
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/payment/financial.office.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}