<div class="history">
   	<div class="buttom-swicher">
        <ul class="uk-width-1-1 uk-width-large-2-3">
            <li{% if section == 'payment' %} class="uk-active"{% endif %}>
                <a href="{{ path('financial_office_history', {'section': 'payment'}) }}">{{ 'TMP market' |trans }}</a>
            </li>
            <li{% if section == 'addition' %} class="uk-active"{% endif %}>
                <a href="{{ path('financial_office_history', {'section': 'addition'}) }}">{{ 'Purchases' |trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'Transactions' |trans }}</a>
            </li>
        </ul>
    </div>
        <ul id="fin_history" class="uk-switcher">
        	<li class="uk-active">
				<div class="message">
				    {#<span>Информация:</span> текст#}
				</div>
				<div class="table-container">
					<table class="uk-table thead-gray">
						<thead>
							<th>#</th>
							<th>Tranzaction ID</th>
							<th class="daterange">Operation Date
								{#
                                <div class="uk-form-icon uk-form-icon-flip">
								    <i class="uk-icon-calendar"></i>
								    <input type="text" placeholder="02/12/14-26/12/14">
								</div>
                                #}        
							</th>
							<th>Details of payment</th>
							<th><i class="mp-icon-arrow-up"></i>Amount</th>
							<th>Currency</th>
							<th>Status</th>
						</thead>
						<tbody>
                            {% for operation in operations %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ operation.id }}</td>
                                    <td><b>{{ operation.processedTime|date('d M Y') }}</b> {{ operation.processedTime|date('h:i A') }}</td>
                                    <td><a href="">{{ operation.description }}</a></td>
                                    <td class="uk-text-success">{{ operation.amount }}</td>
                                    <td>{{ operation.currency }}</td>
                                    <td>{{ operation.operationState }}</td>
                                </tr>
                            {% else %}    
                                <tr class="empty-fillter-table">
                                    <td colspan="7">{{ 'Transaction not found'|trans }}</td>
                                </tr>    
                            {% endfor %}    
						</tbody>
					</table>
				</div>
        	</li>
        </ul>
	</div>