<div class="addcard">
    <div class="buttom-swicher">
        <ul class="uk-width-1-1 uk-width-large-2-3" data-uk-switcher="{connect:'#addcard'}">
        	{% for methodKey,method in methods %}
        		<li{% if methodCode == methodKey %} class="uk-active"{% endif %}>
        			<a href="{{ path('financial_office_transfer', {'methodCode': methodKey}) }}">
        				{% if method == 'Private' %}Private
        				{% elseif method == 'Business' %}Business
        				{% endif %}	
        			</a>
        		</li>
        	{% endfor %}
        </ul>
    </div>
    <ul id="addcard" class="uk-switcher content-padding">
        <li class="uk-active">
        	{% if operationCode is defined and operationCode == 0 %}
        		{{'Completed successfully!'|trans}}
        		<br/>
        		<a href="{{ path('financial_office_transfer', {'methodCode': methodCode}) }}">{{'Make operation again'|trans}}</a>
        	{% else %}
        		{% if operationCode is defined and operationCode != 0 %}
        			{{'Operation has not completed successfully!'|trans}}
        		{% endif %}
	        	<form novalidate action="{{ path('financial_office_transfer', {'methodCode': methodCode}) }}" {{ form_enctype(form) }} method="POST">
	        		{{ form_widget(form.paymentMethodCode) }}
		        	{% if paymentMethod == 'Internal' %}
		        		<div class="uk-form-row">
						    <div class="uk-form-label">{{ form_label(form.amount, 'Amount:') }}<i class="uk-icon-asterisk"></i></div>
							<div class="uk-form-controls">
						        {{ form_widget(form.amount) }}
						        <div class="errors">{{ form_errors(form.amount) }}</div>
						        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
						    </div>
						</div>
						{% include 'DaVinciTaxiBundle:Store:internal_method.html.twig' %}
					{% endif %}
					<button class="uk-button uk-button-danger">Pay</button>
				</form>
			{% endif %}		
    	</li>
    </ul>
 </div> 