{% if paymentMethod == 'CreditCardPaymentMethod' %}
	<h3>{{'Fund your account'|trans}} {{ subType }}</h3>
{% elseif paymentMethod == 'PayPalPaymentMethod' %}
	<h3>{{'Fund your account'|trans}} PayPal</h3>
{% endif %}	
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.firstname, 'First name:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.firstname) }}
        <div class="errors">{{ form_errors(form.paymentMethod.firstname) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.lastname, 'Last name:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.lastname) }}
        <div class="errors">{{ form_errors(form.paymentMethod.lastname) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.cardNumber, 'Card number:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.cardNumber) }}
        <div class="errors">{{ form_errors(form.paymentMethod.cardNumber) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row cwcvc">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.secretSalt, 'CVV/CVC:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.secretSalt) }}
        <div class="errors">{{ form_errors(form.paymentMethod.secretSalt) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row year">
    <label class="uk-form-label" for="">{{'Month:'|trans}}<i class="uk-icon-asterisk"></i></label>
    <div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.expirationMonth) }}
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row year">
    <div class="uk-form-label">{{ form_label(form.paymentMethod.expirationYear, 'Year:') }}<i class="uk-icon-asterisk"></i></div>
    <div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.expirationYear) }}
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row address">
    <div class="uk-form-label">{{ form_label(form.paymentMethod.address, 'Address:') }}</div>
    <div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.address) }}
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row zipcode">
    <div class="uk-form-label">{{ form_label(form.paymentMethod.zipCode, 'Zip code:') }}</div>
    <div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.zipCode) }}
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
    <div class="uk-form-label">{{ form_label(form.paymentMethod.company, 'Company name:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.company) }}
        <div class="errors">{{ form_errors(form.paymentMethod.company) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.ownNote, 'Own note:') }}</div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.ownNote) }}
        <div class="errors">{{ form_errors(form.paymentMethod.ownNote) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>