<h3>Internal Transfer</h3>
{% if action is defined and action == 'transfer' %}
	<div class="uk-form-row">
		<div class="uk-form-label">{{ form_label(form.paymentMethod.accountId, 'Account ID:') }}</div>
		<div class="uk-form-controls">
	        {{ form_widget(form.paymentMethod.accountId) }}
	        <div class="errors">{{ form_errors(form.paymentMethod.accountId) }}</div>
	        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
	    </div>
	</div>
{% endif %}
<div class="uk-form-row">
    <div class="uk-form-label">{{ form_label(form.paymentMethod.company, 'Company name:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.company) }}
        <div class="errors">{{ form_errors(form.paymentMethod.company) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.ownNote, 'Own Note:') }}</div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.ownNote) }}
        <div class="errors">{{ form_errors(form.paymentMethod.ownNote) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>