{# Payment step 1 #}
		<div class="uk-active">

{# Payment method #}
			<div class="pay-balance">
				<h4>{{'TMP payments:'|trans}}</h4>
				<div class="private">
					<input type="radio" name="makePaymentStepMethod[balanceType]" id="makePaymentStepMethod[balanceType]" checked="checked" value="0" /> {{'Private Balance'|trans}}<span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Private Balance'|trans}}"></span>
				</div>
				<div class="business">
					<input type="radio" name="makePaymentStepMethod[balanceType]" id="makePaymentStepMethod[balanceType]" value="1" /> {{'Business Balance'|trans}} <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{{'Business Balance'|trans}}"></span>
				</div>
			</div>

{# Card payments #}
			<div class="card-pay">
				<h4>{{'Card payments:'|trans}}</h4>
				<div class="uk-grid uk-grid-small">
					{% for choice in form.creditCardMethods.vars.choices %}
						<div class="uk-panel uk-width-medium-1-5 uk-width-small-1-3 uk-width-1-2">
							<input type="radio" name="makePaymentStepMethod[creditCardMethods]" id="makePaymentStepMethod[creditCardMethods]"" value="{{ choice.value }}" />
							{% if choice.label == 'Visa' %}
								<img src="{{ asset('bundles/davincitaxi/images/visa.png') }}" alt="" />
								<span>Visa</span>
							{% elseif choice.label == 'Master Card' %}
								<img src="{{ asset('bundles/davincitaxi/images/mcard.png') }}" alt="" />
								<span>Master Card</span>
							{% elseif choice.label == 'Diners Club' %}
								<img src="{{ asset('bundles/davincitaxi/images/dclub.png') }}" alt="" />
								<span>Diners Club</span>
							{% elseif choice.label == 'American Express' %}
								<img src="{{ asset('bundles/davincitaxi/images/amerexp.png') }}" alt="" />
								<span>American Express</span>			
							{% endif %}	
						</div>
					{% endfor %}
				</div>
			</div>

{# I payments #}
			<div class="i-pay">
				<h4>{{'I payments:'|trans}}</h4>
				<div class="uk-grid uk-grid-small">
					{% for choice in form.otherMethods.vars.choices %}
						<div class="uk-panel uk-width-medium-1-5 uk-width-small-1-3 uk-width-1-2">
							<input type="radio" name="makePaymentStepMethod[otherMethods]" id="makePaymentStepMethod[otherMethods]"" value="{{ choice.value }}" />
							{% if choice.label == 'PayPal' %}
								<img src="{{ asset('bundles/davincitaxi/images/paypal.png') }}" alt="" />
								<span>PayPal</span>
							{% elseif choice.label == 'Skrill' %}
								<img src="{{ asset('bundles/davincitaxi/images/skrill.png') }}" alt="" />
								<span>Skrill</span>			
							{% endif %}	
						</div>
					{% endfor %}
				</div>
			</div>
		</div>