<h3>{{'Fund your account'|trans}} Skrill</h3>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.email, 'Email:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.email) }}
        <div class="errors">{{ form_errors(form.paymentMethod.email) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.subject, 'Subject:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.subject) }}
        <div class="errors">{{ form_errors(form.paymentMethod.subject) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.note, 'Note:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.note) }}
        <div class="errors">{{ form_errors(form.paymentMethod.note) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
    <div class="uk-form-label">{{ form_label(form.paymentMethod.company, 'Company name:') }}<i class="uk-icon-asterisk"></i></div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.company) }}
        <div class="errors">{{ form_errors(form.paymentMethod.company) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>
<div class="uk-form-row">
	<div class="uk-form-label">{{ form_label(form.paymentMethod.ownNote, 'Own Note:') }}</div>
	<div class="uk-form-controls">
        {{ form_widget(form.paymentMethod.ownNote) }}
        <div class="errors">{{ form_errors(form.paymentMethod.ownNote) }}</div>
        <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'left'}" title="{{ 'Write correct information'|trans }}"></span>
    </div>
</div>