{% extends "FOSUserBundle::layout.html.twig" %}

{% block theme 'register' %}

{% block fos_user_content %}
{% include 'DaVinciTaxiBundle::breadcrumbs.html.twig' %}
{{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}


{% form_theme form _self %}
{% block form_errors  %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
    {{parent()}}    
    {% stylesheets 'bundles/davincitaxi/css/passfield.min.css' filter='cssrewrite' %}
        <link media="all" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
    
{% block javascripts %}
    {{parent()}}    

    {% javascripts '@DaVinciTaxiBundle/Resources/public/js/passfield.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
     function add2PassPattern(text)
     {
         $('.passfield2').attr('pattern',text);
     }
     $(".passfield").change(function(){
        add2PassPattern(this.value);
     });
    $(".passfield").passField({
        showWarn: false,
        acceptRate: 0.3,
        events: { generated: function(pass) {add2PassPattern(pass);} } 
    });
    </script>
{% endblock %}
