{% trans_default_domain 'FOSUserBundle' %}
{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'register' %}

    {% form_theme form _self %}
    {% block form_errors  %}
        {% spaceless %}
            {% if errors|length > 0 %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endblock form_errors %}

{% block title %}
	<div class="wrapper-content title">
		{{ 'Taxi Company: Business Office'|trans}}
		<div class="questiontooltip">
			<a class="tooltip" href="#">
				<span class="que">?</span>
				<span class="tooltip">
					{% trans %}Make more money from international passengers{% endtrans %}
				</span>
			</a>
		</div>
	</div>
{% endblock%}

    {% block body %}

        <div class="wrapper-content"><div class="content register">
                <form action="{{ path('register_company') }}" {{ form_enctype(form) }} method="POST" class="uk-form uk-form-horizontal">
                    <fieldset>
                        {% if flow.getCurrentStepNumber() == 1 %}
                            {{ form_errors(form) }}

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'Taxi company owner'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label pinktext uk-width-1-1  float_left">{{ app.user.firstname }} {{ app.user.lastname }}</div>
                                </div>
                            </label>

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.name_company'|trans }}:</span>
                                <div class="uk-form-controls">
                                    {{ form_widget(form.name, {'attr':{'class': 'uk-width-1-1 float_left',
                                 'tabindex':'1','autofocus':''} }) }}
                                    <div class="questiontooltip">
                                        <a class="tooltip" href="#">
                                            <span class="que">?</span>
                                            <span class="tooltip">{% trans %}Enter Name of organization{% endtrans %}</span>
                                        </a>
                                    </div>
                                </div>
                                {{ form_errors(form.name) }}
                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.number_cars'|trans }}:</span>
                                <div class="uk-form-controls">
                                    {{ form_widget(form.cars_amount,
						{'attr':{'class': 'uk-width-1-1 float_left',
                                 'tabindex':'2'}}) }}
                                    <div class="questiontooltip float_left">
                                        <a class="tooltip" href="#">
                                            <span class="que">?</span>
                                            <span class="tooltip">{% trans %}Taxi Company starts from 5+ cars{% endtrans %}</span>
                                        </a>
                                    </div>
                                </div>
                                {{ form_errors(form.cars_amount) }}
                            </label>

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.country'|trans }}:</span>
                                <div class="uk-form-controls">

                                    {{ form_widget(form.address.country,
						{'attr':{'class': 'uk-width-1-1 float_left',
                                 'tabindex':'3'}}) }}
                                </div>
                            </label>
                            <label class="uk-form-row rowcity" style="display:none"><span class="uk-form-label uk-width-2-5 text">{{ 'form.company_city'|trans }}:</span>
                                <div class="uk-form-controls">
                                    {{ form_widget(form.address.city,
						{'attr':{'class': 'uk-width-1-1 float_left',
                                 'tabindex':'4'}}) }}
                                </div>
                            </label>
                            <label class="uk-form-row rowstreet" ><span class="uk-form-label uk-width-2-5 text">{{ 'form.company_address'|trans }}:</span>
                                <div class="uk-form-controls">
                                    {{ form_widget(form.address.street,
						{'attr':{'class': 'uk-width-1-1 float_left',
                                 'tabindex':'5'}}) }}
                                </div>
                            </label>

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'Skype'|trans }}:</span>
                                <div class="uk-form-controls">
                                    {{ form_widget(form.skype,
						{'attr':{'class': 'uk-width-1-1 float_left',
                                 'tabindex':'6'}}) }}
                                    <div class="questiontooltip">
                                        <a class="tooltip" href="#">
                                            <span class="que">?</span>
                                            <span class="tooltip">{% trans %}Write legitimate skype name{% endtrans %}</span>
                                        </a>
                                    </div>
                                </div>
                            </label>

                            <label class="addphoneline uk-form-row">
                                <div class="twolabels uk-width-2-5">
                                    <span class="uk-form-label  text">{{ 'form.mobile'|trans }}:</span>
                                    <span class="uk-form-label text">{{ 'Mark if you have'|trans }} </span>
                                </div>

                            <input hidden id="phone_prototype" value = "{{ form_widget(form.phones.vars.prototype.phone,
						{'attr':{'class': 'uk-width-1-1 float_left phoneinput',
                                 'tabindex':'7'}})|e }}">
                            <input hidden id="internet_prototype" value = "{{ form_widget(form.phones.vars.prototype.has_internet,
						{'attr':'tabindex':'8'}})|e }}">
                            <input hidden id="whatsapp_prototype" value = "{{ form_widget(form.phones.vars.prototype.has_whatsapp,
						{'attr':{'tabindex':'9'}})|e }}">
                           
                             {% for phones in form.phones %}   
                             <div class="uk-form-controls addphoneareas">
                                <div class="float_left adphonik">
                                 {{ form_widget(phones.phone,
						{'attr':{'class': 'uk-width-1-1 float_left phoneinput',
                                 'tabindex':'7'}}) }}

                                    <div class="wicheck whicheck-1">
                                        <div class="float_left">{{ form_widget(phones.has_internet,{'attr':{'tabindex':'8'}}) }}</div>
                                        <div class="questiontooltip">
                                            <a class="tooltip" href="#">
                                                <span class="que">?</span>
                                                <span class="tooltip">{{ 'Mobile internet'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="wicheck whicheck-2">
                                        <div class="float_left">{{ form_widget(phones.has_whatsapp,{'attr':{'tabindex':'9'}}) }}</div>
                                        <div class="questiontooltip">
                                            <a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{ 'Mobile messaging app'|trans }}</span></a>
                                        </div>
                                    </div>
                                </div>
                                        
                                <div class="uk-form-controls addphone" id="addphone">
                                    {{'Add mobile number'|trans }}
                                </div>
                            </div>   
                            {% endfor %}
                            </label>
                            <div class="uk-button-group uk-width-4-5">
                                <button class="uk-button submit nextbutt uk-width-4-5">Create Office</button>
                            </div>
                        {% elseif flow.getCurrentStepNumber() == 2 %}

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'Taxi company owner:'|trans }}</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label  uk-width-1-1  float_left">Boris Ivanov</div>
                                </div>

                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.name_company'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">Boris Ivanov</div>
                                </div>
                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.numberscars'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">8</div>
                                </div>
                            </label>

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.country'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">Ebgland</div>
                                </div>
                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.city'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">Moscow</div>
                                </div>
                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.street'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">Moscoskaya</div>
                                </div>
                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.build'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">18</div>
                                </div>
                            </label>
                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.skype'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label uk-width-1-1  float_left">12131545</div>
                                </div>
                            </label>

                            <label class="uk-form-row"><span class="uk-form-label uk-width-2-5 text">{{ 'form.mobile'|trans }}:</span>
                                <div class="uk-form-controls">
                                    <div class="uk-form-label  uk-width-1-1  float_left">+7 888-88-88</div>
                                </div>
                            </label>
                            <div class="uk-button-group uk-width-4-8">
                                <button class="uk-button submit nextbutt uk-width-4-10 float_right">Finish</button>
                                <button class="uk-button submit nextbutt backbutt uk-width-4-10 float_left">< Edit</button>
                                <div class="clear"></div>
                            </div>
                        {% endif %}
                    </fieldset>
                </form>



            </div></div>            
        {% endblock %}
