{% trans_default_domain 'FOSUserBundle' %}
<div class="wrapper-content title">{{ 'Please register'|trans}}</div>
<div class="wrapper-content"><div class="content register">
	<form class="uk-form uk-form-horizontal fos_user_registration_register" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
		<fieldset>
			{% if flow.getCurrentStepNumber() == 1 %}
				<ul class="tabs uk-tab uk-tab-grid">  
					<li class="general current uk-width-1-2"><div class="arrow_box"><span>1</span>{{ 'form.contactinfo'|trans}}</div></li>
					<li class="contact uk-width-1-2"><div class="noarrow"><span>2</span>{{ 'form.signininfo'|trans}}</div></li>
				</ul>
				{{ form_errors(form) }}
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.first_name'|trans }}:</span>
					<div class="uk-form-controls">{{ form_widget(form.first_name, { 'attr': {'placeholder': 'form.first_name'|trans} }) }}
					{{ form_errors(form.first_name) }}</div>
				</label>
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.last_name'|trans }}:</span>
					<div class="uk-form-controls">{{ form_widget(form.last_name, { 'attr': {'placeholder': 'form.last_name'|trans} }) }}
					{{ form_errors(form.last_name) }}</div>
				</label>
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.gender'|trans }}:</span>
					<div class="uk-form-controls">{{ form_widget(form.gender, { 'attr' : { 'class' : 'medium' } }) }}
					{{ form_errors(form.gender) }}</div>
				</label>
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.birthday'|trans }}:</span>
					<div class="uk-form-controls">{{ form_widget(form.birthday)  }}
					{{ form_errors(form.birthday) }}</div>
				</label>
			{% endif %}
				
			{% if flow.getCurrentStepNumber() == 2 %}    
				<ul class="tabs uk-tab uk-tab-grid">  
					<li class="general"><a class="arrow_box" href="#" onclick="document.getElementById('backbutton').click();"><span><img src="{{ asset('bundles/davincitaxi/images/kr.png') }}" alt="ok" /></span>{{ 'form.contactinfo'|trans}}</a></li>
					<li class="contact current"><div class="noarrow"><span>2</span>{{ 'form.signininfo'|trans}}</div></li>
				</ul>
				{{ form_errors(form) }}
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.email'|trans }}:</span>
					<div class="uk-form-controls">{{ form_widget(form.email, { 'attr': {'placeholder': 'form.email'|trans} }) }}
					{{ form_errors(form.email) }}</div>
				</label>
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.password'|trans }}</span>
					<div class="uk-form-controls">{{ form_widget(form.plainPassword.first,
						{'attr':{'pattern':'.{3,}',
								'title':'Minmimum 3 letters or numbers.'|trans,
								'class': 'passfield'}}) }}</div>
				</label>
				<label class="uk-form-row"><span class="uk-form-label text">{{ 'form.password_confirmation'|trans }}</span>
					<div class="uk-form-controls">{{ form_widget(form.plainPassword.second,
						{'attr':{'pattern':'.{3,}',
								'title':'Passwords must match.'|trans,
								'class': 'passfield2'}}) }}</div>
				</label>
				<label class="term">{{ form_widget(form.terms) }}{{ 'form.iagreetotem'|trans({'%url%': '#'})|raw }}</label>
			{% endif %}
			{{ form_rest(form) }}
			{% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
		</fieldset>
	</form>
</div></div>