<div class="float_left adphonik">
    <label class="forphoneinput">
        {% if phones is defined %} 
            {{ form_widget(phones.phone,
{'attr':{'class': 'float_left phoneinput',
 'tabindex':'7', 'css': 'width: 100%'}}) }} 

		<div class="utooltip" data-uk-tooltip="{pos:'left'}" title="Region/State, City" data-cached-title="Region/State, City"></div>
		{{ form_errors(phones.phone) }}
        {% else %}
            <input hidden id="phones_input">
        {% endif %}
    </label>
    <div class="wicheck whicheck-1">
        <div class="float_left">
            {% if phones is defined %} 

                {{ form_widget(phones.has_internet,{'attr':{'tabindex':'8'}}) }}
            {% else %}
                <input hidden id="has_internet_input">
            {% endif %}
        </div>
        <div class="utooltip" data-uk-tooltip="{pos:'left'}" title="{{ 'Mobile internet'|trans }}" data-cached-title="{{ 'Mobile internet'|trans }}"></div>
    </div>
    <div class="wicheck whicheck-2">
        <div class="float_left">
            {% if phones is defined %}     
                {{ form_widget(phones.has_whatsapp,{'attr':{'tabindex':'9', 'data-errormessage-value-missing': 'Mobile is required',  'data-errormessage': 'Mobile is required'}}) }}
            {% else %}
                <input hidden id="has_whatsapp_input">
            {% endif %}
        </div>
        <div class="utooltip" data-uk-tooltip="{pos:'left'}" title="{{ 'Mobile messaging app'|trans }}" data-cached-title="{{ 'Mobile messaging app'|trans }}"></div>
    </div>
    {% if phones is defined %}  
        {{ form_errors(phones.phone) }}
    {% endif %}
</div>