{% trans_default_domain 'FOSUserBundle' %}
<div class="float_left adphonik">
    <div class="forphoneinput">
        {% if phones is defined %} 
            {{ form_widget(phones.phone,
            {'attr':{'class': 'float_left phoneinput uk-width-1-1', 
            'tabindex':'7'}}) }} 
    		<div id="phone-help" class="utooltip" data-uk-tooltip="{pos:'left'}" title="777-777-7777" data-cached-title="777-777-7777"></div>
            {{ form_errors(phones.phone) }}
        {% else %}
            <i id="hide_new_phone" class="mp-icon-closed"></i>
            <input hidden id="phones_input">
        {% endif %}
    </div>
    <div class="wicheck whicheck-1">
        <div class="float_left">
            {% if phones is defined %} 
                {{ form_widget(phones.has_internet,{'attr':{'tabindex':'8'}}) }}{{'form.internet'|trans}}
            {% else %}
                <input hidden id="has_internet_input">{{'form.internet'|trans}}
            {% endif %}
        </div>
        <div class="utooltip" data-uk-tooltip="{pos:'left'}" title="{{ 'Any kind of connection'|trans }}"></div>
    </div>
    <div class="wicheck whicheck-2">
        <div class="float_left">
            {% if phones is defined %}     
                {{ form_widget(phones.has_whatsapp,{'attr':{'tabindex':'9', 'data-errormessage-value-missing': 'Mobile is required',  'data-errormessage': 'Mobile is required'}}) }}{{'whatsapp'|trans}}
            {% else %}
                <input hidden id="has_whatsapp_input">{{'whatsapp'|trans}}
            {% endif %}
        </div>
        <div class="utooltip" data-uk-tooltip="{pos:'left'}" title="{{ 'Free communication program'|trans }}"></div>
    </div>
</div>
