    <div class="message">
        <a href="#" class="mp-icon-trash"></a>{#<span>Внимание! </span>Информационная строка #}
    </div>
	<table class="uk-table">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>#</th>
				<th>Category</th>
				<th>Subject</th>
				<th>Text message</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
            {% for message in messages %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ message.id }}</td>
                    <td>{{ message.getEventName() }}</td>
                    <td class="uk-text-bold">
                        <a href="#" data-uk-toggle="{target:'#message'}">{{ message.subject|raw }}</a>
                    </td>
                    <td>{{ message.content|raw }}</td>
                    <td>{{ message.createDate()|date('d M Y') }}</td>
                </tr>
            {% else %}    
                <tr class="empty-fillter-table">
                    <td colspan="6">{{ 'Messages not found'|trans }}</td>
                </tr>    
            {% endfor %}			
		</tbody>
	</table>
