	{% set currentPath = path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) %}
		<div class="shadow-main whitebg company-panel">
			<div class="uk-grid uk-grid-small client-panel-list block-help">
			{# block1 #}
				<div class="clientid">
                    <a id="open-profile-button" class="uk-button uk-button-primary" data-uk-modal="{target:'#Profile',bgclose:false}">{{'My profile'|trans}}</a>
					<dl>
						{% if is_granted('ROLE_USER') %}
							<dt>{{'My ID:'|trans}}</dt><dd class="number-id">{{ app.user.id }}</dd>
							<dt>{{' Name:'|trans}}</dt><dd class="data">{{ app.user.firstname }} {{ app.user.lastname }}</dd>
						{% elseif is_granted('ROLE_TAXIDRIVER') %}
							<dt>{{'My ID:'|trans}}</dt><dd class="number-id">{{ driver.user.id }}</dd>
							<dt>{{'Name:'|trans}}</dt><dd class="data">{{ driver.user.firstname }} {{ driver.user.lastname }}</dd>
						{% endif %}
					</dl>
				</div>
			{# block2 #}
				<div class="offices-block">
					<div class="button-choose">
						<div class="choose-office select-group">
							<label>{{'Office:'|trans}}</label>
                            <select id="switch_office">
                            	{% if is_granted('ROLE_USER') and not is_granted('ROLE_TAXIDRIVER') %}
	                                <option value="{{ path('office_passenger') }}" class="active-office" selected="selected">{{ 'Office Passenger'|trans }}</option>
                            	{% endif %}
                            	{% if is_granted('ROLE_TAXIDRIVER') %}
	                                <option value="{{ path('office_driver') }}" {% if app.request.uri == url('office_driver') %} class="active-office" selected="selected"{% endif %}>{{ 'Office Independent driver'|trans }}</option>
	                                <option value="{{ path('office_passenger') }}" {% if app.request.uri == url('office_passenger') %} class="active-office" selected="selected"{% endif %}>{{ 'Office Passenger'|trans }}</option>
                            	{% endif %}
                            </select>
                        	<button id="activate_switch_office" class="uk-button uk-button-success">{{'Switch'|trans}}</button>
						</div>
						<div class="buttons-office">
                            <a href="{{ url('fos_user_registration_confirmed') }}" class="uk-button uk-button-success">Get new office</a>
							<a href="{{ url('view_offices') }}" class="uk-button uk-button-primary">{{'My office'|trans}}</a>
						</div>
					</div>
					<div class="message">
						<div class="text">
							<span>{{'Внимание!'|trans}}</span>17 Mar 2015 заканчивается срок действия мембершипа “Оптимальный”
						</div>
						<a href="{{ url('store') }}" class="uk-button uk-button-danger">{{'Extend'|trans}}</a>
					</div>
				</div>
			{# block3 #}
				<div class="money-block">
					<div class="history">
						<span>{{'History:'|trans}}</span>
						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('office_passenger', {'method': 'all-orders'}) }}" class="uk-button uk-button-primary">TMP</a>
						{% elseif is_granted('ROLE_TAXIDRIVER') %}
							<a href="{{ path('office_driver', {'method': 'history-orders'}) }}" class="uk-button uk-button-primary">TMP</a>
						{% endif %}
						<a href="{{ url('financial_office_history') }}" class="uk-button uk-button-primary"><i class="mp-icon-basket"></i></a>
						<a href="{{ url('financial_office_history') }}" class="uk-button uk-button-primary"><i class="mp-icon-dollar-circle"></i></a>
					</div>
					<div class="balance">
						<span>{{'Balance:'|trans}}</span>
						<a href="{{ url('financial_office_add') }}" class="uk-button uk-button-danger"><span class="uk-icon-long-arrow-right"></span><i class="mp-icon-dollar-circle"></i></a>
						<a href="{{ url('financial_office_withdraw') }}" class="uk-button uk-button-danger"><i class="mp-icon-dollar-circle"></i><span class="uk-icon-long-arrow-right"></span></a>
						<a href="{{ url('financial_office_transfer') }}" class="uk-button uk-button-danger"><i class="mp-icon-dollar-refresh"></i></a>
					</div>
					<div class="money">
						<dl>
							<dt>{{'Main:'|trans}}</dt>
							<dd>${{ app.user.fakemoney }}</dd>
						</dl>
						{#<dl>
							<dt>{{'Business:'|trans}}</dt>
							<dd>$0.00</dd>
						</dl>#}
					</div>
				</div>
			</div>
		</div>
