{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block body %}
<!------------------------------------------------Account start-------------------------------------->
<div class="main-content client-account">
		<div class="client-panel-button">
			<div class="uk-grid uk-grid-small">
				<div class="uk-panel">
					<button class="uk-button uk-button-primary uk-button-profile" data-uk-modal="{target:'#Profile'}"><i class="mp-icon-person"></i>{{ 'My profile'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-success uk-button-profile"><i class="uk-icon-dollar"></i>{{'Take escrow '|trans}} </button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-good"></i>{{ 'Buy Membership'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-gift"></i>{{ 'Gift Card'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-success uk-button-profile"><span class="icon-messages-n"><font>5</font></span><i class="mp-icon-message"></i>{{ 'Messages'|trans }}</button>
				</div>
			</div>
		</div>
		<div class="client-panel-list">
			<div class="uk-grid uk-grid-small uk-margin">
				<div class="uk-panel uk-margin-right">
					<div class="clientid">
						<dl>
							<dt>{{'My ID:'|trans}}</dt><dd class="data">  7687796059662 </dd><br />
							<dt>{{' Name:'|trans}}</dt><dd class="data">  Boris Ivanov </dd><br />
							<dt> {{'Offices:'|trans}}</dt> <dd class="data"><span> 3 </span><a href="#">{{'view'|trans}}</a></dd>
						</dl>
					</div>
				</div>
				<div class="uk-panel uk-margin-right">
					<div class="clientid">
						<dl>
							<dt class=""> {{'My balance:'|trans}}  </dt><dd id="balance" class="data"> $0.00</dd><br />
							<dd class="divider"><a href=""> {{'$Add'|trans}} </a><a href=""> {{'$Withdraw'|trans}} </a></dd><br />
							<dd class="divider"><a href=""> {{'$Transfer'|trans}} </a><a href=""> {{'$History'|trans}} </a></dd><br />
						</dl>
					</div>
				</div>
				<div class="uk-panel">
					<div class="clientid">
						<dl>
							<dt> {{'Membership:'|trans}}  </dt><dd id="status" class="data">  {{'Gold'|trans}} </dd><br />
							<dt> {{'Left time:'|trans}}  </dt><dd class="data">  11 {{'oct'|trans}} 14 </dd><br />
							<dt><a href=""> {{'Extend'|trans}}</a></dt>
						</dl>
					</div>
				</div>
			</div>
		</div>
<!------------------------------------------------Account end-------------------------------------->
<!------------------------------------------------Independent-driver table--------------------------------------->
<div class="wrapper-content">
    <div class="shadow-main">
<!------------------------------------------------Swicher button------------------------------------->
            <div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#tab-content'}">
	            <div class="uk-panel uk-width-1-3 uk-active">
				    <button class="uk-width-1-1">{{'Find orders'|trans}}</button>
			    </div>
			    <div class="uk-panel uk-width-1-3">
				    <button class="uk-width-1-1">{{'Open orders'|trans}}</button>
			 	</div>
			    <div class="uk-panel uk-width-1-3">
				    <button class="uk-width-1-1">{{'Order history'|trans}}</button>
				</div>
			</div>
<!------------------------------------------------ independent-driver table--------------------------------------->
            <ul id="tab-content" class="uk-switcher">
                    <li class="uk-active">
                            <div class="whitebg findorder">
								<div class="message">
									<span class="uk-text-danger">Внимание!</span> Не забывайте подтвердить вашу готовность выполнить заказ!
								</div>
								<div class="message-graybg">
									<div class=" uk-grid uk-grid-small uk-width-1-1">
										<div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-small-1-1 uk-margin-small-top">
											<div class="uk-width-1-1 uk-form-row">
												<label class="uk-text-bold uk-text-primary uk-margin-small-right">{{'Vehicle Class:'|trans}}</label>
													<select class="chosen">
														<option>{{'Economy'|trans}}</option>
														<option>{{'Compact'|trans}}</option>
														<option>{{'Midsize'|trans}}</option>
														<option>{{'Standart'|trans}}</option>
														<option>{{'Full Size'|trans}}</option>
														<option>{{'Premium'|trans}}</option>
														<option>{{'Midsize SUV'|trans}}</option>
														<option>{{'Standart Convertible'|trans}}</option>
														<option>{{'Premium Pickup'|trans}}</option>
														<option>{{'Mini Van'|trans}}</option>
														<option>{{'Standart SUV'|trans}}</option>
														<option>{{'Standart Van'|trans}}</option>
														<option>{{'Full Size Pickup'|trans}}</option>
														<option>{{'Full Size SUV'|trans}}</option>
														<option>{{'Standart Pickup'|trans}}</option>
														<option>{{'Full Size Van'|trans}}</option>
														<option>{{'Special Van'|trans}}</option>
														<option>{{'Premium Van'|trans}}</option>
														<option>{{'Luxury'|trans}}</option>
														<option>{{'Premium Special'|trans}}</option>
														<option>{{'Premium SUV'|trans}}</option>
														<option>{{'Special'|trans}}</option>
													</select>
											</div>
										</div>
										<div class="uk-width-large-1-2 uk-width-medium-1-1 uk-width-small-1-1 uk-margin-small-top">
											<div class="uk-grid uk-grid-small uk-width-1-1 number-passenger">
												<div class="uk-panel uk-width-1-3">
													<label>{{'Adult'|trans}} </label>
													<input type="number" min="0" max="12" value="1">
												</div>
												<div class="uk-panel uk-width-1-3">
													<label>{{'Children'|trans}}</label>
													<input type="number" min="0" max="12" value="1">
												</div>
												<div class="uk-panel uk-width-1-3">
													<label>{{'Seniors'|trans}}</label>
													<input type="number" min="0" max="12" value="1">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="table-over ">
										<table class="serv responsive" cellspacing="1">
											<tbody><tr>
												<th class="tab-h1">Tip	</th>
												<th class="daterange">DATE/TIME</th>
												<th class="route">Route</th>
												<th class="trust">Trust</th>
												<th class="pm">PM</th>
												<th class="price">Price</th>
												<th class="status">Status</th>
												<th class="tab-h2">Buy</th>
											</tr>
											<tr class="under-head">
												<td>
												<div data-uk-dropdown="{mode:'click'}" class="uk-button-dropdown car">
																	
													<button class="uk-button-link">
														<i class="mp-icon-taxi"></i>
														<i class="uk-icon-caret-down uk-text-dark"></i>
													</button>
													<div class="uk-dropdown" style="">
													<ul class="uk-nav uk-nav-navbar">
														<li>
															<a href="#">Item</a>
														</li>
														<li>
															<a href="#">Another item</a>
														</li>
																			
													</ul>
													</div>
												</div>
												</td>
												<td class="daterange">
													<div class="uk-form-icon">
														<input id="datepicker" type="text" maxlength="23" value="" placeholder="08/18/2014-09/20/2014">
														<i class="uk-icon-calendar"></i>
													</div>
												</td>
												<td>
													<div class="uk-form-icon">
														<input type="text" name="destination" placeholder="for example, Moscow, Russia">
														<i class="mp-icon-nord-star"></i>
													</div>
												</td>
												<td>
													<div class="ov-trust">
													<div class="uk-form-select select" data-uk-form-select="">
														<span class="iconed-drop uk-text-primary"></span>
														<i class="uk-icon-caret-down"></i>
														<select class="iconed-drop uk-text-primary">
															<option value="1"></option>
															<option value="2"></option>
															<option value="3"></option>
															<option value="4"></option>
																	
														</select>
													</div>
													</div>
												
												</td>
												<td>
												<button href="#" class="sort uk-button-link arr">
													<i class="mp-icon-arrow-down"></i>
													<i class="mp-icon-arrow-up uk-text-dark"></i>
												</button>
												</td>
												<td>
													<div class="ov-lt short-cont">
													<button href="#" class="sort uk-button-link aligment arr">
														<i class="mp-icon-arrow-down"></i>
														<i class="mp-icon-arrow-up uk-text-dark"></i>
													</button>
												<div class="uk-button uk-form-select select aligment fit-in" data-uk-form-select="">
													<span>$10-$50</span>
													 <i class="uk-icon-caret-down"></i>
														<select>
															<option value="1">$10-$50</option>
															<option value="2">$50-$100</option>
															<option value="3">$100-$150</option>
															<option value="4">$200+</option>
														</select>
												</div>
													
												</div>
												</td>
												<td>
													
														<div class="uk-button uk-form-select select " data-uk-form-select="">
													<span>All</span>
													 <i class="uk-icon-caret-down"></i>
														<select>
															<option value="1">All</option>
															<option value="2">Open</option>
															<option value="3">Pending</option>
															<option value="4">Close</option>
															<option value="4">Cancel</option>
															<option value="4">All happy</option>
														</select>
												</div>
														
												</td>
												<td>
													<div class="ov-lt fixed-column">
														
												<div class="uk-button uk-form-select select aligment bascket-opt" data-uk-form-select="">
													<span>Short sale</span>
													 <i class="uk-icon-caret-down"></i>
														<select>
															<option value="1">Short sale</option>
															<option value="3">Other</option>
															
														</select>
												</div>
														<button class="cancell-filters uk-button-link  aligment">	
													
														<i class="mp-icon-closed uk-text-danger"></i>
														</button>
													</div>
												</td>
											</tr>
									
											<tr class="table-cont">
												<td><span class="blue-bg">1</span></td>
												<td>2 <strong>MAR</strong> 14<br> 18:45</td>
												<td>USA:Далалс- <br>USA: Оклахома-сити</td>
												<td><i class="mp-icon-trust uk-text-primary"></i></td>
												<td><span class="escro">escrow</span></td>
												<td>$783.85</td>
												<td>open</td>
												<td><button class="uk-button-success uk-button button-buy"><i class="mp-icon-basket"></i>12:56:03</button></td>
											</tr>
											<tr class="table-cont">
												<td><span class="blue-bg">2</span></td>
												<td>2 <strong>MAR</strong> 14<br> 18:45</td>
												<td>USA:Далалс- <br>USA: Оклахома-сити</td>
												<td><i class="mp-icon-trust uk-text-primary"></i> <i class="mp-icon-trust uk-text-primary"></i></td>
												<td><span class="escro">escrow</span></td>
												<td>$783.85</td>
												<td>open</td>
												<td><button class="uk-button-success uk-button button-buy"><i class="mp-icon-basket"></i>12:56:03</button></td>
											</tr>
											<tr class="table-cont">
												<td><span class="blue-bg">3</span></td>
												<td>2 <strong>MAR</strong> 14<br> 18:45</td>
												<td>USA:Далалс- <br>USA: Оклахома-сити</td>
												<td><i class="mp-icon-trust uk-text-primary"></i> <i class="mp-icon-trust uk-text-primary"></i> <i class="mp-icon-trust uk-text-primary"></i></td>
												<td><span class="escro">escrow</span></td>
												<td>$783.85</td>
												<td>open</td>
												<td><button class="uk-button-success uk-button button-buy"><i class="mp-icon-basket"></i>12:56:03</button></td>
											</tr>
											<tr class="table-cont">
												<td><span class="blue-bg">4</span></td>
												<td>2 <strong>MAR</strong> 14<br> 18:45</td>
												<td>USA:Далалс- <br>USA: Оклахома-сити</td>
												<td><i class="mp-icon-trust-invert uk-text-primary"></i></td>
												<td><span class="escro">cash</span></td>
												<td>$783.85</td>
												<td>open</td>
												<td><button class="uk-button-success uk-button button-buy"><i class="mp-icon-basket"></i>12:56:03</button></td>
											</tr>
										</tbody></table>
									</div>
                            </div>
                    </li>
                    <li>
                            <div class="whitebg openorder">
                                    <div class="message"><span>{{'Attention!'|trans}}</span>{{'Choose driver by yourself!'|trans}}</div>
                                    <table class="uk-table responsive allorder">
                                                <tbody>
                                                    <thead>
                                                            <tr>
                                                                    <th>#</th>
																	<th>{{'TMP ID'|trans}}<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div></th>
																	<th class="left-time"><span class="filter"></span>{{'Left time'|trans}}<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div></th>
																	<th class="price"><span class="filter"></span>{{'Price'|trans}}<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div></th>
																	<th class="route">{{'Route'|trans}}<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div></th>
																	<th><span class="filter"></span>{{'Status'|trans}}<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div></th>
                                                            </tr>
                                                    </thead>
                                                    <tr>
                                                            <td>1</td><td class="timesent">0223240234</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>2</td><td class="timesent">0223240235</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
                                                            		<a class="uk-text-warning">{{'Sorry, try next time...'|trans}}</a>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>3</td><td class="timesent">0223240236</td><td><span>24:09:57</span></td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
                                                            		<a class="uk-text-danger">{{'YES! Luck is yours!'|trans}}</a>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>4</td><td class="timesent">0223240237</td><td><span>24:09:57</span></td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>5</td><td class="timesent">0223240238</td><td><span>24:09:57</span></td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>6</td><td class="timesent">0223240239</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>7</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>8</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>9</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>10</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                                    <tr>
                                                            <td>11</td><td class="timesent">0223240212</td><td>24:09:57</td><td>$180</td><td><span><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></span></td>
                                                            	<td>
	                                                            	<div class="order-status">
	                                                            		<span class="uk-text-success">{{'I\'m'|trans}}<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-danger">3<br /><i class="mp-icon-taxi"></i></span><span><br>+ </span><span class="uk-text-warning">2<br /><i class="mp-icon-taxi"></i></span><span><br>= </span><span class="uk-text-primary">6<br /><i class="mp-icon-taxi"></i></span>
	                                                            	</div>
                                                            	</td>
                                                    </tr>
                                            </tbody>
                                    </table>
                                    
                         </div>
                    </li>
                    <li>
                    <div class="whitebg historyorder">
                       <div class="message"><span>{{'Attention!'|trans}}</span>{{'Choose driver by yourself!'|trans}}</div>
                                    <table class="uk-table responsive allorder">
                                                    <thead>
                                                            <tr>
                                                                    <th>#</th>
																	<th>{{'TMP ID'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
																	<th class="date-time">{{'DATE/TIME'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
																	<th class="route">{{'Route'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
																	<th class="price">{{'Price'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
																	<th class="status">{{'Status'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
																	<th class="left-time">{{'Left time'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
																	<th>{{'Refuse'|trans}}
																		<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a></div>
																	</th>
                                                            </tr>
                                                    </thead>
                                             <tbody>
                                                   <tr>
                                                            <td>1</td><td class="timesent">0223240234</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere">18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>pending</td><td><a class="uk-button uk-button-success confirm-deal">{{'Confirm deal'|trans}}</a></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>2</td><td class="timesent">0223240235</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'pending'|trans}}</td><td><a class="uk-button uk-button-success confirm-deal">{{'Confirm deal'|trans}}</a></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>3</td><td class="timesent">0223240236</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'closed'|trans}}</td><td><span>00:00:00</span></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-warning">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>4</td><td class="timesent">0223240237</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'closed'|trans}}</td><td><span class="uk-text-primary">26:55:03</span></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>5</td><td class="timesent">0223240238</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'closed'|trans}}</td><td><span class="uk-text-danger">13:55:03</span></td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>6</td><td class="timesent">0223240239</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'canceled'|trans}}</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>7</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'open'|trans}}</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>8</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'all happy'|trans}}</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>9</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'all happy'|trans}}</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>10</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'all happy'|trans}}</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td>11</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{'mar'|trans}}</span> 14 <br /><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{'all happy'|trans}}</td><td>00:00:00</td>
                                                            <td>
                                                                    <div>
                                                                            <a class="mp-icon-closed uk-text-danger">
																			</a>
                                                                    </div>
                                                            </td>
                                                    </tr>
                                            </tbody>
                                    </table>
                    	</div>
                    </li>
            </ul>
    </div>
</div>
<!------------------------------------------------Independent-driver table end------------------------------------------->
</div>
<!------------------------------------------------rout--------------------------------------------->
            <div id="route" class="uk-modal pop-up">
                    <div class="uk-modal-dialog">
                        <a class="uk-modal-close uk-close"></a>
                            <div class="pop-up route uk-grid uk-grid-small uk-width-1-1">
                                    <div>
			                              <div class="yourdrivers">
			                                    <a href="#" class="mp-icon-edit"></a>
			                              </div>
                                          <h5>{{ 'USA: Даллас'|trans }} - {{ 'USA: Оклахома-сити'|trans }}</h5>
                                            <dl class="uk-width-1-1">
	                                                    <div class="uk-margin">
		                                                    <dt class="myid">{{ 'Order ID:'|trans }}</dt><dd class="myid">211212121221</dd>
	                                                    </div><br />
                                                    <dt class="big"><span class="uk-form-label uk-width-1-5 title"><i class="mp-icon-point-a"></i> {{ 'From:'|trans }}</span></dt><dd class="big">{{ 'Russia'|trans }}, {{ 'Moscow'|trans }}, {{ 'Lenina street'|trans }}, {{ 'building'|trans }} # 12</dd><br />
                                                    <dt class="big"><span class="uk-form-label uk-width-1-5 title"><i class="mp-icon-point-b"></i> {{ 'To:'|trans }}</span></dt><dd class="big">{{ 'Ukraine'|trans }}, {{ 'Lvov'|trans }}, {{ 'Knazevskaja street'|trans }}, {{ 'building'|trans }} # 173</dd><br />
                                                    <dt>{{ 'Pickup:'|trans }}</dt><dd><span class="date">06.02.2014 </span><span>11:30:00</span></dd><br />
                                                    <dt>{{ 'Return:'|trans }}</dt><dd><span class="date">13.02.2014 </span><span>12:00:00</span></dd><br />
                                                    <dt>{{ 'Passengers:'|trans }}</dt><dd>{{ 'Adults'|trans }}(2), {{ 'Kids'|trans }}(1), {{ 'Seniors'|trans }}(0)</dd><br />
                                                    <dt>{{ 'Vehicle class:'|trans }}</dt><dd>{{ 'Economy'|trans }}</dd><br />
                                                    <dt>{{ 'Language:'|trans }}</dt><dd>{{ 'Russian'|trans }}</dd><br />
                                                    <dt>{{ 'Car special requests:'|trans }}</dt><dd>{{ 'Child seat'|trans }} (0 - 12 {{ 'months'|trans }}), wi-fi {{ 'connection'|trans }}</dd><br />
                                                    <dt class="fullsize">{{ 'Special requirement of passenger:'|trans }} </dt><br>
                                                    <dd class="fullsize">{{ 'To have sufficient time for proper arrangements we require the MEDIF form to be submitted no less than
							                            72 hours prior to departure. A medical clearance is only valid for the flight(s) and date(s) specified in
							                            the MEDIF. Granted medical clearance is only valid in normal circumstances. If a serious deterioration of
							                            the medical condition took place in between the time of medical clearance and the actual flight, a new
							                            clearance must be requested.'|trans }}</dd><br />
                                                    <dt>{{ 'Passenger\'s price:'|trans }}</dt><dd>$260</dd><br />
                                                    <dt>{{ 'Tips:'|trans }}</dt><dd>$10</dd><br />
                                            </dl>
                                    </div>
                                <img class="uk-width-1-1 uk-margin-top" src="{{ asset('bundles/davincitaxi/images/map-popup.png') }}">
                            </div>
                    </div>
            </div>

<!------------------------------------------------profile--------------------------------------------->
            <div id="Profile" class="uk-modal pop-up">
                    <div class="uk-modal-dialog">
	                    <a class="uk-modal-close uk-close"></a>
		                    <div class="popup-head">{{'Begin you profile'|trans}}</div>
						<div class="pop-up uk-grid uk-grid-small">
							<div class="block-foto-rate">
								<div class="uk-grid uk-grid-small">
									<div class="form-view">
										<div class="clientreviews">
											<div class="photo">
												<img src="{{ asset('bundles/davincitaxi/images/driverphoto-big.png') }}" >
											</div>
											<div class="rate">
												<p>{{'Rate this driver'|trans}}</p>
												<p>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-warning"></i></a>
												</p>
												<p><i class="mp-icon-person uk-text-warning"></i>217</p>
											</div>
										</div>
										<div class="">
											<a class="uk-button uk-button-success button-add">Write a review</a>
										</div>
									</div>
									<div class="block-rate">
										<div class="rate-review">
											<div class="uk-grid uk-grid-small uk-margin-small">
												<div class="uk-width-1-1 uk-margin-small">
													<div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
													<div class="uk-width-1-1 rate">
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-warning"></i></a>
														/ 09.01.2014
													</div>
													<div class="uk-width-1-1 review">
														{{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
													</div>
												</div>
												<div class="uk-width-1-1 uk-margin-small">
													<div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
													<div class="uk-width-1-1 rate">
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-warning"></i></a>
														/ 09.01.2014
													</div>
													<div class="uk-width-1-1 review">
														{{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
													</div>
												</div>
											<div class="uk-width-1-1"><a class="uk-button button-add uk-margin-small-bottom">{{'See all'|trans}} <font class="uk-text-warning">(28)</font></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="profile form-change">
								<button  data-uk-toggle="{target:'#toggle0'}" class="popup-head uk-button inbox">{{'Personal information'|trans}}<i class="uk-icon-question-circle"></i></button>
									<div class="uk-hidden" id="toggle0">
										<dl class="uk-width-1-1 uk-margin-bottom">
												<div class="myid">
													<dt>My ID:</dt><dd>2112121212</dd><br />
												</div>
											<dt>{{'First Name:'|trans}}<dd><input type="text" name="fname" value="" /></dd></dt><br />
											<dt>{{'Last Name:'|trans}}<dd><input type="text" name="lname" value="" /></dd></dt><br />
											<dt>{{'E-mail:'|trans}}<dd><input type="text" name="email" value="" /></dd></dt><br />
											<dt>{{'Country:'|trans}}
											<dd>
												<select name="country" >
													<option>{{'Russia'|trans}}</option>
												</select>
											</dd></dt><br />
											<dt>{{'City:'|trans}}
											<dd>
												<select name="city">
													<option>{{'Moscow'|trans}}</option>
													<option>{{'St. Petersburg'|trans}}</option>
												</select>
											</dd></dt><br />
											<dt>{{'English:'|trans}}
											<dd>
												<select name="english" >
													<option>{{'Level'|trans}}</option>
													<option>{{'No'|trans}}</option>
													<option>{{'Elementary'|trans}}</option>
													<option>{{'Pre-intermediate'|trans}}</option>
													<option>{{'Intermediate'|trans}}</option>
													<option>{{'Upper-intermediate'|trans}}</option>
													<option>{{'Advanced'|trans}}</option>
													<option>{{'Proficiency'|trans}}</option>
												</select>
											</dd></dt><br />
											<dt>{{'Other language:'|trans}}
											<dd class="addlangline">
												<div class="uk-form-controls">
													<div class="uk-width-1-1 style1">
														<div class="style2">
															<select class="display_none" name="lang" required="">
																<option>Select a language</option>
																<option>Russian</option><option>Adyghe</option>	<option>Afrikaans</option><option>Akan</option><option>Albanian</option>
																<option>Amharic</option><option>Arabic</option>	<option>Aragonese</option>	<option>Armenian </option>	<option>Assamese</option>
																<option>Asturian</option>	<option>Avar</option>	<option>Awadhi</option>	<option>Azerbaijani</option>	<option>Balochi</option>
																<option>Bashkir</option>	<option>Basque</option>	<option>Belarusian</option>	<option>Bengali</option>	<option>Berber</option>
																<option>Bhojpuri</option>	<option>Bosnian</option>	<option>Bulgarian</option>	<option>Burmese</option>	<option>Cantonese</option>
																<option>Catalan</option>	<option>Cebuano</option>	<option>Chechen</option>	<option>Chewa</option>	<option>Chichewa</option>
																<option>Chuvash</option><option>Chhattisgarhi</option>	<option>Chinese </option>	<option>Chittagonian</option>	<option>Comorian</option>
																<option>Creole</option>	<option>Croatian</option>	<option>Czech</option>	<option>Dari</option>	<option>Deccan</option>
																<option>Dhivehi</option>	<option>Dhundhari</option>	<option>Danish</option>	<option>Dutch</option>	<option>Dzongkha</option>
																<option>Estonian</option>	<option>Filipino </option>	<option>Finnish</option>	<option>French</option>	<option>Fula</option>
																<option>Gan</option>	<option>Georgian</option>	<option>German</option>	<option>Greek</option>	<option>Gujarati</option>
																<option>Haitian Creole</option>	<option>Hakka</option>	<option>Haryanvi</option>	<option>Hausa</option>	<option>Hebrew </option>
																<option>Hiligaynon</option>	<option>Hindi</option>		<option>Hmong</option>	<option>Hungarian</option>	<option>Icelandic</option>
																<option>Igbo</option>	<option>Ilokano</option>	<option>Indonesian</option>	<option>Irish </option>	<option>Italian</option>
																<option>Japanese</option>	<option>Javanese</option>	<option>Jin</option>	<option>Kabardian</option>	<option>Kannada</option>
																<option>Kazakh</option>	<option>Khmer</option>	<option>Kinyarwanda</option>	<option>Kirundi</option>	<option>Korean</option>
																<option>Kurdish</option>	<option>Kyrgyz</option>	<option>Lao</option>	<option>Latvian</option>	<option>Lithuanian</option>
																<option>Macedonian</option>	<option>Madurese</option>	<option>Magahi</option>	<option>Maithili</option>	<option>Malagasy</option>
																<option>Malay</option>	<option>Malayalam</option>	<option>Maltese </option>	<option>Mandarin</option>	<option>Marathi</option>
																<option>Marwari</option>	<option>Min Bei</option>	<option>Min Dong</option>	<option>Min Nan</option>	<option>Moldavian</option>
																<option>Mongolian </option>	<option>Mossi</option>	<option>Myanmar</option>	<option>Ndebele</option>	<option>Nepali</option>
																<option>Norwegian</option>	<option>Oriya</option>	<option>Oromo</option>	<option>Ossetian</option>	<option>Pashto</option>
																<option>Persian</option>	<option>Polish</option>	<option>Portuguese</option>	<option>Punjabi</option>	<option>Quechua</option>
																<option>Romanian</option>	<option>Sango</option>	<option>Saraiki</option>	<option>Sardinian</option>	<option>Scots</option>
																<option>Sepedi</option>	<option>Serbian</option>	<option>Sesotho</option><option>Setswana</option>	<option>Shona</option>
																<option>Sindhi</option>	<option>Sindebele</option>	<option>Sinhalese</option>	<option>Slovak</option>	<option>Slovene</option>
																<option>Somali</option>	<option>Spanish</option>	<option>Sundanese</option>	<option>Swahili</option>	<option>Swati</option>
																<option>Swedish</option><option>Sylheti</option>	<option>Tagalog</option>	<option>Tajik </option>	<option>Tamil</option>
																<option>Tatar</option>	<option>Telugu</option>	<option>Thai</option>	<option>Tigrinya</option>	<option>Tsonga</option>
																<option>Turkish</option>	<option>Turkmen</option>	<option>Ukrainian</option>	<option>Urdu</option>	<option>Uyghur</option>
																<option>Uzbek</option>	<option>Venda</option>	<option>Vietnamese</option>	<option>Wu</option>	<option>Xhosa</option>	<option>Xiang</option>
																<option>Yoruba</option>	<option>Zhuang</option><option>Zulu</option>
															</select> 
														</div>
														<div class="addotherlanguage button-add-lang uk-button uk-button-primary uk-width-1-1">{{'Add language'|trans}}</div>
													</div>
												</div>
											</dd></dt><br />
											<dt>{{'Driving Experience:'|trans}}
											<dd>
												<select name="experience" >
													<option>{{''|trans}}</option>
													<option>{{'less than 4 years'|trans}}</option>
													<option>{{'more than 4 years'|trans}}</option>
												</select>
											</dd></dt><br />
											<dt>{{'Skype:'|trans}}<dd><input type="text" name="skype"  value="" /></dd></dt><br />
												<label class="addphoneline uk-form-row">
													<dt class="twolabels uk-width-2-5">
														{{'Mobile:'|trans}}<br><br><br>
														{{'Mark if you have:'|trans}}
													</dt>
													<dd class="uk-form-controls addphoneareas">
														<div class="float_left uk-width-1-1 adphonik">
															<select class="region" name="phonecode" id="phonecode" required="">
																<option>&nbsp;</option>		<option>1 (US)</option>		<option>7 (RU)</option>		<option>376 (AD)</option>		<option>971 (AE)</option>
																<option>1 (AG)</option>		<option>1 (AI)</option>		<option>355 (AL)</option>		<option>374 (AM)</option>		<option>599 (AN)</option>
																<option>244 (AO)</option>		<option>54 (AR)</option>	<option>43 (AT)</option>		<option>61 (AU)</option>		<option>297 (AW)</option>
																<option>994 (AZ)</option>	<option>387 (BA)</option>	<option>1 (BB)</option>	<option>32 (BE)</option>		<option>226 (BF)</option>
																<option>359 (BG)</option>	<option>973 (BH)</option>	<option>257 (BI)</option>	<option>229 (BJ)</option>		<option>1 (BM)</option>
																<option>673 (BN)</option>	<option>591 (BO)</option>	<option>55 (BR)</option>	<option>1 (BS)</option>		<option>975 (BT)</option>
																<option>267 (BW)</option>	<option>375 (BY)</option>	<option>501 (BZ)</option>	<option>86 (C2)</option>	<option>1 (CA)</option>
																<option>243  (CD)</option>	<option>242 (CG)</option>	<option>41 (CH)</option><option>225 (CI)</option>	<option>682 (CK)</option>
																<option>56 (CL)</option>	<option>237 (CM)</option>	<option>57 (CO)</option>		<option>506 (CR)</option>		<option>238 (CV)</option>
																<option>357 (CY)</option>		<option>420 (CZ)</option>		<option>49 (DE)</option>		<option>253 (DJ)</option>		<option>45 (DK)</option>
																<option>1 (DM)</option>		<option>1 (DO)</option>	<option>213 (DZ)</option>	<option>593 (EC)</option>	<option>372 (EE)</option>
																<option>20 (EG)</option>	<option>291 (ER)</option>	<option>34 (ES)</option>	<option>251 (ET)</option>	<option>358 (FI)</option>
																<option>679 (FJ)</option>		<option>500 (FK)</option>	<option>691 (FM)</option>	<option>298 (FO)</option>	<option>33 (FR)</option>
																<option>241 (GA)</option>	<option>44 (GB)</option>	<option>1 (GD)</option>	<option>995 (GE)</option>	<option>594 (GF)</option>
																<option>350 (GI)</option>	<option>299 (GL)</option>	<option>220 (GM)</option>	<option>224 (GN)</option>	<option>590 (GP)</option>
																<option>30 (GR)</option>	<option>502 (GT)</option>	<option>245 (GW)</option>	<option>592 (GY)</option>	<option>852 (HK)</option>
																<option>504 (HN)</option>	<option>385 (HR)</option>	<option>36 (HU)</option>	<option>62 (ID)</option>	<option>353 (IE)</option>
																<option>972 (IL)</option>	<option>91 (IN)</option>	<option>354 (IS)</option>	<option>39 (IT)</option>	<option>1 (JM)</option>
																<option>962 (JO)</option>	<option>81 (JP)</option>	<option>254 (KE)</option>	<option>996 (KG)</option>	<option>855 (KH)</option>
																<option>686 (KI)</option>	<option>269 (KM)</option>	<option>1 (KN)</option>	<option>82 (KR)</option>	<option>965 (KW)</option>
																<option>1 (KY)</option>	<option>7 (KZ)</option>	<option>856 (LA)</option>	<option>1 (LC)</option>	<option>423 (LI)</option>
																<option>94 (LK)</option>	<option>266 (LS)</option>	<option>370 (LT)</option><option>352 (LU)</option>	<option>371 (LV)</option>
																<option>212 (MA)</option>	<option>377 (MC)</option>	<option>373 (MD)</option>	<option>263 (ME)</option>	<option>261 (MG)</option>
																<option>692 (MH)</option>	<option>389 (MK)</option>	<option>223 (ML)</option>	<option>976 (MN)</option>	<option>596 (MQ)</option>
																<option>222 (MR)</option>	<option>1 (MS)</option>	<option>356 (MT)</option>	<option>230 (MU)</option>	<option>960 (MV)</option>
																<option>265 (MW)</option>	<option>52 (MX)</option>	<option>60 (MY)</option>	<option>258 (MZ)</option>	<option>264 (NA)</option>
																<option>687 (NC)</option>	<option>227 (NE)</option>	<option>672 (NF)</option>	<option>234 (NG)</option>	<option>505 (NI)</option>
																<option>31 (NL)</option><option>47 (NO)</option>	<option>977 (NP)</option>		<option>674 (NR)</option>	<option>683 (NU)</option>
																<option>64 (NZ)</option>	<option>968 (OM)</option>	<option>507 (PA)</option>	<option>51 (PE)</option>	<option>689 (PF)</option>
																<option>675 (PG)</option>	<option>63 (PH)</option><option>48 (PL)</option>	<option>508 (PM)</option>	<option>872 (PN)</option>
																<option>351 (PT)</option><option>680 (PW)</option>	<option>595 (PY)</option>	<option>974 (QA)</option>	<option>262 (RE)</option>
																<option>40 (RO)</option>	<option>381 (RS)</option>	<option>250 (RW)</option>	<option>966 (SA)</option>	<option>677 (SB)</option>
																<option>248 (SC)</option><option>46 (SE)</option>	<option>65 (SG)</option>	<option>290 (SH)</option>	<option>386 (SI)</option>
																<option>47 (SJ)</option>	<option>421 (SK)</option>	<option>232 (SL)</option>	<option>378 (SM)</option>	<option>221 (SN)</option>
																<option>252 (SO)</option>	<option>597 (SR)</option>	<option>239 (ST)</option>	<option>503 (SV)</option>	<option>268 (SZ)</option>
																<option>1 (TC)</option>	<option>235 (TD)</option><option>228 (TG)</option>	<option>66 (TH)</option>	<option>992 (TJ)</option>
																<option>993 (™)</option>	<option>216 (TN)</option>	<option>676 (TO)</option>	<option>90 (TR)</option>	<option>1 (TT)</option>
																<option>688 (TV)</option>	<option>886 (TW)</option>	<option>255 (TZ)</option>	<option>380 (UA)</option>	<option>256 (UG)</option>
																<option>598 (UY)</option>	<option>379 (VA)</option>	<option>1 (VC)</option>	<option>58 (VE)</option>	<option>1 (VG)</option>
																<option>84 (VN)</option>	<option>678 (VU)</option>	<option>681 (WF)</option>	<option>685 (WS)</option>	<option>967 (YE)</option>
																<option>269 (YT)</option>	<option>27 (ZA)</option>	<option>260 (ZM)</option>	<option>263 (ZW)</option>
															</select>
														<input class="fone" type="text" name="phone" id="phone" required="">
														
														<div class="wicheck whicheck-1">
															<div class="float_left"><label><input type="checkbox" class="uk-float-left uk-margin-small-right" name="wifi" id="wifi">{{'wi-fi'|trans}}</label></div>
															<div class="questiontooltip">
																<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
															</div>
														</div>
														<div class="wicheck whicheck-2">
															<div class="float_left"><label><input type="checkbox" class="uk-float-left uk-margin-small-right" name="whatsapp" id="whatsapp">{{'whatsapp'|trans}}</label></div>
															<div class="questiontooltip">
																<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile messaging app'|trans}}</span></a>
															</div>
														</div>
														</div>
														<div class="uk-form-controls addphone">
															<div class="questiontooltip">
																<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">777-777-7777</span></a>
															</div>
															Add mobile number
														</div>
													</dd>
												</label>
											<br />
											<dt>{{'Birthday:'|trans}}<dd>
													<select name="day" class="day" >
														<option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
														<option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option>
														<option>11</option> <option>12</option> <option>13</option> <option>14</option> <option>15</option>
														<option>16</option> <option>17</option> <option>18</option> <option>19</option> <option>20</option>
														<option>21</option> <option>22</option> <option>23</option> <option>24</option> <option>25</option>
														<option>26</option> <option>27</option> <option>28</option> <option>29</option> <option>30</option>
														<option>31</option>
													</select>
													<select name="month" class="month" >
														<option>{{'January'|trans}}</option>
														<option>{{'February'|trans}}</option>
														<option>{{'March'|trans}}</option>
														<option>{{'April'|trans}}</option>
														<option>{{'May'|trans}}</option>
														<option>{{'June'|trans}}</option>
														<option>{{'July'|trans}}</option>
														<option>{{'August'|trans}}</option>
														<option>{{'September'|trans}}</option>
														<option>{{'October'|trans}}</option>
														<option>{{'November'|trans}}</option>
														<option>{{'December'|trans}}</option>
													</select>
													<select name="year" class="year" >
														<option>1940</option><option>1941</option><option>1942</option><option>1943</option><option>1944</option>
														<option>1945</option><option>1946</option><option>1947</option><option>1948</option><option>1949</option>
														<option>1950</option><option>1951</option><option>1952</option><option>1953</option><option>1954</option>
														<option>1955</option><option>1956</option><option>1957</option><option>1958</option><option>1959</option>
														<option>1960</option><option>1961</option><option>1962</option><option>1963</option><option>1964</option>
														<option>1965</option><option>1966</option><option>1967</option><option>1968</option><option>1969</option>
														<option>1970</option><option>1971</option><option>1972</option><option>1973</option><option>1974</option>
														<option>1975</option><option>1976</option><option>1977</option><option>1978</option><option>1979</option>
														<option>1980</option><option>1981</option><option>1982</option><option>1983</option><option>1984</option>
														<option>1985</option><option>1986</option><option>1987</option><option>1988</option><option>1989</option>
														<option>1990</option><option>1991</option><option>1992</option><option>1993</option><option>1994</option>
														<option>1995</option><option>1996</option>
													</select>
												</dd></dt><br />
											<dt>{{'Gender:'|trans}}<dd><select name="gender" ><option>{{'Male'|trans}}</option><option>{{'Female'|trans}}</option></select></dt></dd>
											<dt>{{'About me:'|trans}}<br><a href="">{{'example'|trans}}</a>
											<dd>
												<textarea rows="4" maxlength="200" class="uk-width-1-1">{{'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.'|trans}}</textarea>
												<span class="uk-text-small">{{'осталось 200 символов'|trans}}</span>
											</dd></dt>
										</dl>
									</div>
							<button  data-uk-toggle="{target:'#toggle1'}" class="popup-head uk-button inbox">{{'Car information'|trans}}<i class="uk-icon-question-circle"></i></button>
								<div class="uk-hidden" id="toggle1">
									<dl>
										<dt>{{'Brand:'|trans}}<dd>
											<select name="brand" >
												<option value="ac">AC</option>
												<option value="am_general">AM General</option>
												<option value="acura">Acura</option>
												<option value="alfa_romeo">Alfa Romeo</option>
												<option value="alpine">Alpine</option>
												<option value="american_motors">American Motors</option>
												<option value="aston_martin">Aston Martin</option>
												<option value="audi">Audi</option>
												<option value="austin">Austin</option>
												<option value="avanti">Avanti</option>
												<option value="bmw">BMW</option>
												<option value="bentley">Bentley</option>
												<option value="bitter">Bitter</option>
												<option value="bristol">Bristol</option>
												<option value="bugatti">Bugatti</option>
												<option value="buick">Buick</option>
												<option value="cadillac">Cadillac</option>
												<option value="checker">Checker</option>
												<option value="chevrolet">Chevrolet</option>
												<option value="chrysler">Chrysler</option>
												<option value="citroen">Citroen</option>
												<option value="clenet">Clenet</option>
												<option value="daewoo">Daewoo</option>
												<option value="daihatsu">Daihatsu</option>
												<option value="daimler">Daimler</option>
												<option value="datsun">Datsun</option>
												<option value="de_tomaso">De Tomaso</option>
												<option value="delorean">Delorean</option>
												<option value="dodge">Dodge</option>
												<option value="eagle">Eagle</option>
												<option value="excalibur">Excalibur</option>
												<option value="ferrari">Ferrari</option>
												<option value="fiat">Fiat</option>
												<option value="fisker">Fisker</option>
												<option value="ford">Ford</option>
												<option value="freightliner">Freightliner</option>
												<option value="gmc">GMC</option>
												<option value="geo">Geo</option>
												<option value="ginetta">Ginetta</option>
												<option value="hawk">Hawk</option>
												<option value="honda">Honda</option>
												<option value="hummer">Hummer</option>
												<option value="hyundai">Hyundai</option>
												<option value="infiniti">Infiniti</option>
												<option value="isuzu">Isuzu</option>
												<option value="jaguar">Jaguar</option>
												<option value="jeep">Jeep</option>
												<option value="kia">Kia</option>
												<option value="koenigsegg">Koenigsegg</option>
												<option value="lada">Lada</option>
												<option value="laforza">Laforza</option>
												<option value="lamborghini">Lamborghini</option>
												<option value="lancia">Lancia</option>
												<option value="land_rover">Land Rover</option>
												<option value="lexus">Lexus</option>
												<option value="lincoln">Lincoln</option>
												<option value="lotus">Lotus</option>
												<option value="mg">MG</option>
												<option value="maserati">Maserati</option>
												<option value="maybach">Maybach</option>
												<option value="mazda">Mazda</option>
												<option value="mclaren">Mclaren</option>
												<option value="mercedes_benz">Mercedes-Benz</option>
												<option value="mercury">Mercury</option>
												<option value="merkur">Merkur</option>
												<option value="mini">Mini</option>
												<option value="mitsubishi">Mitsubishi</option>
												<option value="morgan">Morgan</option>
												<option value="mosler">Mosler</option>
												<option value="nissan">Nissan</option>
												<option value="oldsmobile">Oldsmobile</option>
												<option value="opel">Opel</option>
												<option value="pagani">Pagani</option>
												<option value="panoz">Panoz</option>
												<option value="panther">Panther</option>
												<option value="peugeot">Peugeot</option>
												<option value="pilgrim">Pilgrim</option>
												<option value="plymouth">Plymouth</option>
												<option value="pontiac">Pontiac</option>
												<option value="porsche">Porsche</option>
												<option value="ram">Ram</option>
												<option value="reliant">Reliant</option>
												<option value="renault">Renault</option>
												<option value="rolls_royce">Rolls-Royce</option>
												<option value="rover">Rover</option>
												<option value="saab">Saab</option>
												<option value="saturn">Saturn</option>
												<option value="scion">Scion</option>
												<option value="seat">Seat</option>
												<option value="skoda">Skoda</option>
												<option value="smart">Smart</option>
												<option value="spyker">Spyker</option>
												<option value="sterling">Sterling</option>
												<option value="stutz">Stutz</option>
												<option value="subaru">Subaru</option>
												<option value="suzuki">Suzuki</option>
												<option value="tvr">TVR</option>
												<option value="talbot">Talbot</option>
												<option value="tata">Tata</option>
												<option value="tesla">Tesla</option>
												<option value="thexclaimnk">Th!nk</option>
												<option value="toyota">Toyota</option>
												<option value="triumph">Triumph</option>
												<option value="vpg">VPG</option>
												<option value="vauxhall">Vauxhall</option>
												<option value="venturi">Venturi</option>
												<option value="volkswagen">Volkswagen</option>
												<option value="volvo">Volvo</option>
												<option value="yugo">Yugo</option>
												<option value="zastava">Zastava</option>
												<option value="zimmer">Zimmer</option>
												<option value="zimmer">{{'Other'|trans}}</option>
											</select>
										</dd></dt>
										<dt>{{'Model:'|trans}}<dd><select name="model" ><option>{{'Focus'|trans}}</option></select></dd></dt>
										<dt>{{'Year:'|trans}}<dd>
											<select name="year" class="region" >
												<option>1990</option><option>1991</option><option>1992</option><option>1993</option><option>1994</option>
												<option>1995</option><option>1996</option><option>1997</option><option>1998</option><option>1999</option>
												<option>2000</option><option>2001</option><option>2002</option><option>2003</option><option>2004</option>
												<option>2005</option><option>2006</option><option>2007</option><option>2008</option><option>2009</option>
												<option>2010</option><option>2011</option><option>2012</option><option>2013</option><option>2014</option>
											</select>
										</dd></dt>
										<dt>{{'Color:'|trans}}<dd>
											<select data-placeholder="Choose a color..." class="my-select">
												<option data-img-src="{{ asset('bundles/davincitaxi/images/black.png') }}">black</option>
												<option data-img-src="{{ asset('bundles/davincitaxi/images/beige.png') }}">beige</option>
												<option data-img-src="{{ asset('bundles/davincitaxi/images/blue.png') }}">blue</option>
											</select>
										</dd></dt>
										<dt>{{'Number plate:'|trans}}<dd><input type="text" name="plate" value="" ></dd></dt>
										<dt>{{'Class:'|trans}}
										<dd>
											<select name="number" class="" >
												<option>{{'Economy'|trans}}</option>
												<option>{{'Compact'|trans}}</option>
												<option>{{'Midsize'|trans}}</option>
												<option>{{'Standart'|trans}}</option>
												<option>{{'Full Size'|trans}}</option>
												<option>{{'Premium'|trans}}</option>
												<option>{{'Midsize SUV'|trans}}</option>
												<option>{{'Standart Convertible'|trans}}</option>
												<option>{{'Premium Pickup'|trans}}</option>
												<option>{{'Mini Van'|trans}}</option>
												<option>{{'Standart SUV'|trans}}</option>
												<option>{{'Standart Van'|trans}}</option>
												<option>{{'Full Size Pickup'|trans}}</option>
												<option>{{'Full Size SUV'|trans}}</option>
												<option>{{'Standart Pickup'|trans}}</option>
												<option>{{'Full Size Van'|trans}}</option>
												<option>{{'Special Van'|trans}}</option>
												<option>{{'Premium Van'|trans}}</option>
												<option>{{'Luxury'|trans}}</option>
												<option>{{'Premium Special'|trans}}</option>
												<option>{{'Premium SUV'|trans}}</option>
												<option>{{'Special'|trans}}</option>
											</select>
										</dd></dt>
										<dt>{{'Other:'|trans}}
											<dd>
											<div class="uk-grid uk-grid-small uk-width-1-1">
												<div class="uk-panel uk-width-1-3">
													<i class="mp-icon-person uk-text-danger"></i>
														<select name="day" class="classauto">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
															<option>6</option>
															<option>7</option>
															<option>8</option>
															<option>9</option>
															<option>10</option>
															<option>11</option>
															<option>12</option>
														</select>
												</div>
												<div class="uk-panel uk-width-1-3">
													<i class="mp-icon-bug uk-text-danger"></i>
														<select name="day" class="classauto">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
															<option>6</option>
															<option>7</option>
															<option>8</option>
															<option>9</option>
															<option>10</option>
															<option>11</option>
															<option>12</option>
														</select>
												</div>
												<div class="uk-panel uk-width-1-3">
													<i class="mp-icon-door uk-text-danger"></i>
														<select name="day" class="classauto">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
															<option>6</option>
															<option>7</option>
															<option>8</option>
															<option>9</option>
															<option>10</option>
															<option>11</option>
															<option>12</option>
														</select>
												</div>
											</div>
											</dd></dt>
										<dt> Photo: </dt>
										<dd>
										<div class="uk-margin-small-bottom uk-margin-small-top">
											<div class="uk-form-file uk-width-9-10 uk-float-left">
												<button class="uk-button uk-button-primary uk-width-1-1 button-add-lang">Add photo</button>
												<input type="file">
											</div>
											<div class="questiontooltip"><a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">Mobile internet</span></a></div>
										</div>
										</dd>
										<dt>{{'Short description:'|trans}}<br><a href="">{{'example'|trans}}</a></dt>
										<dd>
											<textarea rows="4" maxlength="200" class="uk-width-1-1">{{'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.'|trans}}</textarea>
											<span class="uk-text-small">{{'осталось 200 символов'|trans}}</span>
										</dd>
									</dl>
								</div>
							<button  data-uk-toggle="{target:'#toggle2'}" class="popup-head uk-button inbox uk-margin-top">{{'Insurance'|trans}}<i class="uk-icon-question-circle"></i></button>
								<div class="uk-hidden" id="toggle2">
										<label><input type="checkbox" class="uk-float-left uk-margin-small-right">{{'You or/as any of other passengers are automatically insured during the transportation. Insurance plan covers all body injures.'|trans}}</label>
								</div>
								<div class="uk-margin confirmation">
									<div class="uk-grid uk-grid-small">
										<div class="uk-panel uk-width-1-2">
											<button class="uk-button uk-button-success uk-width-1-1">{{'Save'|trans}}</button>
										</div>
										<div class="uk-panel uk-width-1-2">
											<button class="uk-button uk-button-warning uk-width-1-1">{{'Cancel'|trans}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
<script type="text/javascript"> 
  $(".my-select").chosenImage({
    disable_search_threshold: 10 
  });
</script>
{% endblock %}
