<div id="about-driver" class="uk-modal pop-up">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="popup-head uk-text-danger"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'Independent driver'|trans }}</div>
        <div class="pop-up">
            <div class="profile form-view">
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li class="uk-parent">
                        <a class="popup-head uk-button inbox" href="#">{{ 'About driver'|trans }}
                            <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Personal information{% endtrans %}"></span>
                        </a>
                        <ul class="uk-nav-sub">
                            <div class="block-foto-rate">
                                <div class="uk-grid uk-grid-small">
                                    <div class="form-view block-foto">
                                        <div class="clientreviews">
                                            <div class="photo">
                                                <img alt="" src="{{ asset('bundles/davincitaxi/images/driverphoto-big.png') }}" >
                                            </div>
                                            <div class="rate">
                                                <p>{{'Rate this driver'|trans}}</p>
                                                <p>
                                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                                    <a><i class="mp-icon-star uk-text-warning"></i></a>
                                                </p>
                                                <p><i class="mp-icon-person uk-text-warning"></i>217</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li>
                                <dl class="about-driver">
                                    <dt class="myid">{{ 'My ID:'|trans }}</dt><dd class="myid">2112121212</dd>
                                </dl>
                                <dl class="uk-width-1-1 about-driver">
                                    <dt>{{ 'First Name:'|trans }}</dt><dd>{{ 'Boris'|trans }}</dd>
                                    <dt>{{ 'Last Name:'|trans }}</dt><dd>{{ 'Ivanov'|trans }}</dd>
                                    <dt>{{ 'Country:'|trans }}</dt><dd>{{ 'Russia'|trans }}</dd>
                                    <dt>{{ 'City:'|trans }}</dt><dd>{{ 'Moscow'|trans }}</dd>
                                    <dt>{{ 'English:'|trans }}</dt><dd>{{ 'beginner'|trans }}</dd>
                                    <dt>{{ 'Other language:'|trans }}</dt><dd>{{ 'russian'|trans }}</dd>
                                    <dt>{{ 'Driving Experience:'|trans }}</dt><dd>{{ '4+ years'|trans }}</dd>
                                    <dt>{{ 'Birthday:'|trans }}</dt><dd>11 {{ 'Oct'|trans }} 1988</dd>
                                    <dt>{{ 'Gender:'|trans }}</dt><dd>{{ 'male'|trans }}</dd>
                                    <dt class="moretext">{{ 'About me:'|trans }}</dt><dd class="moretext">{{ 'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage.'|trans }}</dd>
                                </dl>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li class="uk-parent">
                        <a class="popup-head uk-button inbox" href="#">{{ 'About car'|trans }}
                            <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Car description{% endtrans %}"></span>
                        </a>
                        <ul class="uk-nav-sub">
                            <div class="block-foto-rate">
                                <div class="uk-grid uk-grid-small">
                                    <div class="form-view block-foto">
                                        <div class="clientreviews">
                                            <div class="photo">
                                                <img alt="" src="{{ asset('bundles/davincitaxi/images/bg-block-driver.jpg') }}" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li>
                                <dl class="uk-width-1-1 about-car">
                                    <dt>{{ 'Brand:'|trans }}</dt><dd>{{ 'Ford'|trans }}</dd>
                                    <dt>{{ 'Model:'|trans }}</dt><dd>{{ 'Focus'|trans }}</dd>
                                    <dt>{{ 'Year:'|trans }}</dt><dd>2006</dd>
                                    <dt>{{ 'Color:'|trans }}</dt><dd>{{ 'black'|trans }}</dd>
                                    <dt>{{ 'Number plate:'|trans }}</dt><dd>AB 666 777</dd>
                                    <dt>{{ 'Class:'|trans }}</dt><dd>{{ 'bussines'|trans }}</dd>
                                    <dt>{{ 'Other:'|trans }}</dt><dd>
                                        <div class="other">
                                            <i class="mp-icon-person uk-text-danger"></i><span> 4 </span><i class="mp-icon-bug uk-margin-left uk-text-danger"></i><span> 4 </span><i class="mp-icon-door uk-margin-left uk-text-danger"></i><span> 4 </span>
                                        </div>
                                    </dd>
                                    <dt class="moretext">{{ 'Short description:'|trans }}</dt><dd class="moretext">{{ 'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.'|trans }}</dd>
                                </dl>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li class="uk-parent">
                        <a class="popup-head uk-button inbox" href="#">{{ 'Reviews'|trans }}
                            <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}All passengers can enjoy cover in  the event of an accident or accident related incidents{% endtrans %}"></span>
                        </a>
                        <ul class="uk-nav-sub">
                            <li>
                                <dl class="uk-width-1-1 insurance">
                                    <dt></dt>
                                    {# <dd class="fullsize insurance">{{ 'You or/as any of other passengers are automatically insured during the transportation. Insurance plan covers all body injures.'|trans }}</dd> #}
                                </dl>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="uk-button uk-button-primary button-skype" data-uk-tooltip="{pos:'right'}" title="{% trans %}Pay to get driver's contacts{% endtrans %}">{{ 'Skype + Phone'|trans }}</a>
            </div>
        </div>
    </div>
</div>