{% extends 'DaVinciTaxiBundle::base.html.twig' %}

{% block body %}
<!------------------------------------------------cabinet passenger--------------------------------------->
<div class="main-content">
	<div class="client-account">
		<div class="client-panel-button">
			<div class="uk-grid uk-grid-small">
				<div class="uk-panel">
					<button class="uk-button uk-button-primary uk-button-profile" data-uk-modal="{target:'#Profile'}"><i class="mp-icon-person"></i>{{ 'My profile'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-success uk-button-profile"><i class="uk-icon-dollar"></i>{{'Take escrow '|trans}} </button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-good"></i>{{ 'Buy Membership'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-gift"></i>{{ 'Gift Card'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-success uk-button-profile"><span class="icon-messages-n"><font>5</font></span><i class="mp-icon-message"></i>{{ 'Messages'|trans }}</button>
				</div>
			</div>
		</div>
		<div class="client-panel-list">
			<div class="uk-grid uk-grid-small uk-margin">
				<div class="uk-panel">
					<div class="clientid">
						<dl>
							<dt>{{'My ID:'|trans}}</dt><dd class="data">  7687796059662 </dd><br />
							<dt>{{' Name:'|trans}}</dt><dd class="data">  Boris Ivanov </dd><br />
							<dt> {{'Offices:'|trans}}</dt> <dd class="data"><span> 3 </span><a href="#">{{'view'|trans}}</a></dd>
						</dl>
					</div>
				</div>
				<div class="uk-panel">
					<div class="clientid">
						<dl>
							<dt class=""> {{'My balance:'|trans}}  </dt><dd id="balance" class="data"> $0.00</dd><br />
							<dd class="divider"><a href=""> {{'$Add'|trans}} </a><a href=""> {{'$Withdraw'|trans}} </a></dd><br />
							<dd class="divider"><a href=""> {{'$Transfer'|trans}} </a><a href=""> {{'$History'|trans}} </a></dd><br />
						</dl>
					</div>
				</div>
				<div class="uk-panel">
				<div class="clientid">
				<dl>
					<dt> {{'Membership:'|trans}}  </dt><dd id="status" class="data">  {{'Gold'|trans}} </dd><br />
					<dt> {{'Left time:'|trans}}  </dt><dd class="data">  11 {{'oct'|trans}} 14 </dd><br />
					<dt><a href=""> {{'Extend'|trans}}</a></dt>
				</dl>
			</div>
			</div>
		</div>
		</div>
			<div class="shadow-main">
<!------------------------------------------------ swicher table------------------------------------------------>
				<div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#tab-content'}">
					<div class="uk-panel uk-width-1-3 uk-active">
						<button class="uk-width-1-1">{{'Empty orders'|trans}}</button>
					</div>
					<div class="uk-panel uk-width-1-3">
						<button class="uk-width-1-1">{{ 'Open orders'|trans }} <i class="mp-icon-taxi"></i> (8)</button>
					</div>
					<div class="uk-panel uk-width-1-3">
						<button class="uk-width-1-1">{{'All orders'|trans}}</button>
					</div>
				</div>
	 <!------------------------------------------------ swicher table (end)------------------------------------------------>
				<ul id="tab-content" class="uk-switcher">
						<li>
							<div class="whitebg">
								empty-tabs
							</div>
						</li>
						<li class="uk-active">
								<div class="whitebg">
									<div class="message"><span>{{ 'Attention!'|trans }} </span>{{ 'Choose driver by yourself!'|trans }}</div>
										<div class="table-container">
											<table class="uk-table"><colgroup><col class="number" /> <col class="id-driver" /> <col /></colgroup>
												<thead>
														<tr>
																<th>#</th>
																<th>{{ 'TMP ID'|trans }}
																	<div class="questiontooltip">
																		<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																	</div>
																</th>
																<th>{{ 'My orders'|trans }}
																	<div class="questiontooltip">
																		<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																	</div>
																</th>
														</tr>
													</thead>
												<tbody class="open-order-passenger">
													<tr>
															<td>1</td>
															<td>0223240234</td>
															<td>
																<div class="uk-float-left route">
																	<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																</div>
																	<button data-uk-toggle="{target:'#toggle1'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
																			<div class="uk-panel uk-panel-box uk-hidden" id="toggle1">
																					<div class="driver-over">
																							<div class="driver-top">
																									<div class="profile">
																											<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48px" height="53px" alt="profile photo" class="driver-photo"/>
																											<span class="name"><a data-uk-modal="{target:'#about-driver'}">{{ 'Александр Иванов'|trans }}</a></span><br/>
																											<span class="proffesion uk-text-danger"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}</span><br/>
																											<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																									</div>
																									<div class="vehicle">
																											<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118px" height="75px" alt="ford-focus" class="drive-car"/>
																											<span class="name">{{ 'Ford Focus'|trans }}</span><br/>
																											<span><i class="mp-icon-person"></i><span> 5 </span><i class="mp-icon-bug"></i><span> 5 </span><i class="mp-icon-door"></i><span> 5 </span></span>
																									</div>
																									<div class="y-no">
																											<button type="button" class="uk-button">{{ 'yes'|trans }}</button>
																											<button type="button" class="uk-button">{{ 'no'|trans }}</button>
																									</div>
																							</div>
																							<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ 'ru, de, en'|trans }}</p>
																							<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ 'Личные качества: аналитическое мышление, умение быстро ориентироваться в сложившейся ситуации и самостоятельно принимать решения, быстрая обучаемость, ответственность, целеустремленность, настойчивость и стремление к профессиональному росту.'|trans }}</p>
																							<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																									<span>{{ 'Contacts:'|trans }} </span>
																									<a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a>
																							</div>
																						   
																					</div>
																					<div class="clr"></div>
																					<div class="driver-over">
																							<div class="driver-top">
																									<div class="profile">
																											<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48px" height="53px" alt="profile photo" class="driver-photo"/>
																											<span class="name"><a data-uk-modal="{target:'#about-driver'}">{{ 'Александр Иванов'|trans }}</a></span><br/>
																											<span class="proffesion uk-text-warning"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}</span><br/>
																											<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																									</div>
																									<div class="vehicle">
																											<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118px" height="75px" alt="ford-focus" class="drive-car"/>
																											<span class="name">{{ 'Ford Focus'|trans }}</span><br/>
																											<span><i class="mp-icon-person"></i><span> 5 </span><i class="mp-icon-bug"></i><span> 5 </span><i class="mp-icon-door"></i><span> 5 </span></span>
																									</div>
																									<div class="y-no">
																											<button type="button" class="uk-button">{{ 'yes'|trans }}</button>
																											<button type="button" class="uk-button">{{ 'no'|trans }}</button>
																									</div>
																							</div>
																							<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ 'ru, de, en'|trans }}</p>
																							<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ 'Личные качества: аналитическое мышление, умение быстро ориентироваться в сложившейся ситуации и самостоятельно принимать решения, быстрая обучаемость, ответственность, целеустремленность, настойчивость и стремление к профессиональному росту.'|trans }}</p>
																							<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																									<span>{{ 'Contacts:'|trans }} </span>
																									<a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a>
																							</div>
																						   
																					</div>
																					<div class="clr"></div>
																					<div class="driver-over">
																							<div class="driver-top">
																									<div class="profile">
																											<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48px" height="53px" alt="profile photo" class="driver-photo"/>
																											<span class="name"><a data-uk-modal="{target:'#about-driver'}">{{ 'Александр Иванов'|trans }}</a></span><br/>
																											<span class="proffesion uk-text-danger"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}</span><br/>
																											<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																									</div>
																									<div class="vehicle">
																											<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118px" height="75px" alt="ford-focus" class="drive-car"/>
																											<span class="name">{{ 'Ford Focus'|trans }}</span><br/>
																											<span><i class="mp-icon-person"></i><span> 5 </span><i class="mp-icon-bug"></i><span> 5 </span><i class="mp-icon-door"></i><span> 5 </span></span>
																									</div>
																									<div class="y-no">
																											<button type="button" class="uk-button">{{ 'yes'|trans }}</button>
																											<button type="button" class="uk-button">{{ 'no'|trans }}</button>
																									</div>
																							</div>
																							<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ 'ru, de, en'|trans }}</p>
																							<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ 'Личные качества: аналитическое мышление, умение быстро ориентироваться в сложившейся ситуации и самостоятельно принимать решения, быстрая обучаемость, ответственность, целеустремленность, настойчивость и стремление к профессиональному росту.'|trans }}</p>
																							<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																									<span>{{ 'Contacts:'|trans }} </span>
																									<a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a>
																							</div>
																					</div>
																					<div class="clr"></div>
																			</div>
															</td>
													</tr>
													<tr>
															<td>2</td><td>0223240234</td>
															<td>
																			<div class="uk-float-left route">
																					<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																			</div>
																				<button data-uk-toggle="{target:'#toggle2'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
																					<div class="uk-panel uk-panel-box uk-hidden" id="toggle2">
																							<div class="driver-over">
																									<div class="driver-top">
																											<div class="profile">
																													<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48px" height="53px" alt="profile photo" class="driver-photo"/>
																													<span class="name"><a data-uk-modal="{target:'#about-driver'}">{{ 'Александр Иванов'|trans }}</a></span><br/>
																													<span class="proffesion uk-text-danger"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}</span><br/>
																													<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																											</div>
																											<div class="vehicle">
																													<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118px" height="75px" alt="ford-focus" class="drive-car"/>
																													<span class="name">{{ 'Ford Focus'|trans }}</span><br/>
																													<span><i class="mp-icon-person"></i><span> 5 </span><i class="mp-icon-bug"></i><span> 5 </span><i class="mp-icon-door"></i><span> 5 </span></span>
																											</div>
																											<div class="y-no">
																													<button type="button" class="uk-button">{{ 'yes'|trans }}</button>
																													<button type="button" class="uk-button">{{ 'no'|trans }}</button>
																											</div>
																									</div>
																									<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ 'ru, de, en'|trans }}</p>
																									<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ 'Личные качества: аналитическое мышление, умение быстро ориентироваться в сложившейся ситуации и самостоятельно принимать решения, быстрая обучаемость, ответственность, целеустремленность, настойчивость и стремление к профессиональному росту.'|trans }}</p>
																									<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																											<span>{{ 'Contacts:'|trans }} </span>
																											<a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a>
																									</div>
																								   
																							</div>
																							<div class="clr"></div>
																							<div class="driver-over">
																									<div class="driver-top">
																											<div class="profile">
																													<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48px" height="53px" alt="profile photo" class="driver-photo"/>
																													<span class="name"><a data-uk-modal="{target:'#about-driver'}">{{ 'Александр Иванов'|trans }}</a></span><br/>
																													<span class="proffesion uk-text-warning"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}</span><br/>
																													<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																											</div>
																											<div class="vehicle">
																													<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118px" height="75px" alt="ford-focus" class="drive-car"/>
																													<span class="name">{{ 'Ford Focus'|trans }}</span><br/>
																													<span><i class="mp-icon-person"></i><span> 5 </span><i class="mp-icon-bug"></i><span> 5 </span><i class="mp-icon-door"></i><span> 5 </span></span>
																											</div>
																											<div class="y-no">
																													<button type="button" class="uk-button">{{ 'yes'|trans }}</button>
																													<button type="button" class="uk-button">{{ 'no'|trans }}</button>
																											</div>
																									</div>
																									<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ 'ru, de, en'|trans }}</p>
																									<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ 'Личные качества: аналитическое мышление, умение быстро ориентироваться в сложившейся ситуации и самостоятельно принимать решения, быстрая обучаемость, ответственность, целеустремленность, настойчивость и стремление к профессиональному росту.'|trans }}</p>
																									<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																											<span>{{ 'Contacts:'|trans }} </span>
																											<a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a>
																									</div>
																								   
																							</div>
																							<div class="clr"></div>
																							<div class="driver-over">
																									<div class="driver-top">
																											<div class="profile">
																													<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48px" height="53px" alt="profile photo" class="driver-photo"/>
																													<span class="name"><a data-uk-modal="{target:'#about-driver'}">{{ 'Александр Иванов'|trans }}</a></span><br/>
																													<span class="proffesion uk-text-danger"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}</span><br/>
																													<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																											</div>
																											<div class="vehicle">
																													<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118px" height="75px" alt="ford-focus" class="drive-car"/>
																													<span class="name">{{ 'Ford Focus'|trans }}</span><br/>
																													<span><i class="mp-icon-person"></i><span> 5 </span><i class="mp-icon-bug"></i><span> 5 </span><i class="mp-icon-door"></i><span> 5 </span></span>
																											</div>
																											<div class="y-no">
																													<button type="button" class="uk-button">{{ 'yes'|trans }}</button>
																													<button type="button" class="uk-button">{{ 'no'|trans }}</button>
																											</div>
																									</div>
																									<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ 'ru, de, en'|trans }}</p>
																									<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ 'Личные качества: аналитическое мышление, умение быстро ориентироваться в сложившейся ситуации и самостоятельно принимать решения, быстрая обучаемость, ответственность, целеустремленность, настойчивость и стремление к профессиональному росту.'|trans }}</p>
																									<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																											<span>{{ 'Contacts:'|trans }} </span>
																											<a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a>
																									</div>
																								   
																							</div>
																							<div class="clr"></div>
																					</div>
															</td>
													</tr>
													<tr>
															<td>3</td><td>0223240234</td>
															<td>
																					<div class="uk-float-left route">
																							<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																					</div>
																						 <button data-uk-toggle="{target:'#toggle3'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
															</td>
													</tr>
													<tr>
															<td>4</td><td>0223240237</td>
															<td>
																					<div class="uk-float-left route">
																							<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																					</div>
																						  <button data-uk-toggle="{target:'#toggle1'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
															</td>
													</tr>
													<tr>
															<td>5</td><td>0223240238</td>
															<td>
																					<div class="uk-float-left route">
																							<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																					</div>
																						<button data-uk-toggle="{target:'#toggle1'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
															</td>
													</tr>
													<tr>
															<td>6</td><td>0223240239</td>
															<td>
																					<div class="uk-float-left route">
																							<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																					</div>
																						  <button data-uk-toggle="{target:'#toggle1'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
														  </td>
													</tr>
													<tr>
															<td>7</td><td>0223240230</td>
															<td>
																					<div class="uk-float-left route">
																							<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																					</div>
																						 <button data-uk-toggle="{target:'#toggle1'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
														   </td>
													</tr>
													<tr>
															<td>8</td><td>0223240233</td>
															<td>
																					<div class="uk-float-left route">
																							<a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} <i class="mp-icon-arrow-right"></i>  {{ 'Оклахома-сити (USA)'|trans }}</a>
																					</div>
																							<button data-uk-toggle="{target:'#toggle1'}" class="uk-button driverlist">{{ 'Drivers list: 3'|trans }}</button>
														   </td>
													</tr>
												</tbody>
											</table>
										</div>
								</div>
						</li>
						<li>
								<div class="whitebg">
										<div class="message"><span>{{ 'Attention!'|trans }}</span>{{ 'Choose driver by yourself!'|trans }}</div>
										<table class="uk-table responsive allorder">
												<tbody>
														<thead>
																<tr>
																		<th>#</th>
																		<th>{{ 'TMP ID'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																		<th class="date-time"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'DATE/TIME'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																		<th class="route">{{ 'Route'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																		<th class="price"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Price'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																		<th class="status"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Status'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																		<th class="left-time"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Left time'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																		<th>{{ 'Edit'|trans }}
																			<div class="questiontooltip">
																				<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
																			</div>
																		</th>
																</tr>
														</thead>
														<tr>
																<td>1</td><td class="timesent">0223240234</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 </br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{ 'open'|trans }}</td><td>68:45:32</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>2</td><td class="timesent">0223240235</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{ 'pending'|trans }}</td><td>68:45:32</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>3</td><td class="timesent">0223240236</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{ 'closed'|trans }}</td><td><span class="text-blue">48:12:21</span></td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>4</td><td class="timesent">0223240237</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{ 'closed'|trans }}</td><td><span class="text-green">26:55:03</span></td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>5</td><td class="timesent">0223240238</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{ 'closed'|trans }}</td><td><span class="text-red">13:55:03</span></td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>6</td><td class="timesent">0223240239</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td><span><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>7</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td>{{ 'open'|trans }}</td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>8</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>9</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>10</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>11</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Даллас (USA)'|trans }} - <br>  {{ 'Оклахома-сити (USA)'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary">
																				</a>
																				<a class="mp-icon-closed uk-text-danger">
																				</a>
																		</div>
																</td>
														</tr>
												</tbody>
										</table>
								</div>
						</li>
				</ul>
			</div>
	</div>
</div>
<!------------------------------------------------Table --------------------------------------->
<!------------------------------------------------profile--------------------------------------------->
            <div id="Profile" class="uk-modal pop-up">
                    <div class="uk-modal-dialog passenger">
	                    <a class="uk-modal-close uk-close"></a>
		                    <div class="popup-head">{{ 'Begin you profile'|trans }}</div>
						<div class="pop-up uk-grid uk-grid-small">
							<div class="block-foto-rate">
								<div class="clientreviews">
									<div class="photo"></div>
									<a class="button-add uk-button uk-button-primary">{{ 'Add Your Photo'|trans }}</a>
								</div>
							</div>
							<div class="profile">
								<button  class="popup-head uk-button inbox">{{ 'Personal information'|trans }}<i class="uk-icon-question-circle"></i></button>
								<dl class="uk-width-1-1 uk-margin-bottom">
										<div class="myid">
											<dt>My ID:</dt><dd>2112121212</dd><br />
										</div>
									<dt>{{ 'First Name:'|trans }}</dt><dd><input type="text" name="fname" value="" /></dd><br />
									<dt>{{ 'Last Name:'|trans }}</dt><dd><input type="text" name="lname" value="" /></dd><br />
									<dt>{{ 'E-mail:'|trans }}</dt><dd><input type="text" name="email" value="" /></dd><br />
									<dt>{{ 'Skype:'|trans }}</dt><dd><input type="text" name="skype" value="" /></dd><br />
									<dt>{{ 'Mobile:'|trans }}</dt><dd>
											<select name="region" class="uk-width-1-3 region" >
												<option>1 (US)</option>		<option>7 (RU)</option>		<option>376 (AD)</option>		<option>971 (AE)</option>
												<option>1 (AG)</option>		<option>1 (AI)</option>		<option>355 (AL)</option>		<option>374 (AM)</option>		<option>599 (AN)</option>
												<option>244 (AO)</option>		<option>54 (AR)</option>	<option>43 (AT)</option>		<option>61 (AU)</option>		<option>297 (AW)</option>
												<option>994 (AZ)</option>	<option>387 (BA)</option>	<option>1 (BB)</option>	<option>32 (BE)</option>		<option>226 (BF)</option>
												<option>359 (BG)</option>	<option>973 (BH)</option>	<option>257 (BI)</option>	<option>229 (BJ)</option>		<option>1 (BM)</option>
												<option>673 (BN)</option>	<option>591 (BO)</option>	<option>55 (BR)</option>	<option>1 (BS)</option>		<option>975 (BT)</option>
												<option>267 (BW)</option>	<option>375 (BY)</option>	<option>501 (BZ)</option>	<option>86 (C2)</option>	<option>1 (CA)</option>
												<option>243  (CD)</option>	<option>242 (CG)</option>	<option>41 (CH)</option><option>225 (CI)</option>	<option>682 (CK)</option>
												<option>56 (CL)</option>	<option>237 (CM)</option>	<option>57 (CO)</option>		<option>506 (CR)</option>		<option>238 (CV)</option>
												<option>357 (CY)</option>		<option>420 (CZ)</option>		<option>49 (DE)</option>		<option>253 (DJ)</option>		<option>45 (DK)</option>
												<option>1 (DM)</option>		<option>1 (DO)</option>	<option>213 (DZ)</option>	<option>593 (EC)</option>	<option>372 (EE)</option>
												<option>20 (EG)</option>	<option>291 (ER)</option>	<option>34 (ES)</option>	<option>251 (ET)</option>	<option>358 (FI)</option>
												<option>679 (FJ)</option>		<option>500 (FK)</option>	<option>691 (FM)</option>	<option>298 (FO)</option>	<option>33 (FR)</option>
												<option>241 (GA)</option>	<option>44 (GB)</option>	<option>1 (GD)</option>	<option>995 (GE)</option>	<option>594 (GF)</option>
												<option>350 (GI)</option>	<option>299 (GL)</option>	<option>220 (GM)</option>	<option>224 (GN)</option>	<option>590 (GP)</option>
												<option>30 (GR)</option>	<option>502 (GT)</option>	<option>245 (GW)</option>	<option>592 (GY)</option>	<option>852 (HK)</option>
												<option>504 (HN)</option>	<option>385 (HR)</option>	<option>36 (HU)</option>	<option>62 (ID)</option>	<option>353 (IE)</option>
												<option>972 (IL)</option>	<option>91 (IN)</option>	<option>354 (IS)</option>	<option>39 (IT)</option>	<option>1 (JM)</option>
												<option>962 (JO)</option>	<option>81 (JP)</option>	<option>254 (KE)</option>	<option>996 (KG)</option>	<option>855 (KH)</option>
												<option>686 (KI)</option>	<option>269 (KM)</option>	<option>1 (KN)</option>	<option>82 (KR)</option>	<option>965 (KW)</option>
												<option>1 (KY)</option>	<option>7 (KZ)</option>	<option>856 (LA)</option>	<option>1 (LC)</option>	<option>423 (LI)</option>
												<option>94 (LK)</option>	<option>266 (LS)</option>	<option>370 (LT)</option><option>352 (LU)</option>	<option>371 (LV)</option>
												<option>212 (MA)</option>	<option>377 (MC)</option>	<option>373 (MD)</option>	<option>263 (ME)</option>	<option>261 (MG)</option>
												<option>692 (MH)</option>	<option>389 (MK)</option>	<option>223 (ML)</option>	<option>976 (MN)</option>	<option>596 (MQ)</option>
												<option>222 (MR)</option>	<option>1 (MS)</option>	<option>356 (MT)</option>	<option>230 (MU)</option>	<option>960 (MV)</option>
												<option>265 (MW)</option>	<option>52 (MX)</option>	<option>60 (MY)</option>	<option>258 (MZ)</option>	<option>264 (NA)</option>
												<option>687 (NC)</option>	<option>227 (NE)</option>	<option>672 (NF)</option>	<option>234 (NG)</option>	<option>505 (NI)</option>
												<option>31 (NL)</option><option>47 (NO)</option>	<option>977 (NP)</option>		<option>674 (NR)</option>	<option>683 (NU)</option>
												<option>64 (NZ)</option>	<option>968 (OM)</option>	<option>507 (PA)</option>	<option>51 (PE)</option>	<option>689 (PF)</option>
												<option>675 (PG)</option>	<option>63 (PH)</option><option>48 (PL)</option>	<option>508 (PM)</option>	<option>872 (PN)</option>
												<option>351 (PT)</option><option>680 (PW)</option>	<option>595 (PY)</option>	<option>974 (QA)</option>	<option>262 (RE)</option>
												<option>40 (RO)</option>	<option>381 (RS)</option>	<option>250 (RW)</option>	<option>966 (SA)</option>	<option>677 (SB)</option>
												<option>248 (SC)</option><option>46 (SE)</option>	<option>65 (SG)</option>	<option>290 (SH)</option>	<option>386 (SI)</option>
												<option>47 (SJ)</option>	<option>421 (SK)</option>	<option>232 (SL)</option>	<option>378 (SM)</option>	<option>221 (SN)</option>
												<option>252 (SO)</option>	<option>597 (SR)</option>	<option>239 (ST)</option>	<option>503 (SV)</option>	<option>268 (SZ)</option>
												<option>1 (TC)</option>	<option>235 (TD)</option><option>228 (TG)</option>	<option>66 (TH)</option>	<option>992 (TJ)</option>
												<option>993 (™)</option>	<option>216 (TN)</option>	<option>676 (TO)</option>	<option>90 (TR)</option>	<option>1 (TT)</option>
												<option>688 (TV)</option>	<option>886 (TW)</option>	<option>255 (TZ)</option>	<option>380 (UA)</option>	<option>256 (UG)</option>
												<option>598 (UY)</option>	<option>379 (VA)</option>	<option>1 (VC)</option>	<option>58 (VE)</option>	<option>1 (VG)</option>
												<option>84 (VN)</option>	<option>678 (VU)</option>	<option>681 (WF)</option>	<option>685 (WS)</option>	<option>967 (YE)</option>
												<option>269 (YT)</option>	<option>27 (ZA)</option>	<option>260 (ZM)</option>	<option>263 (ZW)</option>
											</select>
										<input class="uk-width-2-3 fone" type="text" name="name" id="name" value="" />
										</dd><br />
									<dt>{{ 'Country:'|trans }}</dt><dd>
										<select name="country" class="country">
											<option>{{ 'Russia'|trans }}</option>
										</select>
									</dd><br />
									<dt>{{ 'City:'|trans }}</dt><dd>
										<select name="city" class="city">
											<option>{{ 'Moscow'|trans }}</option>
											<option>{{ 'St. Petersburg'|trans }}</option>
										</select>
									</dd><br />
									<dt>{{ 'Birthday:'|trans }}</dt><dd>
											<select name="day" class="day">
												<option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
												<option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option>
												<option>11</option> <option>12</option> <option>13</option> <option>14</option> <option>15</option>
												<option>16</option> <option>17</option> <option>18</option> <option>19</option> <option>20</option>
												<option>21</option> <option>22</option> <option>23</option> <option>24</option> <option>25</option>
												<option>26</option> <option>27</option> <option>28</option> <option>29</option> <option>30</option>
												<option>31</option>
											</select>
											<select name="month" class="month" required>
												<option>{{'January'|trans}}</option>
												<option>{{'February'|trans}}</option>
												<option>{{'March'|trans}}</option>
												<option>{{'April'|trans}}</option>
												<option>{{'May'|trans}}</option>
												<option>{{'June'|trans}}</option>
												<option>{{'July'|trans}}</option>
												<option>{{'August'|trans}}</option>
												<option>{{'September'|trans}}</option>
												<option>{{'October'|trans}}</option>
												<option>{{'November'|trans}}</option>
												<option>{{'December'|trans}}</option>
											</select>
											<select name="year" class="year" required>
												<option>1910</option><option>1911</option><option>1912</option><option>1913</option><option>1914</option>
												<option>1915</option><option>1916</option><option>1917</option><option>1918</option><option>1919</option>
												<option>1920</option><option>1921</option><option>1922</option><option>1923</option><option>1924</option>
												<option>1925</option><option>1926</option><option>1927</option><option>1928</option><option>1929</option>
												<option>1930</option><option>1931</option><option>1932</option><option>1933</option><option>1934</option>
												<option>1935</option><option>1936</option><option>1937</option><option>1938</option><option>1939</option>
												<option>1940</option><option>1941</option><option>1942</option><option>1943</option><option>1944</option>
												<option>1945</option><option>1946</option><option>1947</option><option>1948</option><option>1949</option>
												<option>1950</option><option>1951</option><option>1952</option><option>1953</option><option>1954</option>
												<option>1955</option><option>1956</option><option>1957</option><option>1958</option><option>1959</option>
												<option>1960</option><option>1961</option><option>1962</option><option>1963</option><option>1964</option>
												<option>1965</option><option>1966</option><option>1967</option><option>1968</option><option>1969</option>
												<option>1970</option><option>1971</option><option>1972</option><option>1973</option><option>1974</option>
												<option>1975</option><option>1976</option><option>1977</option><option>1978</option><option>1979</option>
												<option>1980</option><option>1981</option><option>1982</option><option>1983</option><option>1984</option>
												<option>1985</option><option>1986</option><option>1987</option><option>1988</option><option>1989</option>
												<option>1990</option><option>1991</option><option>1992</option><option>1993</option><option>1994</option>
												<option>1995</option><option>1996</option><option>1997</option><option>1998</option><option>1999</option>
												<option>2000</option>
											</select>
										</dd><br />
									<dt>{{ 'Gender:'|trans }}</dt><dd>
										<select name="gender" required>
											<option>{{ 'Male'|trans }}</option>
											<option>{{ 'Female'|trans }}</option>
										</select>
									</dd>
								</dl>
								<div class="uk-margin confirmation">
									<div class="uk-grid uk-grid-small">
										<div class="uk-panel uk-width-1-2">
											<button class="uk-button uk-button-success uk-width-1-1">{{ 'Save'|trans }}</button>
										</div>
										<div class="uk-panel uk-width-1-2">
											<button class="uk-button uk-button-warning uk-width-1-1">{{ 'Cancel'|trans }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
            </div>
<!------------------------------------------------rout--------------------------------------------->
            <div id="route" class="uk-modal pop-up">
                    <div class="uk-modal-dialog">
                        <a class="uk-modal-close uk-close"></a>
                            <div class="pop-up route uk-grid uk-grid-small uk-width-1-1">
                                    <div>
			                              <div class="yourdrivers">
			                                    <a href="#" class="mp-icon-edit"></a>
			                              </div>
                                          <h5>USA: {{ 'Даллас'|trans }} - USA: {{ 'Оклахома-сити'|trans }}</h5>
											<div class="questiontooltip">
												<a class="tooltip" href="#"><span class="que">?</span><span class="tooltip">{{'Mobile internet'|trans}}</span></a>
											</div>
                                            <dl class="uk-width-1-1">
	                                                    <div class="myid">
		                                                    <dt>{{ 'Order ID:'|trans }}</dt><dd>211212121221</dd>
	                                                    </div><br />
                                                    <dt class="big"><span class="uk-form-label uk-width-1-5 title"><i class="mp-icon-point-a"></i> {{ 'From:'|trans }}</span></dt><dd class="big">{{ 'Russia'|trans }}, {{ 'Moscow'|trans }}, {{ 'Lenina street'|trans }}, {{ 'building'|trans }} # 12</dd><br />
                                                    <dt class="big"><span class="uk-form-label uk-width-1-5 title"><i class="mp-icon-point-b"></i> {{ 'To:'|trans }}</span></dt><dd class="big">{{ 'Ukraine'|trans }}, {{ 'Lvov'|trans }}, {{ 'Knazevskaja street'|trans }}, {{ 'building'|trans }} # 173</dd><br />
                                                    <dt>{{ 'Pickup:'|trans }}</dt><dd><span class="date">06.02.2014 </span><span>11:30:00</span></dd><br />
                                                    <dt>{{ 'Return:'|trans }}</dt><dd><span class="date">13.02.2014 </span><span>12:00:00</span></dd><br />
                                                    <dt>{{ 'Passengers:'|trans }}</dt><dd>{{ 'Adults'|trans }}(2), {{ 'Kids'|trans }}(1), {{ 'Seniors'|trans }}(0)</dd><br />
                                                    <dt>{{ 'Vehicle class:'|trans }}</dt><dd>{{ 'Economy'|trans }}</dd><br />
                                                    <dt>{{ 'Language:'|trans }}</dt><dd>{{ 'Russian'|trans }}</dd><br />
                                                    <dt>{{ 'Car special requests:'|trans }}</dt><dd>{{ 'Child seat'|trans }} (0 - 12 {{ 'months'|trans }}), wi-fi {{ 'connection'|trans }}</dd><br />
                                                    <dt class="fullsize">{{ 'Special requirement of passenger:'|trans }} </dt><br>
                                                    <dd class="fullsize">{{ 'To have sufficient time for proper arrangements we require the MEDIF form to be submitted no less than
							                            72 hours prior to departure. A medical clearance is only valid for the flight(s) and date(s) specified in
							                            the MEDIF. Granted medical clearance is only valid in normal circumstances. If a serious deterioration of
							                            the medical condition took place in between the time of medical clearance and the actual flight, a new
							                            clearance must be requested.'|trans }}</dd><br />
                                                    <dt>{{ 'Passenger\'s price:'|trans }}</dt><dd>$260</dd><br />
                                                    <dt class="last">{{ 'Tips:'|trans }}</dt><dd class="last">$10</dd><br />
                                            </dl>
                                    </div>
                                <img class="uk-width-1-1" src="{{ asset('bundles/davincitaxi/images/map-popup.png') }}">
                            </div>
                    </div>
            </div>
<!------------------------------------------------about-driver--------------------------------------------->
            <div id="about-driver" class="uk-modal pop-up">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
						<div class="popup-head uk-text-danger"><i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'Independent driver'|trans }}</div>
						<div class="pop-up uk-grid uk-grid-small">
							<div class="block-foto-rate">
								<div class="uk-grid uk-grid-small">
									<div class="form-view">
										<div class="clientreviews">
											<div class="photo">
												<img src="{{ asset('bundles/davincitaxi/images/driverphoto-big.png') }}" >
											</div>
											<div class="rate">
												<p>{{'Rate this driver'|trans}}</p>
												<p>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-warning"></i></a>
												</p>
												<p><i class="mp-icon-person uk-text-warning"></i>217</p>
											</div>
										</div>
										<div class="">
											<a class="uk-button uk-button-success button-add">Write a review</a>
										</div>
									</div>
									<div class="block-rate">
										<div class="rate-review">
											<div class="uk-grid uk-grid-small uk-margin-small">
												<div class="uk-width-1-1 uk-margin-small">
													<div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
													<div class="uk-width-1-1 rate">
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-warning"></i></a>
														/ 09.01.2014
													</div>
													<div class="uk-width-1-1 review">
														{{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
													</div>
												</div>
												<div class="uk-width-1-1 uk-margin-small">
													<div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
													<div class="uk-width-1-1 rate">
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-danger"></i></a>
														<a><i class="mp-icon-star uk-text-warning"></i></a>
														/ 09.01.2014
													</div>
													<div class="uk-width-1-1 review">
														{{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
													</div>
												</div>
											<div class="uk-width-1-1"><a class="uk-button button-add uk-margin-small-bottom">{{'See all'|trans}} <font class="uk-text-warning">(28)</font></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="profile form-view">
								<button  data-uk-toggle="{target:'#toggle5'}" class="popup-head uk-button uk-button-warning inbox">{{ 'About driver'|trans }}<i class="uk-icon-question-circle"></i></button>
								<div class="uk-hidden" id="toggle5">
									<dl class="uk-width-1-1 uk-margin-bottom about-driver">
										<div class="myid">
											<dt class="myid">{{ 'My ID:'|trans }}</dt><dd class="myid">2112121212</dd><br />
										</div>
										<dt>{{ 'First Name:'|trans }}</dt><dd>{{ 'Boris'|trans }}</dd><br />
										<dt>{{ 'Last Name:'|trans }}</dt><dd>{{ 'Ivanov'|trans }}</dd><br />
										<dt>{{ 'Country:'|trans }}</dt><dd>{{ 'Russia'|trans }}</dd><br />
										<dt>{{ 'City:'|trans }}</dt><dd>{{ 'Moscow'|trans }}</dd><br />
										<dt>{{ 'English:'|trans }}</dt><dd>{{ 'beginner'|trans }}</dd><br />
										<dt>{{ 'Other language:'|trans }}</dt><dd>{{ 'russian'|trans }}</dd><br />
										<dt>{{ 'Driving Experience:'|trans }}</dt><dd>{{ '4+ years'|trans }}</dd><br />
										<dt>{{ 'Birthday:'|trans }}</dt><dd>11 {{ 'Oct'|trans }} 1988</dd><br />
										<dt>{{ 'Gender:'|trans }}</dt><dd>{{ 'male'|trans }}</dd><br />
										<dt class="moretext">{{ 'About me:'|trans }}</dt><dd class="moretext">{{ 'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage.'|trans }}</dd><br />
									</dl>
								</div>
						        <button  data-uk-toggle="{target:'#toggle3'}" class="popup-head uk-button uk-button-warning inbox">{{ 'About car'|trans }} <i class="uk-icon-question-circle"></i></button>
								<div class="uk-hidden" id="toggle3">
									<dl class="uk-width-1-1 uk-margin-bottom about-car">
										<dt>{{ 'Brand:'|trans }}</dt><dd>{{ 'Ford'|trans }}</dd><br />
										<dt>{{ 'Model:'|trans }}</dt><dd>{{ 'Focus'|trans }}</dd><br />
										<dt>{{ 'Year:'|trans }}</dt><dd>2006</dd><br />
										<dt>{{ 'Color:'|trans }}</dt><dd>{{ 'black'|trans }}</dd><br />
										<dt>{{ 'Number plate:'|trans }}</dt><dd>AB 666 777</dd><br />
										<dt>{{ 'Class:'|trans }}</dt><dd>{{ 'bussines'|trans }}</dd><br />
										<dt>{{ 'Other:'|trans }}</dt><dd>
											<div>
												<i class="mp-icon-person uk-text-danger"></i><span> 4 </span><i class="mp-icon-bug uk-margin-left uk-text-danger"></i><span> 4 </span><i class="mp-icon-door uk-margin-left uk-text-danger"></i><span> 4 </span>
											</div>
										</dd><br />
										<dt class="moretext">{{ 'Short description:'|trans }}</dt><dd class="moretext">{{ 'The goal of the about:me page is to give you a 
											more interesting view of statistics about your 
											browser usage. The current version includes 
											graphs that illustrate trends in your browsing.'|trans }}</dd><br />
									</dl>
								</div>
						        <button  data-uk-toggle="{target:'#toggle4'}" class="popup-head uk-button uk-button-warning inbox">{{ 'Insurance'|trans }} <i class="uk-icon-question-circle"></i></button>
								<div class="uk-hidden" id="toggle4">
									<dl class="uk-width-1-1 uk-margin-bottom insurance">
										<dt class="moretext">{{ 'Driver promises:'|trans }}</dt><dd class="moretext">{{ 'The goal of the about:me page is to give you a 
											more interesting view of statistics about your 
											browser usage. The current version includes 
											graphs that illustrate trends in your browsing.'|trans }}</dd><br /><br />
										<dd class="fullsize insurance">{{ 'It will be great, if you have an international insurance.'|trans }}</dd><br /><br />
										<dt>{{ 'Driver:'|trans }}</dt><dd><a class="uk-button uk-button-primary button-skype">{{ 'Skype + Phone'|trans }}</a></dd>
									</dl>
								</div>
							</div>
						</div>
				</div>
			</div>
<!------------------------------------------------pop-up end--------------------------------------->
{% endblock %}