{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'office-passenger' %}
{% block title %}
    {% include 'DaVinciTaxiBundle::banner.html.twig' %}
{% endblock%}
{% block body %}
{# =========== cabinet passenger ================= #}
<div class="">
	<div class="client-account">
		<div class="client-panel-button">
			<div class="uk-grid uk-grid-small">
				<div class="uk-panel">
					<button class="uk-button uk-button-primary uk-button-profile" data-uk-modal="{target:'#Profile'}"><i class="mp-icon-person"></i>{{ 'My profile'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-success uk-button-profile"><i class="uk-icon-dollar"></i>{{'Take escrow '|trans}} </button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-good"></i>{{ 'Buy Membership'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-danger uk-button-profile"><i class="mp-icon-gift"></i>{{ 'Gift Card'|trans }}</button>
				</div>
				<div class="uk-panel">
					<button class="uk-button uk-button-success uk-button-profile"><span class="icon-messages-n"><b>5</b></span><i class="mp-icon-message"></i>{{ 'Messages'|trans }}</button>
				</div>
			</div>
		</div>
		<div class="client-panel-list">
			<div class="uk-grid uk-grid-small uk-margin">
				<div class="uk-panel">
					<div class="clientid">
						<dl>
							<dt>{{'My ID:'|trans}}</dt><dd class="number-id">  {{ app.user.id }} </dd>
							<dt>{{' Name:'|trans}}</dt><dd class="data">  {% if app.user %}{{ app.user.firstname }} {{ app.user.lastname }}{% endif %} </dd>
							<dt> {{'Offices:'|trans}}</dt> <dd class="data"><span> 3 </span><a href="#">{{'view'|trans}}</a></dd>
						</dl>
					</div>
				</div>
				<div class="uk-panel">
					<div class="clientid">
						<dl>
							<dt class=""> {{'My balance:'|trans}}  </dt><dd id="balance" class="data"> $0.00</dd>
							<dd class="divider"><a href=""> {{'$Add'|trans}} </a><a href=""> {{'$Withdraw'|trans}} </a></dd>
							<dd class="divider"><a href=""> {{'$Transfer'|trans}} </a><a href=""> {{'$History'|trans}} </a></dd>
						</dl>
					</div>
				</div>
				<div class="uk-panel">
				<div class="clientid">
				<dl>
					<dt> {{'Membership:'|trans}}  </dt><dd id="status" class="data">  {{'Gold'|trans}} </dd>
					<dt> {{'Left time:'|trans}}  </dt><dd class="data">  11 {{'oct'|trans}} 14 </dd>
					<dt><a href=""> {{'Extend'|trans}}</a></dt><dd></dd>
				</dl>
			</div>
			</div>
		</div>
		</div>
			<div class="shadow-main">
{# ========= swicher table =========== #}
				<div class="button-swicher uk-grid uk-grid-small uk-width-1-1" data-uk-switcher="{connect:'#tab-office'}">
					<div class="uk-panel uk-width-1-3 uk-active">
						<button class="uk-width-1-1">{{'Book your trip'|trans}}</button>
					</div>
					<div class="uk-panel uk-width-1-3">
						<button class="uk-width-1-1">{{ 'Open orders'|trans }} <i class="mp-icon-taxi"></i> (8)</button>
					</div>
					<div class="uk-panel uk-width-1-3">
						<button class="uk-width-1-1">{{'All orders'|trans}}</button>
					</div>
				</div>
{# ========= swicher table ============ #}
				<ul id="tab-office" class="uk-switcher">
						<li class="uk-active">
							<div class="home">
						        <div class="steps-1-2-3">
						        	{% include 'DaVinciTaxiBundle:Home:buttonsStepsForOrder.html.twig' %}
						            {% include 'DaVinciTaxiBundle:Home:showSteps.html.twig' %}
									{% include 'DaVinciTaxiBundle:Home:map_block.html.twig' %}
								<div class="clear"></div>
						        </div>
							</div>
						</li>
						<li>
								<div class="whitebg">
									<div class="message"><span>{{ 'Attention!'|trans }} </span>{{ 'Choose driver by yourself!'|trans }}</div>
										<div class="table-container">
											<table class="uk-table"><colgroup><col class="number" /> <col class="id-driver" /> <col /></colgroup>
												<thead>
														<tr>
																<th>#</th>
																<th data-uk-tooltip="{pos:'top'}" title="{% trans %}Order ID on site{% endtrans %}">{{ 'TMP ID'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th data-uk-tooltip="{pos:'top-right'}" title="{% trans %}Check open orders{% endtrans %}">{{ 'My orders'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
														</tr>
												</thead>
												<tbody class="open-order-passenger">
													{% for request in requests %}
														<tr>
															<td>{{ loop.index }}</td>
															<td>{{ request.id }}</td>
															<td>
																<div class="uk-float-left route">
																	<a data-uk-modal="{target:'#route'}">{% for routePoint in request.routePoints %} {{ routePoint.place }}{% if not loop.last %} <i class="mp-icon-arrow-right"></i> {% endif %}{% endfor %}</a>
																</div>
																{% if request.stateValue == 'before-open' %}
																	<div class="passanger-pay">
																		<div class="y-no">
																			<button onclick="location.href='{{ path('passenger_request_payment', {'id': request.id}) }}'" class="uk-button">{{ 'Pay'|trans }}</button>
																			<button onclick="" class="uk-button">{{ 'Edit'|trans }}</button>
																		</div>
																	</div>
																{% else %}
																	<button class="uk-button driverlist" data-uk-toggle="{target:'#driver-list{{ loop.index }}'}"><b>{{ 'Drivers list: '|trans }}{{ request.getPossibleDriversNumber() }}</b><span>{{ 'Hide drivers list: 1, 2,...'|trans }}</span></button>
																	<div class="hidden-driverinfo uk-panel uk-panel-box uk-hidden" id="driver-list{{ loop.index }}">
																		{% for driver in request.getPossibleDrivers() %}
																			{% set driverUser = driver.user %}
																			{% set driverVehicle = driver.vehicle %}
																			{% set langs = driverUser.language %}
																			<div class="driver-over">
																				<div class="driver-top">
																						<div class="profile">
																							<img src="{{ asset('bundles/davincitaxi/images/driverphoto.png') }}" width="48" height="53" alt="profile photo" class="driver-photo"/>
																							<span class="name">
																								<a data-uk-modal="{target:'#about-driver'}">{{ driverUser.firstname }} {{ driverUser.lastname }}</a>
																							</span>
																							<br/>
																							<span class="proffesion uk-text-danger">
																								<i class="mp-icon-taxi uk-margin-small-right"></i>{{ 'independent driver'|trans }}
																							</span>
																							<br/>
																							<span class="rate"><i class="mp-icon-person uk-text-warning uk-margin-small-right"></i>214 <i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-danger"></i><i class="mp-icon-star uk-text-warning"></i></span>
																						</div>
																						<div class="vehicle">
																							<img src="{{ asset('bundles/davincitaxi/images/focus.png') }}" width="118" height="75" alt="ford-focus" class="drive-car"/>
																							<span class="name">{{ driverVehicle.make }} {{ driverVehicle.model }}</span><br/>
																							<span><i class="mp-icon-person"></i><b> {{ driverVehicle.seats }} </b><i class="mp-icon-bug"></i><b> {{ driverVehicle.luggages }} </b><i class="mp-icon-door"></i><b> {{ driverVehicle.doors }} </b></span>
																						</div>
																						<div class="y-no">
																							{% if request.stateValue == 'pending' %}
																								<button id="approve_driver_{{ request.id }}_{{ driver.id }}" type="button" class="approve-driver uk-button" value="0:{{ path('approve_request_status', {'id': request.id}) }}-1:{{ driver.id }}">{{ 'yes'|trans }}</button>
																							{% endif %}	
																							<button id="decline_dirver_{{ request.id }}_{{ driver.id }}" type="button" class="decline-driver uk-button" value="0:{{ path('decline_driver', {'id': request.id}) }}-1:{{ driver.id }}">{{ 'no'|trans }}</button>
																						</div>
																				</div>
																				<p class="about"><strong>{{ 'Languages:'|trans }}</strong> {{ langs.getSeparatedLanguages() }}</p>
																				<p class="about"><strong>{{ 'About driver:'|trans }}</strong>{{ driver.about }}</p>
																				<div class="call-driver uk-width-1-2 wk-width-small-1-1">
																						<span>{{ 'Contacts:'|trans }} </span>
																						<a class="uk-button uk-button-primary button-skype" data-uk-tooltip="{pos:'top'}" title="{% trans %}Pay to get driver's contacts{% endtrans %}">{{ 'Skype + Phone'|trans }}</a>
																				</div>
																			</div>
																			<div class="clr"></div>	
																		{% endfor %}
																	</div>
																{% endif %}	
															</td>
														</tr>		
													{% endfor %}
												</tbody>
											</table>
										</div>
								</div>
						</li>
						<li>
								<div class="whitebg">
										<div class="message"><span>{{ 'Attention!'|trans }}</span>{{ 'Choose driver by yourself!'|trans }}</div>
										<table class="uk-table responsive allorder">
												<thead>
														<tr>
																<th>#</th>
																<th data-uk-tooltip="{pos:'top'}" title="{% trans %}Order ID on site{% endtrans %}">{{ 'TMP ID'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th class="date-time" data-uk-tooltip="{pos:'top'}" title="{% trans %}Date and time of exact trip{% endtrans %}"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Date/Time'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th class="route" data-uk-tooltip="{pos:'top'}" title="{% trans %}Pick-up/drop off location{% endtrans %}">{{ 'Route'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th class="price" data-uk-tooltip="{pos:'top'}" title="{% trans %}Your fare{% endtrans %}"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Price'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th class="status" data-uk-tooltip="{pos:'top'}" title="{% trans %}Check bought deals{% endtrans %}"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Status'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th class="left-time" data-uk-tooltip="{pos:'top'}" title="{% trans %}Till your arrival{% endtrans %}"><span class="filter"></span><a class="sort" href="#"><i class="mp-icon-arrow-up"></i><i class="mp-icon-arrow-down uk-text-primary"></i></a>{{ 'Left time'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
																<th data-uk-tooltip="{pos:'top-right'}" title="{% trans %}Edit trip details{% endtrans %}">{{ 'Edit'|trans }}
																	<div class="questiontooltip">?</div>
																</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																<td>1</td><td class="timesent">0223240234</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td>{{ 'open'|trans }}</td><td>68:45:32</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary" data-uk-tooltip="{pos:'top'}" title="{% trans %}Edit{% endtrans %}">
																				</a>
																				<a class="mp-icon-closed uk-text-danger uk-modal-close" data-uk-tooltip="{pos:'top'}" title="{% trans %}Cancel{% endtrans %}">
																				</a>
																		</div>
																</td>
														</tr>	
														<tr>
																<td>2</td><td class="timesent">0223240235</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td>{{ 'pending'|trans }}</td><td>68:45:32</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-danger uk-modal-close" data-uk-tooltip="{pos:'top'}" title="{% trans %}Cancel{% endtrans %}">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>3</td><td class="timesent">0223240236</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td>{{ 'closed'|trans }}</td><td><span class="text-blue">48:12:21</span></td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>4</td><td class="timesent">0223240237</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td>{{ 'closed'|trans }}</td><td><span class="text-green">26:55:03</span></td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>5</td><td class="timesent">0223240238</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td>{{ 'closed'|trans }}</td><td><span class="text-red">13:55:03</span></td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>6</td><td class="timesent">0223240239</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td>
																<td class="rescue-driver">
																	<span>{{ 'solid'|trans }}</span>
																	<a class="avatar" data-uk-modal="{target:'#about-driver'}">
																		<img src="/bundles/davincitaxi/images/avatar.png" alt="">
																	</a>
																</td>
																<td>
																	<a href="#" class="uk-button uk-button-danger rescue">{{ 'Rescue'|trans }}</a>
																</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary" data-uk-tooltip="{pos:'top'}" title="{% trans %}Edit{% endtrans %}">
																				</a>
																				<a class="mp-icon-closed uk-text-danger uk-modal-close" data-uk-tooltip="{pos:'top'}" title="{% trans %}Cancel{% endtrans %}">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>7</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td>
																<td class="rescue-driver">
																	<span>{{ 'finished'|trans }}</span>
																	<a class="avatar" data-uk-modal="{target:'#about-driver'}">
																		<img src="/bundles/davincitaxi/images/avatar.png" alt="">
																	</a>
																</td>
																<td>
																	<a href="#" class="uk-button uk-button-success ticket">{{ 'Write a review'|trans }}</a>
																	<a href="#" class="uk-button uk-button-danger ticket">{{ 'Ticket'|trans }}</a>
																</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-primary" data-uk-tooltip="{pos:'top'}" title="{% trans %}Edit{% endtrans %}">
																				</a>
																				<a class="mp-icon-closed uk-text-danger uk-modal-close" data-uk-tooltip="{pos:'top'}" title="{% trans %}Cancel{% endtrans %}">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>8</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>9</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>10</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
														<tr>
																<td>11</td><td class="timesent">0223240212</td><td class="timesent">02 <span class="month">{{ 'mar'|trans }}</span> 14 <br><span class="timehere"> 18:00</span></td><td><a data-uk-modal="{target:'#route'}">{{ 'Russia'|trans }},{{ ' Moscow'|trans }}<br>{{ 'From'|trans }}: {{ 'aeroport Domodedovo'|trans }} - {{ 'To'|trans }}:  - {{ 'center'|trans }}</a></td><td>$783.85</td><td><a data-uk-modal="{target:'#about-driver'}"><i class="mp-icon-taxi uk-text-primary"></i></a><br /><span class="uk-text-danger"><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star"></i><i class="mp-icon-star uk-text-warning"></i></span></td><td>00:00:00</td>
																<td>
																		<div class="edit-close">
																				<a class="mp-icon-edit uk-text-warning">
																				</a>
																				<a class="mp-icon-closed uk-text-warning">
																				</a>
																		</div>
																</td>
														</tr>
												</tbody>
										</table>
								</div>
						</li>
				</ul>
			</div>
	</div>
</div>
{# ========= Table ========= #}

{# ========= profile ========= #}
<script>
    var office_passenger_profile = '{{ url('office_passenger_profile') }}';
</script>
<div id="Profile" class="uk-modal pop-up">
    <div class="uk-modal-dialog passenger" id="profile-dialog"  data-uk-observe>
    </div>
</div>

{# ========= rout ========== #}
{% include "FOSUserBundle:Offices:office_passenger_profile_route_dialog.html.twig" %}

{# ========= about-driver ========== #}
{% include "FOSUserBundle:Offices:office_passenger_profile_about_driver_dialog.html.twig" %}
 
{% endblock %}

{% block javascripts %}
    <script>
        var liphone_utils_path = "{{ asset('bundles/davincitaxi/js/intl-tel-input-master/lib/libphonenumber/build/utils.js') }}";
    </script>
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/offices/office.passenger.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}
