<a class="uk-modal-close uk-close"></a>
{{ form_start(form, {'action': path('office_driver_profile'),'attr': {'class': 'uk-form driver-profile-form'}}) }}
<div class="popup-head">{{'Begin you profile'|trans}}</div>
<div class="uk-grid uk-grid-small driver-profile">
    <div class="block-foto-rate">
        <div class="uk-grid uk-grid-small">
            <div class="block-foto">
                <div class="clientreviews">
                    <div class="photo">
                        {% if app.user.independentDriver.vehicle is not null and app.user.independentDriver.vehicle.photo.path is defined %}
                            <img src="{{ app.user.independentDriver.vehicle.photo.path|imagine_filter('profile_avatar') }}" alt="{{'driver:'|trans}}{{ app.user.firstname }} {{ app.user.lastname }}" id="avatar-image"/>
                        {% else %}
                            <img src="{{ asset('bundles/davincitaxi/images/phptpapparat.png') }}" id="avatar-image" >
                        {% endif %}
                    </div>
                    <div class="rate">
                        <p>{{'Rate this driver'|trans}}</p>
                        <p>
                            <a><i class="mp-icon-star uk-text-danger"></i></a>
                            <a><i class="mp-icon-star uk-text-danger"></i></a>
                            <a><i class="mp-icon-star uk-text-danger"></i></a>
                            <a><i class="mp-icon-star uk-text-danger"></i></a>
                            <a><i class="mp-icon-star uk-text-warning"></i></a>
                        </p>
                        <p><i class="mp-icon-person uk-text-warning"></i>217</p>
                    </div>
                </div>
                <div class="">
                    <a href="{{ path('reviews', {'reviewColumn': 'drivers'}) }}" class="uk-button uk-button-success button-add">{{ 'Write a review'|trans }}</a>
                </div>
            </div>
            <div class="block-rate">
                <div class="rate-review">
                    <div class="uk-grid uk-grid-small uk-margin-small">
                        <div class="uk-width-1-1 uk-margin-small">
                            <div class="uk-width-1-1 uk-text-primary name">{{ app.user.firstname }} {{ app.user.lastname }}</div>
                            <div class="uk-width-1-1 rate">
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-warning"></i></a>
                                / 09.01.2014
                            </div>
                            <div class="uk-width-1-1 review">
                                {{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
                            </div>
                        </div>
                        <div class="uk-width-1-1 uk-margin-small">
                            <div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
                            <div class="uk-width-1-1 rate">
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-danger"></i></a>
                                <a><i class="mp-icon-star uk-text-warning"></i></a>
                                / 09.01.2014
                            </div>
                            <div class="uk-width-1-1 review">
                                {{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
                            </div>
                        </div>
                        <div class="uk-hidden" id="review">
                            <div class="uk-width-1-1 uk-margin-small">
                                <div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
                                <div class="uk-width-1-1 rate">
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-warning"></i></a>
                                    / 09.01.2014
                                </div>
                                <div class="uk-width-1-1 review">
                                    {{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
                                </div>
                            </div>
                            <div class="uk-width-1-1 uk-margin-small">
                                <div class="uk-width-1-1 uk-text-primary name">{{'Александр'|trans}} {{'Иванов'|trans}}</div>
                                <div class="uk-width-1-1 rate">
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-danger"></i></a>
                                    <a><i class="mp-icon-star uk-text-warning"></i></a>
                                    / 09.01.2014
                                </div>
                                <div class="uk-width-1-1 review">
                                    {{'Выполненной поездкой остались очень довольны. Как результатом так и процессом. Надеемся на дальнейшее сотрудничество.'|trans}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1"><a class="uk-button button-add uk-margin-small-bottom"  data-uk-toggle="{target:'#review'}">{{'See all'|trans}} <font class="uk-text-warning">(28)</font></a></div>
            </div>
        </div>
    </div>
    <div class="profile form-change select-group">
        <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
            <li class="uk-parent">
                <a class="popup-head uk-button inbox" href="#">{{'Personal information'|trans}}
                    <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span>
                </a>
                <ul class="uk-nav-sub">
                    <li>
                        <div class="personal-info">
                            <dl class="uk-width-1-1 uk-margin-bottom">
                                <div class="myid">
                                    <dt>{{ 'My ID:'|trans }}</dt><dd>{{ app.user.id }}</dd><br />
                                </div>
                                <dt>{{'First Name:'|trans}}<dd>
                                    {{ form_widget(form.user.firstname, {'attr':{'tabindex':'1'} }) }}
                                    {{ form_errors(form.user.firstname) }}
                                </dd></dt><br />
                                <dt>{{'Last Name:'|trans}}<dd>
                                    {{ form_widget(form.user.lastname, {'attr':{'tabindex':'2'} }) }}
                                    {{ form_errors(form.user.lastname) }}
                                </dd></dt><br />
                                <dt>{{'E-mail:'|trans}}<dd>
                                    {{ form_widget(form.user.email, {'attr':{'tabindex':'3'} }) }}
                                    {{ form_errors(form.user.email) }}
                                </dd></dt><br />
                                <dt>{{'Country:'|trans}}
                                <dd>
                                        {{ form_widget(form.address.country,
                                        {'attr':{'class': 'uk-width-1-1 float_left country_selector', 'data-errormessage-value-missing': 'Country is required',  'data-errormessage': 'Country is required',
                                                 'tabindex':'4'}}) }}
                                    {{ form_errors(form.address.country) }}
                                </dd></dt><br />
                                <dt>{{'City:'|trans}}
                                <dd>
                                        {{ form_widget(form.address.countrycity,
                                            {'attr':{'class': 'uk-width-1-1 float_left city_selector', 'data-errormessage-value-missing': 'City is required',  'data-errormessage': 'City is required',
                                                     'tabindex':'5'}}) }}
                                    {{ form_errors(form.address.countrycity) }}
                                </dd></dt><br />
                                <dt>{{'English:'|trans}}
                                <dd>
                                        {{ form_widget(form.language.level,
                            {'attr':{'class': 'float_left', 'data-errormessage-value-missing': 'Please select an option',  'data-errormessage': 'Please select an option', 'tabindex':'6'}}) }}
                                        
                                {{ form_errors(form.language.level) }}
                                </dd></dt><br />
                                <dt>{{'Other language:'|trans}}
                                <dd class="addlangline">
                                    <input hidden id="language_prototype" value = "{{ form_widget(form.language.languages.vars.prototype,
                                    {'attr':{'class': 'uk-width-1-1 float_left'}})|e }}<div class='mp-icon-closed lang-close'></div>">
                                    <div class="uk-form-controls">
                                        <div class="uk-width-1-1 style1">
                                            {% for lang in form.language.languages %}
                                                {{ form_widget(lang,
                                                {'attr':{'class': 'float_left'}}) }}
                                                <div class='mp-icon-closed lang-close'></div>
                                                {{ form_errors(lang) }}
                                            {% endfor %}
                                            {% do form.language.setRendered() %}
                                            <div class="addotherlanguage button-add-lang uk-button uk-button-primary uk-width-1-1">{{'Add language'|trans}}</div>
                                        </div>
                                    </div>
                                </dd></dt><br />
                                <dt>{{'Driving Experience:'|trans}}
                                <dd>
                                         {{ form_widget(form.experience, {'attr':{'class': 'float_left', 'data-errormessage-value-missing': 'Please select how many years Drivers Licence',  'data-errormessage': 'Please select how many years Drivers Licence','tabindex':'7'}}) }}
                                </dd></dt><br />
                                <dt>{{'Skype:'|trans}}<dd>{{ form_widget(form.user.skype, {'attr':{'class': 'uk-width-1-1 float_left', 'data-errormessage-value-missing': 'Please enter your Skype',  'data-errormessage': 'Please enter your Skype', 'tabindex':'8'}}) }}</dd></dt><br />
                                <label class="addphoneline uk-form-row">
                                    <dt class="twolabels uk-width-2-5">
                                    {{'Mobile:'|trans}}<br>
                                   {# <span class="uk-hidden-small">{{'Mark if you have:'|trans}}</span>#}
                                    </dt>
                                    <dd class="uk-form-controls addphoneareas">
                                        {% for phones in form.phones %}  
                                            {{ include('DaVinciUserBundle:Registration:register_phone_block.html.twig', {'phones': phones}) }}
                                        {% endfor %}     
                                        {% do form.phones.setRendered() %}
                                        <div class="addphone uk-width-1-1" id="addphone">
                                            <span class="uk-float-left">
                                                {{'Add mobile'|trans}}
                                            </span>
                                        </div>
                                    </dd>
                                </label>
                                        <input hidden id="phone_prototype" value = "{{ form_widget(form.phones.vars.prototype.phone,
            {'attr':{'class': 'uk-width-1-1 float_left phoneinput',
                     'tabindex':'9'}})|e }}">
                                        <input hidden id="internet_prototype" value = "{{ form_widget(form.phones.vars.prototype.has_internet,
            {'attr':{'tabindex':'10'}})|e }}">
                                        <input hidden id="whatsapp_prototype" value = "{{ form_widget(form.phones.vars.prototype.has_whatsapp,
            {'attr':{'tabindex':'11'}})|e }}">
                                        <input hidden id="phone_block_prototype" value="{{ include('DaVinciUserBundle:Registration:register_phone_block.html.twig')|e }}">            
                                            
                                <dt>{{'Birthday:'|trans}}<dd>
                                    <div class="birthday">                        
                                        {{ form_widget(form.user.dateOfBirth, {'attr':{'tabindex':'12','class':'dateofbirth'} }) }}
                                        {{ form_errors(form.user.dateOfBirth) }}
                                    </div>
                                </dd></dt><br />
                                <dt>{{'Gender:'|trans}}<dd>
                                        {{ form_widget(form.user.gender, {'attr':{'tabindex':'13'} }) }}
                                        {{ form_errors(form.user.gender) }}
                                </dd></dt>
                                <dt class="example">{{'About me:'|trans}}<br><a href="#" id="about_me_example">{{'example'|trans}}</a>
                                <dd>
                                    {% set example = 'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.'|trans %}
                                    <script>
                                        var example_about = '{{ example }}';
                                        var saved_text = '';
                                    </script>
                                    {{ form_widget(form.about, {'attr':{'tabindex':'14','rows':'4','maxlength':'200','class':'charcount'} }) }}
                                    <h6 class="precounter">symbols left:</h6>
                                    {{ form_errors(form.about) }}
                                </dd></dt>
                            </dl>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
            <li class="uk-parent uk-active">
                <a class="popup-head uk-button inbox" href="#">{{'Car information'|trans}}
                    <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Write correct information{% endtrans %}"></span>
                </a>
                <ul class="uk-nav-sub">
                    <li>
                        <div class="car-info">
                            <dl>
                                <dt>{{'Brand:'|trans}}<dd>
                                            {{ form_widget(form.vehicle.make, {'attr':{'tabindex':'15'} }) }}
                                            {{ form_errors(form.vehicle.make) }}
                                </dd></dt>
                                <dt>{{'Model:'|trans}}<dd>
                                            {{ form_widget(form.vehicle.model, {'attr':{'tabindex':'16'} }) }}
                                            {{ form_errors(form.vehicle.model) }}
                                            
                                            <script>
                                                var selected_model = '{% if form.vars.value.vehicle is not null %}{{ form.vars.value.vehicle.model }}{% endif %}';
                                            </script>
                                    {#     
                                    <script>
                                        var get_model_ajax_url = '{{ path('ajax_car_by_maker') }}';
                                    </script> 
                                    #}
                                </dd></dt>
                                <dt>{{'Year:'|trans}}<dd>
                                        {{ form_widget(form.vehicle.year, {'attr':{'tabindex':'17'} }) }}
                                        {{ form_errors(form.vehicle.year) }}
                                </dd></dt>
                                <dt>{{'Color:'|trans}}<dd>
                                    {{ form_widget(form.vehicle.color, {'attr':{'tabindex':'18'} }) }}
                                    {{ form_errors(form.vehicle.color) }}
                                </dd></dt>
                                <dt>{{'Number plate:'|trans}}<dd>
                                    {{ form_widget(form.vehicle.plate, {'attr':{'tabindex':'19'} }) }}
                                        {{ form_errors(form.vehicle.plate) }}
                                </dd></dt>
                                <dt>{{'Class:'|trans}}
                                <dd>
                                        {{ form_widget(form.vehicle.vehicleClass, {'attr':{'tabindex':'20', 'class':'vehicle-class'} }) }}
                                        {{ form_errors(form.vehicle.vehicleClass) }}
                                </dd></dt>
                                <dt>{{'Other:'|trans}}
                                <dd>
                                    <div class="other">
                                        <div class="uk-panel">
                                            <i class="mp-icon-person uk-text-danger"></i>
                                                {{ form_widget(form.vehicle.seats, {'attr':{'tabindex':'21'} }) }}
                                                {{ form_errors(form.vehicle.seats) }}
                                        </div>
                                        <div class="uk-panel">
                                            <i class="mp-icon-bug uk-text-danger"></i>
                                                {{ form_widget(form.vehicle.luggages, {'attr':{'tabindex':'22'} }) }}
                                                {{ form_errors(form.vehicle.luggages) }}
                                        </div>
                                        <div class="uk-panel">
                                            <i class="mp-icon-door uk-text-danger"></i>
                                                {{ form_widget(form.vehicle.doors, {'attr':{'tabindex':'23'} }) }}
                                                {{ form_errors(form.vehicle.doors) }}
                                        </div>
                                    </div>
                                </dd></dt>
                                <dt> Photo: </dt>
                                <dd>
                                    <div class="uk-margin-small-bottom uk-margin-small-top">
                                        <div class="uk-form-file uk-width-1-1 uk-float-left">
                                            <button class="uk-button uk-button-primary uk-width-1-1 button-add-lang">{{'Add photo'|trans}}</button>
                                             {{ form_widget(form.vehicle.photo, {'attr':{'tabindex':'24'} }) }}
                                             {{ form_errors(form.vehicle.photo) }}
                                        </div>
                                    </div>
                                </dd>
                                <dt class="example">{{'Short description:'|trans}}<br><a href="#" id="about_vehicle_example">{{'example'|trans}}</a></dt>
                                <dd>
                                    {% set example_vehicle = 'The goal of the about:me page is to give you a more interesting view of statistics about your browser usage. The current version includes graphs that illustrate trends in your browsing.'|trans %}
                                    <script>
                                        var example_vehicle_about = '{{ example_vehicle }}';
                                        var saved_vehicle_text = '';
                                    </script>
                                    {{ form_widget(form.vehicle.about, {'attr':{'tabindex':'25','rows':'4','maxlength':'200','class':'charcount'} }) }}
                                    <h6 class="precounter">simbols left:</h6>
                                    {{ form_errors(form.vehicle.about) }}
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
            <li class="uk-parent uk-active">
                <a class="popup-head uk-button inbox" href="#">{{'Insurance'|trans}}
                    <span class="uk-icon-question-circle" data-uk-tooltip="{pos:'right'}" title="{% trans %}Getting the right cover is essential{% endtrans %}"></span>
                </a>
                <ul class="uk-nav-sub">
                    <li>
                        <div class="insurance">
                            {{ form_widget(form.insuranceAccepted,
                            {'attr':{'tabindex':'26','class': 'uk-float-left uk-margin-small-right'}}) }}
                            {{ form_errors(form.insuranceAccepted) }}
                            {{'You or/as any of other passengers are automatically insured during the transportation. Insurance plan covers all body injures.'|trans}}
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="uk-margin confirmation">
            <div class="uk-grid uk-grid-small">
                <div class="uk-panel uk-width-1-2">
                    <button type="submit" class="uk-button uk-button-success uk-width-1-1">{{'Save'|trans}}</button>
                </div>
                <div class="uk-panel uk-width-1-2">
                    <button class="uk-button uk-button-warning uk-width-1-1">{{'Cancel'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
