{% extends 'DaVinciTaxiBundle::base.html.twig' %}
{% block theme 'office-driver' %}
{% block title %}
    {% include 'DaVinciTaxiBundle:Banners:banner4.html.twig' %}
{% endblock %}
{% block body %}
{# ========= Account start ============= #}
<div class="client-account">
		<div class="shadow-main whitebg company-panel">
			<div class="uk-grid uk-grid-small client-panel-list block-help">
			{# block1 #}
				<div class="clientid">
					<a class="uk-button uk-button-primary" data-uk-modal="{target:'#Profile',bgclose:false}">{{'My profile'|trans}}</a>
					<dl>
						<dt>{{'My ID:'|trans}}</dt><dd class="number-id">7687796059</dd>
						<dt>{{' Name:'|trans}}</dt><dd class="data">Boris Ivanov</dd>
					</dl>
				</div>
			{# block2 #}
				<div class="offices-block">
					<div class="button-choose">
						<div class="choose-office select-group">
							<label>{{'Office:'|trans}}</label>
                            <select id="switch_office">
                                <option value="{{ path('office_passenger') }}">{{ 'Office Passenger'|trans }}</option>
                                <option value="{{ path('office_driver') }}" class="active-office">{{ 'Office Independent driver'|trans }}</option>
                            </select>
                        	<button id="activate_switch_office" class="uk-button uk-button-success">{{'Switch'|trans}}</button>
						</div>
						<div class="buttons-office">
							<a class="uk-button uk-button-primary">{{'My office'|trans}}</a>
						</div>
					</div>
					<div class="message">
						<div class="text">
							<span>{{'Внимание!'|trans}}</span>17 Mar 2015 заканчивается срок действия мембершипа “Оптимальный”
						</div>
						<a class="uk-button uk-button-danger">{{'Extend'|trans}}</a>
					</div>
				</div>
			{# block3 #}
				<div class="money-block">
					<div class="history">
						<span>{{'History:'|trans}}</span>
						<a class="uk-button uk-button-primary">TMP</a>
						<a class="uk-button uk-button-primary"><i class="mp-icon-basket"></i></a>
						<a class="uk-button uk-button-primary"><i class="mp-icon-dollar-circle"></i></a>
					</div>
					<div class="balance">
						<span>{{'Balance:'|trans}}</span>
						<a class="uk-button uk-button-danger"><span class="uk-icon-long-arrow-right"></span><i class="mp-icon-dollar-circle"></i></a>
						<a class="uk-button uk-button-danger"><i class="mp-icon-dollar-circle"></i><span class="uk-icon-long-arrow-right"></span></a>
						<a class="uk-button uk-button-danger"><i class="mp-icon-dollar-refresh"></i></a>
					</div>
					<div class="money">
						<dl>
							<dt>{{'Main:'|trans}}</dt>
							<dd>$0.00</dd>
						</dl>
						<dl>
							<dt>{{'Business:'|trans}}</dt>
							<dd>$0.00</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
{# ======= Independent-driver table ========= #}
<div class="wrapper-content">
    <div class="shadow-main">
{# ======= Swicher button ========= #}
            <div class="button-swicher uk-grid uk-grid-small uk-width-1-1">
	            <div class="uk-panel uk-width-1-3{% if method == 'find' %} uk-active{% endif %}">
				    <button class="uk-width-1-1" onclick='location.href = "{{ path('office_driver', {'method': 'find'}) }}"'>{{'Find orders'|trans}}</button>
			    </div>
			    <div class="uk-panel uk-width-1-3{% if method == 'open' %} uk-active{% endif %}">
				    <button class="uk-width-1-1" onclick='location.href = "{{ path('office_driver', {'method': 'open'}) }}"'>{{'Open orders'|trans}}</button>
			 	</div>
			    <div class="uk-panel uk-width-1-3{% if method == 'history' %} uk-active{% endif %}">
				    <button class="uk-width-1-1" onclick='location.href = "{{ path('office_driver', {'method': 'history'}) }}"'>{{'Order history'|trans}}</button>
				</div>
			</div>
{# ======= independent-driver table ========= #}
            <ul id="tab-content" class="uk-switcher">
                <li{% if method == 'find' %} class="uk-active"{% endif %}>
                    <div class="whitebg findorder">
                        <div class="message">
                            {# <span class="uk-text-danger">{{'Attention!'|trans}}</span> {{'Do not forget to confirm your ability to process an order!'|trans}} #}
                        </div> 
                            {% include 'DaVinciTaxiBundle:Home:filter_table.html.twig' %}
                        <div class="clear"></div>
                    </div>
                </li>
                <li{% if method == 'open' %} class="uk-active"{% endif %}>
                    <div class="whitebg openorder">
                        <div class="message">
                            {# <span class="uk-text-danger">{{'Attention!'|trans}} </span>{{'Choose driver by yourself!'|trans}}#}
                        </div>
                        <table class="uk-table responsive allorder">
                            <thead>
                                    <tr>
                                        <th>#</th>
                                        <th data-uk-tooltip="{pos:'top-left'}" title="{% trans %}Order ID on site{% endtrans %}">{{'TMP ID'|trans}}
                                            <div class="questiontooltip">?</div>
                                        <th class="left-time" data-uk-tooltip="{pos:'top'}" title="{% trans %}Till passenger's arrival{% endtrans %}" data-cached-title="{% trans %}Till passenger's arrival{% endtrans %}"><span class="filter"></span>{{'Time left'|trans}}
                                            <div class="questiontooltip">?</div>
                                        <th class="price" data-uk-tooltip="{pos:'top'}" title="{% trans %}Price set by passenger{% endtrans %}" data-cached-title="{% trans %}Price set by passenger{% endtrans %}"><span class="filter"></span>{{'Price'|trans}}
                                            <div class="questiontooltip">?</div>
                                        <th class="price" data-uk-tooltip="{pos:'top'}" title="{% trans %}Price set by passenger{% endtrans %}" data-cached-title="{% trans %}Price set by passenger{% endtrans %}"><span class="filter"></span>{{'Tips'|trans}}
                                            <div class="questiontooltip">?</div>	
                                        <th class="route" data-uk-tooltip="{pos:'top'}" title="{% trans %}Pending orders{% endtrans %}" data-cached-title="{% trans %}Pending orders{% endtrans %}">{{'Route'|trans}}
                                            <div class="questiontooltip">?</div>
                                        <th>
                                            <span class="filter" data-uk-tooltip="{pos:'top-right'}" title="{% trans %}Check your deals{% endtrans %}"></span>{{'Status'|trans}}
                                            <div class="questiontooltip">?</div>
                                    </tr>
                            </thead>
                            <tbody>
                                {% for request in openRequests if (request.stateValue == 'pending' or request.stateValue == 'sold' or request.stateValue == 'approved-sold') %}
                                    {% set tariff = request.getTariff() %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="timesent">{{ request.id }}</td>
                                        <td>{{ request.getPickUpLeft() }}</td>
                                        <td>${{ tariff.getPrice() }}</td>
                                        <td>${{ tariff.getTips() }}</td>
                                        <td>
                                            <a href="#route_open_{{ request.id }}" data-uk-modal>
                                                {% for routePoint in request.routePoints %} {{ routePoint.place }}{% if not loop.last %} <i class="mp-icon-arrow-right"></i> {% endif %}{% endfor %}
                                            </a>
                                        </td>
                                        <td>
                                            {% set requestDriver = request.driver %}
                                            {% if request.stateValue == 'pending' and request.isDriverInList(driver.id) == true %}
                                                <div class="order-status">
                                                    <span class="uk-text-success">{{"I\'m"|trans}}<br /><i data-uk-tooltip="{pos:'bottom'}" title="{% trans %}That's you!{% endtrans %}" class="mp-icon-taxi"></i></span>
                                                    <span><br>+ </span>
                                                    <span class="uk-text-danger">3<br /><i data-uk-tooltip="{pos:'bottom'}" title="{% trans %}Driver has membership{% endtrans %}" class="mp-icon-taxi"></i></span>
                                                    <span><br>+ </span>
                                                    <span class="uk-text-warning">2<br /><i data-uk-tooltip="{pos:'bottom'}" title="{% trans %}Driver hasn't membership{% endtrans %}" class="mp-icon-taxi"></i></span>
                                                    <span><br>= </span>
                                                    <span class="uk-text-primary">6<br /><i data-uk-tooltip="{pos:'bottom'}" title="{% trans %}All drivers{% endtrans %}" class="mp-icon-taxi"></i></span>
                                                </div>	
                                            {% elseif (request.stateValue == 'sold' or request.stateValue == 'approved-sold') and requestDriver is not null and driver.id != requestDriver.id %}
                                                <a class="uk-text-warning">{{'Sorry, try next time...'|trans}}</a>
                                            {% elseif request.stateValue == 'sold' and requestDriver is not null and driver.id == requestDriver.id %}
                                                <a class="uk-text-danger">{{'YES! Luck is yours!'|trans}}</a>
                                            {% elseif request.stateValue == 'approved-sold' and requestDriver is not null and driver.id == requestDriver.id %}
                                                {{'Deal confirmed'|trans}}
                                            {% endif %}	
                                        </td>
                                    </tr>
                                    {% from 'DaVinciTaxiBundle:Home:showPassengerRequest.html.twig' import showRequest %}
                                    {{ showRequest(request, 'open') }}
                                {% else %}
                                    <tr>
                                        <td colspan="7">{{ 'Orders not found'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li{% if method == 'history' %} class="uk-active"{% endif %}>
                    <div class="whitebg historyorder">
                        <div class="message">
                           {# <span class="uk-text-danger">{{'Attention!'|trans}} </span>{{'Choose driver by yourself!'|trans}} #}
                        </div>
                        <table class="uk-table responsive allorder">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th data-uk-tooltip="{pos:'top'}" title="{% trans %}Order ID on site{% endtrans %}">{{'TMP ID'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                    <th class="date-time" data-uk-tooltip="{pos:'top'}" title="{% trans %}Pick-up time{% endtrans %}">{{'Date/Time'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                    <th class="route" data-uk-tooltip="{pos:'top'}" title="{% trans %}Pick-up/drop off location{% endtrans %}">{{'Route'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                    <th class="price" data-uk-tooltip="{pos:'top'}" title="{% trans %}Price set by passenger{% endtrans %}">{{'Price'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                    <th class="status" data-uk-tooltip="{pos:'top'}" title="{% trans %}Check your deals{% endtrans %}">{{'Status'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                    <th class="left-time" data-uk-tooltip="{pos:'top'}" title="{% trans %}Till passenger's arrival{% endtrans %}">{{'Left time'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                    <th data-uk-tooltip="{pos:'top-right'}" title="{% trans %}You can cancel deal{% endtrans %}">{{'Refuse'|trans}}
                                        <div class="questiontooltip">?</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in openRequests if (request.isDriverInList(driver.id) == true) %}
                                    {% set tariff = request.getTariff() %}
                                    {% set pickUp = request.getPickUp() %}
                                    {% set requestDriver = request.driver %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="timesent">{{ request.id }}</td>
                                        <td class="timesent">{{ pickUp.format('d') }} <span class="month">{{ pickUp.format('M') }}</span> {{ pickUp.format('y') }}<br/><span class="timehere">{{ pickUp.format('H:s') }}</span></td>
                                        <td><a href="#route_history_{{ request.id }}" data-uk-modal>{% for routePoint in request.routePoints %} {{ routePoint.place }}{% if not loop.last %} <i class="mp-icon-arrow-right"></i> {% endif %}{% endfor %}</a></td>
                                        <td>${{ tariff.getTotalPrice() }}</td>
                                        <td id="request_status_{{ request.id }}">{% if request.stateValue == 'approved-sold' %}{{'sold'|trans}}{% else %}{{'on confirmation'|trans}}{% endif %}</td>
                                        <td>
                                            {% if request.stateValue == 'approved-sold' and requestDriver is not null and driver.id == requestDriver.id %}
                                                {{'Deal confirmed'|trans}}
                                            {% elseif request.stateValue == 'sold' and requestDriver is not null and driver.id == requestDriver.id %}
                                                <a id="confirm_{{ request.id }}" class="uk-button uk-button-success confirm-deal" value="0:{{ path('approve_request_status', {'id': request.id}) }}-1:{{ driver.id }}-2:{{ request.id }}">{{'Confirm deal'|trans}}</a>
                                            {% else %}
                                                {{ request.getPickUpLeft() }}	
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div>
                                                <a href="{{ path('cancel_request_status', {'id': request.id}) }}" data-uk-tooltip="{pos:'bottom'}" title="{% trans %}Cancel{% endtrans %}" class="mp-icon-closed uk-text-danger decline-deal">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% from 'DaVinciTaxiBundle:Home:showPassengerRequest.html.twig' import showRequest %}
                                    {{ showRequest(request, 'history') }}
                                {% else %}
                                    <tr>
                                        <td colspan="8">{{ 'Orders not found'|trans }}</td>
                                    </tr>    
                                {% endfor %}                                                    
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{# ========= Independent-driver table end ========= #}
</div>

{# ========= profile ========= #}
<script>
    var is_filled = '{{ app.user.independentDriver.insuranceAccepted }}';
    var office_passenger_profile = '{{ url('office_driver_profile') }}';
</script>
<div id="Profile" class="uk-modal pop-up driver-office">
    <div class="uk-modal-dialog driver" id="profile-dialog"  data-uk-observe>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var liphone_utils_path = "{{ asset('bundles/davincitaxi/js/intl-tel-input-master/lib/libphonenumber/build/utils.js') }}";
    </script>
    {% javascripts filter='?requirejs'
    '@DaVinciTaxiBundle/Resources/public/js/pages/offices/office.driver.js'
    %}

    {{ require_js_initialize({ 'main' : asset_url })}}

    {% endjavascripts %}
{% endblock %}